.button-secondary {
	background-color: #DEE0E2;
  box-shadow: 0 1px 0 #0b0c0c;
	color: #0b0c0c;
  border: #0b0c0c 1px solid;
  &[disabled]:active {
		background-color: #cbcbcb;
    box-shadow: 0 0px 0 #0b0c0c;
  }
}

.button-secondary:hover {
	background-color: darken(#DEE0E2, 5%);
	color: #0b0c0c;
}

.button-affordance {
	background-color: #DEE0E2;
	color: #0b0c0c;
  box-shadow: 0 1px 0 #0b0c0c;
  border: #0b0c0c 1px solid;
  span[class^="hod-"] {
      &::before {
  		color: #555D5E;
  	}
  }
  &[disabled]:active {
		background-color: #DEE0E2;
    box-shadow: 0 0px 0 #0b0c0c;
  }
}

.button-affordance:hover {
	background-color: darken(#DEE0E2, 5%);
	color: #0b0c0c;
}
