@mixin label ($label-background: #DEE0E2, $label-border: #CBCBCB, $label-text: #0B0C0C) {
    background: $label-background;
    color: #FFF;
    display: inline-block;
    line-height: 1;
    padding: 4px 5px 3px 5px;
    margin: 0 calc(2 * #{5px}) 5px 5px;
    text-align: left;
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
}
.label {
    @include label(#6F777B, #0B0C0C)
}
.label--white {
    @include label(#FFF)
    color: #0B0C0C;
    border: 1px solid #CBCBCB;
}
.label--blue {
    @include label(#005EA5, #005EA5)
}
.label--green {
    @include label(#00703c, #00703c)
}

.label--green {
    @include label(#00703c, #00703c)
}

.label--red {
    @include label(#B10E1E, #B10E1E)
}

@media (max-width: 641px) {
  .label, .label--white, .label--blue, .label--red {
    font-size: .85rem;
  }
}
