.navbar .navbar__list-items {
  padding-left: 0;

  li {
    display: inline-block;
    margin-bottom: 0;
    a {
      @include govuk-font(19, $weight: regular);
      @extend .bold-small;
      color: #0B0C0C;
      display: inline-block;
      padding: 15px 10px 10px 10px;
      margin-right: 15px;
      margin-bottom: 0;
      font-size: inherit;
      text-decoration: none;
      &:hover {
        color: #0B0C0C;
        border-bottom: 3px solid #0B0C0C !important;
      }
      &:focus {
        outline: 0;
      }
    }
    &.active a,
    &.active a:hover {
    color: #0B0C0C;
    border-bottom: 3px solid #0B0C0C !important;
    font-weight: bold;
    }
  }
}
