.status {
  background-color: #005EA5;
  color: #FFF;
  padding: 20px;

  p {
    font-weight: 700;
    color: #FFF;
  }

  .status-extra {
    font-weight: normal;
  }

  .govuk-button {
    color: #0B0C0C;
    margin-bottom: 0;
  }
}

@include govuk-media-query($from: tablet) {
  .status {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 24px;
      margin: 0;
    }

    .status-extra {
      font-size: 18px;
    }
  }
}
