<div class="">
  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-medium">Examples of badges</h2>
          <p><span class="badge">2</span> new tasks to do</p>
          <p><span class="badge--blue">2</span> new tasks to do</p>
          <p><span class="badge--red">2</span> new tasks to do</p>
      </div>
    </div>
  </div>

<h2 class="heading-medium">Examples of badges in context</h2>

<div class="">
	<div class="grid-row">
		<div class="column-full">
			<aside class="govuk-related-items">
				<h2 class="heading-medium">Manage account</h2>
				<p><a href="#">Update contact details</a></p>
				<p><a href="#">Add payment details</a></p>
				<h2 class="heading-medium">Messages</h2>
				<p><span class="badge--red">1</span><a href="#">New message</a></p>
			</aside>
		</div>
	</div>
</div>