&lt;div class="flash-card"&gt;
  &lt;header&gt;
    &lt;h1 class="heading-large"&gt;Before you continue&lt;/h1&gt;
  &lt;/header&gt;
  &lt;div class="grid-row"&gt;
    &lt;div class="column-two-thirds"&gt;
      &lt;p&gt;
        If you’ve changed your name since your last passport you’ll need to
        &lt;a href="#"&gt;change your passport information&lt;/a&gt;.
      &lt;/p&gt;
      &lt;p&gt;
        It usually takes about 3 weeks to get your new passport – if you need a passport urgently
        &lt;a href="#"&gt;use a different service&lt;/a&gt;.
      &lt;/p&gt;
      &lt;p&gt;
        If you think you are not recognisable since your last passport you’ll need to
        &lt;a href="#"&gt;apply in a different way&lt;/a&gt;.
      &lt;/p&gt;
      &lt;details role="group"&gt;
        &lt;summary role="button" aria-controls="details-content-0" aria-expanded="false"&gt;
          &lt;span class="summary"&gt;I need help with online services&lt;/span&gt;&lt;/summary&gt;
          &lt;div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true"&gt;
          &lt;p&gt;You can call the Passport Adviceline and ask for help&lt;/p&gt;
          &lt;p&gt;Telephone: 0300 330 0901&lt;br&gt;
            Textphone: 0300 330 0808&lt;br&gt;
            Monday to Friday, 8:00am to 8:00pm&lt;br&gt;
            Weekends and public holidays, 9:00am to 5:30pm&lt;br&gt;
            &lt;a href="#"&gt;Find out about call charges&lt;/a&gt;
          &lt;/p&gt;
          &lt;/div&gt;
        &lt;/details&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- &lt;a href="#" class="button" role="button"&gt;Continue&lt;/a&gt; --&gt;
    &lt;input class="button button-secondary" type="submit" value="Continue"&gt;
  &lt;/div&gt;
