<script async src="https://www.googletagmanager.com/gtag/js?id=UA-100424158-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-100424158-1');
</script>
<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" />
<link href="/public/kit-icons/icons.css" media="screen" rel="stylesheet" type="text/css" />
<script src="/public/javascripts/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!--<![endif]-->
