<div class="app-pane__subnav app-hide-mobile">
  <nav class="app-subnav" aria-labelledby="sidemenulabel">
    <h2 id="sidemenulabel" class="visuallyhidden">Side Menu</h2>

    <ul class="app-subnav__section">
      <li{% if activesub == "working" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/getinvolved/working">Working group</a>
      </li>
      <li{% if activesub == "backlog" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/getinvolved/backlog">Backlog</a>
      </li>
      <li{% if activesub == "propose" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/getinvolved/propose">Suggest new ideas</a>
      <li{% if activesub == "github" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
          <a class="app-subnav__link govuk-link" href="/getinvolved/githubguide">Using GitHub to propose design system changes</a>
      </li>
      <li{% if activesub == "stages" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/getinvolved/stages">Proving ideas work</a>
      </li>
      <li{% if activesub == "using" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/getinvolved/using">Using the system</a>
      </li>
    </ul>

  </nav>
</div>
