<div class="app-pane__subnav app-hide-mobile">
  <nav class="app-subnav">
    <ul class="app-subnav__section">
      <li{% if activesub == "check" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/confirmation-loop">Check and confirm</a>
      </li>
      <li{% if activesub == "help" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/help">Contextual help</a>
      </li>
      <li{% if activesub == "enquiry" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/enquiry">Enquiry form</a>
      </li>
      <!-- <li{% if activesub == "error" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/error-pages">Error pages</a>
      </li> -->
      <li{% if activesub == "guide-image" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/guidance-image">Guidance images</a>
      </li>
      <li{% if activesub == "auth" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/identifying-users">Identifying users</a>
      </li>
      <li{% if activesub == "interruption" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/interruption-card">Interruption card</a>
      </li>
      <li{% if activesub == "leave" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/sign-out">Leaving a service</a>
      </li>
      <li{% if activesub == "modal" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/modal">Modal window</a>
      </li>
      <li{% if activesub == "loops" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/multiple-loops">Multiple loops</a>
      </li>
      <li{% if activesub == "postcode" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/postcode">Postcode lookup</a>
      </li>
      <li{% if activesub == "upload" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/upload-file">Uploading (adding) files</a>
      </li>
    </ul>
  </nav>
</div>
