<div class="app-pane__subnav app-hide-mobile">
  <nav class="app-subnav">
    <ul class="app-subnav__section">
      <li{% if activesub == "alerts" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/components/alerts">Alerts</a>
      </li>
      <li{% if activesub == "back" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/components/back">Back link</a>
      </li>
      <li{% if activesub == "buttons" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/components/buttons">Buttons</a>
      </li>
      <!-- <li{% if activesub == "checkboxes" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/components/checkboxes">Checkboxes</a>
      </li> -->
      <li{% if activesub == "confirmation" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/components/confirm-pages">Confirmation pages</a>
      </li>
      <li{% if activesub == "highlights" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/components/highlighting-matches">Highlighted search matches</a>
      </li>
      <!-- <li{% if activesub == "icons" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/components/icons">Icons</a>
      </li> -->
      <li{% if activesub == "labels" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/components/labels">Labels</a>
      </li>
      <li{% if activesub == "pagination" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/components/pagination">Pagination</a>
      </li>
      <!-- <li{% if activesub == "radios" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/components/radios">Radio buttons</a>
      </li> -->
      <li{% if activesub == "side" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/components/side-tab">Side menu</a>
      </li>
      <li{% if activesub == "status" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/components/status">Status</a>
      </li>
      <li{% if activesub == "subnav" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/components/navigation">Sub-navigation</a>
      </li>
      <li{% if activesub == "multiselect" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/components/table-multiselect">Table multi-select</a>
      </li>
      <li{% if activesub == "timeline" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/components/timeline">Timeline</a>
      </li>

    </ul>
  </nav>
</div>
