<div class="app-pane__subnav app-hide-mobile">
  <nav class="app-subnav">

<!-- ASK USERS FOR -->

    <h4 class="app-subnav__theme">Ask users for…</h4>
    <ul class="app-subnav__section">

      <li{% if activesub == "addresses" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/addresses">Addresses</a>
      </li>

      <li{% if activesub == "brp" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/brp">Biometric residence card or permit details</a>
      </li>

      <li{% if activesub == "nationality" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/nationality">Nationality</a>
      </li>

    </ul>

<!-- HELP USERS TO -->

    <h4 class="app-subnav__theme">Help users to…</h4>
    <ul class="app-subnav__section">

      <li{% if activesub == "access-a-service" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/access-a-service">Access a service</a>
      </li>

      <!-- <li{% if activesub == "access-a-service-beta" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/access-a-service-beta.html">Access a service</a>

        <ul class="app-subnav__section app-subnav__section--nested">

          <li{% if activenest == "identity" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
            <a class="app-subnav__link govuk-link" href="/patterns/access-a-service-with-identity-documents">— with identity documents</a>
          </li>

          <li{% if activenest == "personal" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
            <a class="app-subnav__link govuk-link" href="/patterns/access-a-service-with-personal-details">— with personal details</a>
          </li>

          <li{% if activenest == "reference" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
            <a class="app-subnav__link govuk-link" href="/patterns/access-a-service-with-reference-numbers">— with reference numbers</a>
          </li>

          <li{% if activenest == "codes" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
            <a class="app-subnav__link govuk-link" href="/patterns/access-a-service-with-security-codes">— with security codes</a>
          </li>

        </ul>
      </li> -->

      <li{% if activesub == "add-multiple-things" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/add-multiple-things">Add multiple things</a>
      </li>


      <li{% if activesub == "check-confirm" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/check-and-confirm-details">Check and confirm details</a>
      </li>

      <li{% if activesub == "information-on-document" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/find-information-on-a-document">Find information on a document</a>
      </li>

      <li{% if activesub == "get-more-details" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/get-more-details">Get more details</a>
      </li>

      <li{% if activesub == "make-an-enquiry" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/make-an-enquiry">Make an enquiry</a>
      </li>

      <!-- <li{% if activesub == "error" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/error-pages">Error pages</a>
      </li> -->

      <li{% if activesub == "sign-out" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/sign-out">Sign out</a>
      </li>

      <li{% if activesub == "stop-timing-out" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/stop-a-service-timing-out">Stop a service timing out</a>
      </li>

      <li{% if activesub == "stop-and-think" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/stop-and-think">Stop and think</a>
      </li>

      <li{% if activesub == "upload" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/upload-files">Upload files</a>
      </li>
    </ul>

<!-- PAGES -->

    <!-- I've commented out this final pattern theme as we do not have the confirmation page complete -->

    <!-- <h4 class="app-subnav__theme">Pages…</h4>
    <ul>
      <li{% if activesub == "title" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/patterns/correct-link">Pattern name</a>
      </li>
    </ul> -->


  </nav>
</div>
