<div class="app-pane__subnav app-hide-mobile">
  <nav class="app-subnav">
    <ul class="app-subnav__section">
      <li{% if activesub == "colour" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/styles/colour">Colour</a>
      </li>
      <li{% if activesub == "images" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/styles/images">Images</a>
      </li>
      <li{% if activesub == "templates" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/styles/templates">Page templates</a>
      </li>
      <li{% if activesub == "typography" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/styles/typography">Typography</a>
      </li>
    </ul>
  </nav>
</div>
