<div class="app-pane__subnav app-hide-mobile">
  <nav class="app-subnav">

    <ul class="app-subnav__section">
      <li{% if activesub == "working" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/community/working">Working group</a>
      </li>
      <li{% if activesub == "backlog" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/community/backlog">Backlog</a>
      </li>
      <li{% if activesub == "propose" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/community/propose">Suggest new ideas</a>
      <li{% if activesub == "github" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
          <a class="app-subnav__link govuk-link" href="/community/githubguide">Using GitHub to propose design system changes</a>
      </li>
      <li{% if activesub == "stages" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/community/stages">Proving ideas work</a>
      </li>
      <li{% if activesub == "using" %} class="app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link govuk-link" href="/community/using">Using the system</a>
      </li>
    </ul>

  </nav>
</div>
