&lt;form action="" method="" enctype="multipart/form-data"&gt;
  &lt;div class="grid-row"&gt;
    &lt;div class="column-one-third"&gt;
      &lt;ul class="tab--nav"&gt;
        &lt;li&gt;
          &lt;a href="#0" class="active" data-target="main-content"&gt;
            Main content
          &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;a href="#0" class="" data-target="hidden-content-1"&gt;
            Hidden content #1
          &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;a href="#0" class="" data-target="hidden-content-2"&gt;
            Hidden content #2
          &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;hr style="margin:0"&gt;
          &lt;a href="#0" class="" data-target="hidden-content-3"&gt;
            Hidden content of a different type
          &lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class="column-two-thirds"&gt;
      &lt;div class="tab--content" id="main-content"&gt;
        &lt;h3 class="bold-medium"&gt;Main content heading&lt;/h3&gt;
        &lt;p&gt;A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.
        &lt;/p&gt;
      &lt;/div&gt;
      &lt;div class="tab--content js-hidden" id="hidden-content-1"&gt;
        &lt;h3 class="bold-medium"&gt;Hidden content #1 heading&lt;/h3&gt;
        &lt;p&gt;A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.
        &lt;/p&gt;
      &lt;/div&gt;
      &lt;div class="tab--content js-hidden" id="hidden-content-2"&gt;
        &lt;h3 class="bold-medium"&gt;Hidden content #2 heading&lt;/h3&gt;
        &lt;p&gt;A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.&lt;/p&gt;
      &lt;/div&gt;
      &lt;div class="tab--content js-hidden" id="hidden-content-3"&gt;
        &lt;h3 class="bold-medium"&gt;Hidden content of a different type heading&lt;/h3&gt;
        &lt;p&gt;A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;