&lt;div class="timeline"&gt;
  &lt;ul&gt;
    &lt;li&gt;
      &lt;p class="timeline-reference"&gt;20 Sep 2016 &lt;span class="time"&gt;14:05&lt;/span&gt;&lt;/p&gt;
      &lt;h2&gt;Application Approved&lt;/h2&gt;
      &lt;p&gt;Multiple paragraphs can even be a neat thing we use here.&lt;/p&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;h2 class="timeline-reference"&gt;15 Sep 2016 &lt;span class="time"&gt;10:15&lt;/span&gt;&lt;/h2&gt;
      &lt;h2&gt;In review&lt;/h2&gt;
      &lt;p&gt;This is where we would include some awesome sub-text or description text&lt;/p&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;h2 class="timeline-reference"&gt;03 Sep 2016 &lt;span class="time"&gt;18:55&lt;/span&gt;&lt;/h2&gt;
      &lt;h2&gt;Processing application&lt;/h2&gt;
      &lt;p&gt;This is where we would include some awesome sub-text or description text&lt;/p&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;h2 class="timeline-reference"&gt;29 Aug 2016 &lt;span class="label"&gt;sent&lt;/span&gt;&lt;/h2&gt;
      &lt;h2&gt;Application submitted&lt;/h2&gt;
      &lt;p&gt;This is where we would include some awesome sub-text or description text&lt;/p&gt;
    &lt;/li&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;h2 class="timeline-reference"&gt;28 Aug 2016&lt;/h2&gt;
      &lt;h2&gt;Application uploaded&lt;/h2&gt;
      &lt;p&gt;This is where we would include some awesome sub-text or description text. This is where we would include some awesome sub-text or description text&lt;/p&gt;
      &lt;details role="group"&gt;
        &lt;summary role="button" aria-controls="details-content-0" aria-expanded="false"&gt;
          &lt;span class="summary"&gt;What is this report?&lt;/span&gt;&lt;/summary&gt;
          &lt;div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true"&gt;
          &lt;p&gt;You can include more information in here&lt;/p&gt;
          &lt;/p&gt;
          &lt;/div&gt;
        &lt;/details&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;