  <nav class="app-navigation govuk-clearfix">

      <ul class="app-navigation__list">
        <li{% if active == "styles" %} class="current-page"{% endif %}>
          <a class="govuk-link" href="/styles">Styles</a>
        </li>
        <li{% if active == "components" %} class="current-page"{% endif %}>
          <a class="govuk-link" href="/components">Components</a>
        </li>
        <li{% if active == "patterns" %} class="current-page"{% endif %}>
          <a class="govuk-link" href="/patterns">Patterns</a>
        </li>
        <li{% if active == "resources" %} class="current-page"{% endif %}>
          <a class="govuk-link" href="/resources">Resources</a>
        </li>
        <li{% if active == "community" %} class="current-page"{% endif %}>
          <a class="govuk-link" href="/community">Get involved</a>
        </li>
      </ul>

  </nav>
