{% extends "layout.html" %}
{% set active = "components" %}
{% set activesub = "back" %}

{% block pageTitle %}
Back link - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__components.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">

      <span class="govuk-caption-xl">Components</span>
      <h1 class="heading-section">Back link</h1>
      <p class="govuk-body-l">A control to navigate back to the previous page of a service.</p>

      <h2 class="govuk-heading-m" id="example-component">Example components</h2>
      <div class="example example-images">
        <div class="govuk-grid-row">
          {% include "includes/components/back.html" %}
        </div>
      </div>
      <div class="example example-images">
        <div class="govuk-grid-row">
          {% include "includes/components/back-alt.html" %}
        </div>
      </div>
      <details class="code-details details-margin-btm">
        <summary>HTML</summary>
        <pre><code class="html">{% filter escape %}{% include "includes/components/back.html" %}{% endfilter %}</code></pre>
      </details>

      <h2 class="govuk-heading-m">When to use this component</h2>
      <p>Always include a back link on question pages.</p>

      <h2 class="govuk-heading-m">When not to use this component</h2>
      <p>Don’t use the back link component together with breadcrumbs. On non-linear flows a back link could confuse users. Do research to see what works for your service.</p>

      <h2 class="govuk-heading-m">How to use</h2>
      <p>Adding a page title or ‘back to previous page’ makes it clearer to the user what to expect from the interaction. It also helps increase a users confidence that they will not lose their work.</p>
      <p>Back links should always be at the top of a page. Make sure the link takes users to the previous page and that it works without JavaScript.</p>

      <h2 class="govuk-heading-m">User research</h2>
      <p>We have seen some users not understand the context of the current back link design. This has caused them anxiety.</p>
      <p>Some users have been concerned that using the back link would lose their work.</p>

      <div class="contact-us">
       <h2 class="govuk-heading-m">Get in touch</h2>
       <p>If you’ve got a question or suggestion share it on the Slack <a href="slack://channel?id=CTXV6L1K4&team=T03TJ3P61">#ho-design-system</a> channel, on <a href="https://github.com/UKHomeOffice/design-system">GitHub</a> or email the design system working group on <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>.</p>
     </div>

    </div>
  </main>
</div>

{% endblock %}
