{% extends "layout.html" %}

{% block page_title %}
  Home Office DDaT design patterns
{% endblock %}

{% block content %}

{% set active = "components" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-section">Buttons</h1>
      <p class="lede">Buttons should be used when a user needs to take an action, submit data, or make a change to the page. For navigation a text link is sufficient.</p>
      <ul class="metadata">
        <li>Usage: internal</li>
        <li>Status: experimental</li>
        <li>Last updated: 5 September 2017</li>
      </ul>

      <h2 class="heading-medium" id="example-component">Example components</h2>
      <div class="example example-images">
        <div class="grid-row">
          <div class="column-two-thirds">
            <h3 class="heading-medium">Primary action</h3>
            <p>This component continues from <a href="http://govuk-elements.herokuapp.com/buttons">GOV.UK elements</a>, the <code>disabled</code> button removes the affordance style.</p>
            {% include "includes/components/buttons.html" %}
          </div>
        </div>
      </div>
      <details>
        <summary>Show code snippet</summary>
        <pre class="language-markup"><code class="language-markup">{% filter escape %}{% include "includes/components/buttons.html" %}{% endfilter %}</code></pre>
      </details>

      <div class="example example-images">
        <div class="grid-row">
          <div class="column-two-thirds">
            <h3 class="heading-medium">Primary action (alternate)</h3>
            <p>This is also a primary button, it should only be used on solid colour backgrounds when the level of contrast is strong enough (see <a href="../patterns/interruption-card">interruption card</a> and <a href="../patterns/confirm-pages">confirm pages</a>.)</p>
            {% include "includes/components/button-primary-alt.html" %}
          </div>
        </div>
      </div>
      <details>
        <summary>Show code snippet</summary>
        <pre class="language-markup"><code class="language-markup">{% filter escape %}{% include "includes/components/button-primary-alt.html" %}{% endfilter %}</code></pre>
      </details>


      <h2 class="heading-medium" id="example-component">Example component</h2>
      <div class="example example-images">
        <div class="grid-row">
          <div class="column-two-thirds">
            <h3 class="heading-medium">Secondary action</h3>
            <p>Services should avoid having multiple buttons on a page. Admin interfaces can occassionaly require additional actions on a screen, research with users to understand their needs.</p>
            {% include "includes/components/buttons-secondary.html" %}
          </div>
        </div>
      </div>
      <details>
        <summary>Show code snippet</summary>
        <pre class="language-markup"><code class="language-markup">{% filter escape %}{% include "includes/components/buttons-secondary.html" %}{% endfilter %}</code></pre>
      </details>
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-medium">Why have we created this pattern?</h2>
      <p>To define buttons types and when to use each type. We have included secondary buttons, for use on admin interfaces. Removing the affordance style from <code>disabled</code> buttons as well as adding opacity to show visually it can not be pressed.</p>

      <h2 class="heading-medium">Interaction principles</h2>
      <ul class="list list-bullet">
        <li>buttons should look like buttons</li>
        <li>buttons need to have a good level of affordance, so that users know that something meaningful will happen if they click a button</li>
        <li>buttons can have an icon to further support their action or state</li>
        <li>don't make things that aren't buttons look like buttons</li>
        <li>avoid secondary actions unless you see a need for one in research</li>
        <li>primary actions should be aligned with input fields to increase completion rates</li>
      </ul>

      <h2 class="heading-medium">Content principles</h2>
      <ul class="list list-bullet">
        <li>label buttons with what they do</li>
      </ul>

      <h2 class="heading-medium">Accessibility principles</h2>
      <ul class="list list-bullet">
        <li>buttons should have clear hover and focus states</li>
        <li>use a <code>button</code> tag with a <code>role='button'</code></li>
      </ul>

      <h2 class="heading-medium">User research</h2>
      <ul class="list list-bullet">
        <li>users sometimes confuse grey buttons with disabled buttons</li>
        <li>users sometimes confuse white buttons with input fields</li>
        <li>white buttons worked better in <a href="../patterns/confirm-pages">confirmation pages</a> and <a href="../patterns/flash-card">interruption cards</a> </li>
      </ul>

      <h2 class="heading-medium">Services using this pattern</h2>
      <ul class="list list-bullet">
        <li>Application platform</li>
        <li>Right to work</li>
        <li>Home Office Communications</li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
