{% extends "layout.html" %}

{% block page_title %}
  Home Office DDaT design patterns
{% endblock %}

{% block content %}

{% set active = "components" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-section">Cards</h1>
      <p class="lede">Groups content into a card, potentially a link, with optional footer to provide additional content.</p>
      <ul class="metadata">
        <li>Usage: internal/external</li>
        <li>Status: experimental</li>
        <li>Last updated: 30 June 2017</li>
      </ul>

      <h2 class="heading-medium" id="example-component">Example component</h2>
      <div class="example example-images">
        <div class="grid-row">
          {% include "includes/components/cards.html" %}
        </div>
      </div>
      <details>
        <summary>Show code snippet</summary>
        <pre class="language-markup"><code class="language-markup">{% filter escape %}{% include "includes/components/cards.html" %}{% endfilter %}</code></pre>
      </details>
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-medium">To do</h2>
      <p>Define buttons types and how to use multiple buttons on a single screen</p>

    </div>

    <div class="column-full">
      <hr>
      <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/56">Discuss this pattern on GitHub</a>
    </div>
  </div>
</main>

{% endblock %}
