{% extends "layout.html" %}
{% set active = "components" %}

{% block pageTitle %}
Cards - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__components.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">

      <span class="govuk-caption-xl">Components</span>
      <h1 class="heading-section">Cards</h1>
      <p class="govuk-body-l">Groups content into a card, potentially a link, with optional footer to provide additional content.</p>

      <h2 class="govuk-heading-m" id="example-component">Example component</h2>
      <div class="example example-images">
        <div class="govuk-grid-row">
          {% include "includes/components/cards.html" %}
        </div>
      </div>
      <details class="code-details">
        <summary>HTML</summary>
        <pre><code class="html">{% filter escape %}{% include "includes/components/cards.html" %}{% endfilter %}</code></pre>
      </details>
      <details class="code-details details-margin-btm">
        <summary>CSS</summary>
        <pre><code class="css">{{'./app/assets/sass/components/_cards.scss' }}</code></pre>
      </details>

      <h2 class="govuk-heading-m">To do</h2>
      <p>Define buttons types and how to use multiple buttons on a single screen</p>

      <div class="contact-us">
       <h2 class="govuk-heading-m">Get in touch</h2>
       <p>If you’ve got a question or suggestion share it on the Slack <a href="slack://channel?id=CTXV6L1K4&team=T03TJ3P61">#ho-design-system</a> channel, on <a href="https://github.com/UKHomeOffice/design-system">GitHub</a> or email the design system working group on <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>.</p>
     </div>

    </div>
  </main>
</div>

{% endblock %}
