{% extends "layout.html" %}

{% block page_title %}
  Home Office DDaT design patterns
{% endblock %}

{% block content %}

{% set active = "components" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-section">Checkboxes</h1>
      <p class="lede">Smaller checkboxes for multi-use and internal services when the GOV.UK style is too big.</p>
      <ul class="metadata">
        <li>Usage: internal</li>
        <li>Status: experimental</li>
        <li>Last updated: 19 July 2017</li>
      </ul>

      <h2 class="heading-medium" id="example-component">Example component</h2>
      <div class="example example-images">
        <div class="grid-row">
          {% include "includes/components/checkboxes.html" %}
        </div>
      </div>
      <!-- <details>
        <summary>Show code snippet</summary>
        <pre class="language-markup"><code class="language-markup">{% include "includes/components/buttons-code.html" %}</code></pre>
      </details> -->
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-medium">Why have we created this pattern?</h2>
      <p>GOV.UK styling for check boxes might not always be appropriate for multi-use interfaces.</p>

      <!-- <h2 class="heading-medium">Interaction principles</h2>
      <ul class="list list-bullet">
        <li>buttons should look like buttons</li>
        <li>buttons need to have a good level of affordance, so that users know that something meaningful will happen if they click a button</li>
        <li>buttons can have an icon to further support their action or state</li>
        <li>don't make things that aren't buttons look like buttons</li>
        <li>avoid secondary actions unless you see a need for one in research</li>
        <li>primary actions should be aligned with input fields to increase completion rates</li>
      </ul>

      <h2 class="heading-medium">Content principles</h2>
      <ul class="list list-bullet">
        <li>label buttons with what they do</li>
      </ul>

      <h2 class="heading-medium">Accessibility principles</h2>
      <ul class="list list-bullet">
        <li>buttons should have clear hover and focus states</li>
        <li>use a 'button' tag with a role='button'</li>
      </ul> -->

      <h2 class="heading-medium">User research</h2>
      <ul class="list">
        <li>We have identified this might be a need but need further research to confirm.</li>
        <li>From the small amount of research we have, we haven't identified any issues with the size.</li>
      </ul>

      <h2 class="heading-medium">Services using this pattern</h2>
      <ul class="list list-bullet">
        <li>Application platform</li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
