{% extends "layout.html" %}

{% block page_title %}
  Home Office DDaT design patterns
{% endblock %}

{% block content %}

{% set active = "components" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <div class="banner" role="banner">
        <h1 class="heading-section">Checkboxes</h1>
        <p class="lede">Smaller checkboxes for multi-use and internal services when the GOV.UK style is too big.</p>
        <ul class="metadata">
          <li>Usage: internal</li>
          <li>Status: experimental</li>
          <li>Last updated: 19 July 2017</li>
        </ul>
      </div>

      <h2 class="visually-hidden" id="example-component">Example checkbox component</h2>
      <div class="example example-images">
        <div class="grid-row">
          {% include "includes/components/checkboxes.html" %}
        </div>
      </div>
      <details class="code-details">
        <summary>Show HTML snippet</summary>
        <pre class="language-markup"><code class="language-markup">{% filter escape %}{% include "includes/components/checkboxes.html" %}{% endfilter %}</code></pre>
      </details>
      <details class="code-details">
        <summary>Show CSS snippet</summary>
        <pre class="language-css"><code class="language-css">{{'./app/assets/sass/components/_checkboxes.scss' | fileInclude }}</code></pre>
      </details>
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-medium">Why have we created this pattern?</h2>
      <p>GOV.UK styling for check boxes might not always be appropriate for multi-use interfaces.</p>

      <h2 class="heading-medium">User research</h2>
      <ul class="list">
        <li>From the research we have, we haven't identified any issues with the size or usability of the smaller checkboxes.</li>
      </ul>

      <h2 class="heading-medium">Services using this pattern</h2>
      <ul class="list list-bullet">
        <li>Application platform</li>
        <li>DAP</li>
      </ul>

    </div>

    <div class="column-full">
      <div class="contact-us">
        <h2 class="heading-medium">Get in touch</h2>
        <p>If you’ve got a question or suggestion share it on Slack <a href="slack://channel?id=C0FR8PE8Z&team=T03TJ3P61">#interaction-designers channel</a> or on <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/48">GitHub</a>.</p>
      </div>
    </div>

  </div>
</main>

{% endblock %}
