{% extends "layout.html" %}

{% block page_title %}
  Pattern - Highlighter search matches
{% endblock %}

{% block content %}

{% set active = "components" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <div class="banner" role="banner">
        <h1 class="heading-section">Highlighted search matches</h1>
        <p class="lede">Highlighting helps users identify matching data.</p>
        <ul class="metadata">
          <li>Usage: external/internal</li>
          <li>Status: experimental</li>
          <li>Last updated: 28 June 2017</li>
        </ul>
      </div>

      <h2 class="visually-hidden" id="example-component">Example highlighting component</h2>
      <div class="example example-images">
        <div class="grid-row">
          {% include "includes/components/highlighting.html" %}
        </div>
      </div>
      <details class="code-details">
        <summary>Show HTML snippet</summary>
        <pre class="language-markup"><code class="language-markup">{% filter escape %}{% include "includes/components/highlighting.html" %}{% endfilter %}</code></pre>
      </details>
      <details class="code-details">
        <summary>Show CSS snippet</summary>
        <pre class="language-css"><code class="language-css">{{'./app/assets/sass/components/_highlights.scss' | fileInclude }}</code></pre>
      </details>
    </div>

    <div class="column-two-thirds">

      <h2 class="heading-medium">Interaction principles</h2>
      <p>Highlighting should be clear but not distract from the content on the page.</p>

      <h2 class="heading-medium">Accessibility principles</h2>
      <p>Highlighting should  not reduce colour contrast so much that it fails WCAG level AA.</p>

      <h2 class="heading-medium">Services using this pattern</h2>
      <ul class="list list-bullet">
        <li>Passport caseworking</li>
        <li>Application platform</li>
      </ul>

    </div>

    <div class="column-full">
      <hr>
      <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/41">Discuss this pattern on GitHub</a>
    </div>
  </div>
</main>

{% endblock %}
