{% extends "layout.html" %}

{% block page_title %}
  Home Office Digital design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
{% block alpha_banner %}
  {% include "includes/phase_banner_alpha.html" %}
{% endblock %}

  <!-- h1 class="heading-xlarge">Home Office Digital design patterns</h1 -->
  
  <div id="hod-row--aqua">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-medium">Icons</h2>
        <p>These are the full set of Home Office icons. You can download the individual icons.</p>
        <p>If there is an icon you require or would like to contribute to the set, <a href="#">send a request</a>.</p>
        <div class="block-space">
        <a href="#" class="button download-button download-button--large" role="button">Download all</a>
        </div>
      </div>
    </div>
  </div>

<div class="grid-row">
      <div class="column-full">
        <h2 class="heading-medium">Navigation</h2>
        <table>
          <tbody>
            <tr>
              <th class="table-summary-title">Icon</th>
              <th class="table-summary-title">Name</th>
              <th class="table-summary-title">Variable</th>
              <th class="table-summary-title--last">Download</th>
            </tr>
            <!-- hod-home-3 -->
            <tr>
              <th class="table-summary-content"><span class="hod-home3 side-space"></span></th>
              <th class="table-summary-content">home</th>
              <th class="table-summary-content"><code class="language-css">@hod-home-3</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
            <!-- hod-arrow-left -->
            <tr>
              <th class="table-summary-content"><span class="hod-arrow-left side-space"></span></th>
              <th class="table-summary-content">left</th>
              <th class="table-summary-content"><code class="language-css">@hod-arrow-left</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
            <!-- hod-arrow-down -->
            <tr>
              <th class="table-summary-content"><span class="hod-arrow-down side-space"></span></th>
              <th class="table-summary-content">down</th>
              <th class="table-summary-content"><code class="language-css">@hod-arrow-down</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
            <!-- hod-arrow-right -->
            <tr>
              <th class="table-summary-content"><span class="hod-arrow-right side-space"></span></th>
              <th class="table-summary-content">right</th>
              <th class="table-summary-content"><code class="language-css">@hod-arrow-right</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
            <!-- hod-arrow-up -->
            <tr>
              <th class="table-summary-content"><span class="hod-arrow-up side-space"></span></th>
              <th class="table-summary-content">up</th>
              <th class="table-summary-content"><code class="language-css">@hod-arrow-up</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
            <!-- hod-checkmark -->
            <tr>
              <th class="table-summary-content"><span class="hod-checkmark side-space"></span></th>
              <th class="table-summary-content">tick</th>
              <th class="table-summary-content"><code class="language-css">@hod-checkmark</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
            <!-- hod-cross -->
            <tr>
              <th class="table-summary-content"><span class="hod-cross side-space"></span></th>
              <th class="table-summary-content">cross</th>
              <th class="table-summary-content"><code class="language-css">@hod-cross</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
            <!-- hod-key -->
            <tr>
              <th class="table-summary-content"><span class="hod-key side-space"></span></th>
              <th class="table-summary-content">key</th>
              <th class="table-summary-content"><code class="language-css">@hod-key</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
          </tbody>
        </table>

        <h2 class="heading-medium">Filetype or 3rd party</h2>
        <table>
          <tbody>
            <tr>
              <th class="table-summary-title">Icon</th>
              <th class="table-summary-title">Name</th>
              <th class="table-summary-title">Variable</th>
              <th class="table-summary-title--last">Download</th>
            </tr>
            <!-- hod-file-empty -->
            <tr>
              <th class="table-summary-content"><span class="hod-file-empty side-space"></span></th>
              <th class="table-summary-content">file</th>
              <th class="table-summary-content"><code class="language-css">@hod-file-empty</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
            <!-- hod-film -->
            <tr>
              <th class="table-summary-content"><span class="hod-film side-space"></span></th>
              <th class="table-summary-content">video</th>
              <th class="table-summary-content"><code class="language-css">@hod-film</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
            <!-- hod-image -->
            <tr>
              <th class="table-summary-content"><span class="hod-image side-space"></span></th>
              <th class="table-summary-content">image</th>
              <th class="table-summary-content"><code class="language-css">@hod-image</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
            <!-- hod-file-pdf -->
            <tr>
              <th class="table-summary-content"><span class="hod-file-pdf side-space"></span></th>
              <th class="table-summary-content">pdf</th>
              <th class="table-summary-content"><code class="language-css">@hod-file-pdf</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
            <!-- hod-embed2 -->
            <tr>
              <th class="table-summary-content"><span class="hod-embed2 side-space"></span></th>
              <th class="table-summary-content">embed</th>
              <th class="table-summary-content"><code class="language-css">@hod-embed2</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
            <!-- hod-github -->
            <tr>
              <th class="table-summary-content"><span class="hod-github side-space"></span></th>
              <th class="table-summary-content">github</th>
              <th class="table-summary-content"><code class="language-css">@hod-github</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
          </tbody>
        </table>

        <h2 class="heading-medium">Communication</h2>
        <table>
          <tbody>
            <tr>
              <th class="table-summary-title">Icon</th>
              <th class="table-summary-title">Name</th>
              <th class="table-summary-title">Variable</th>
              <th class="table-summary-title--last">Download</th>
            </tr>
            <!-- hod-bubbles2 -->
            <tr>
              <th class="table-summary-content"><span class="hod-bubbles2 side-space"></span></th>
              <th class="table-summary-content">speech</th>
              <th class="table-summary-content"><code class="language-css">@hod-bubbles2</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
            <!-- hod-mobile -->
            <tr>
              <th class="table-summary-content"><span class="hod-mobile side-space"></span></th>
              <th class="table-summary-content">mobile</th>
              <th class="table-summary-content"><code class="language-css">@hod-mobile</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
            <!-- hod-printer -->
            <tr>
              <th class="table-summary-content"><span class="hod-printer side-space"></span></th>
              <th class="table-summary-content">printer</th>
              <th class="table-summary-content"><code class="language-css">@hod-printer</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
            <!-- hod-calendar -->
            <tr>
              <th class="table-summary-content"><span class="hod-calendar side-space"></span></th>
              <th class="table-summary-content">calendar</th>
              <th class="table-summary-content"><code class="language-css">@hod-calendar</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
            <!-- phone -->
            <tr>
              <th class="table-summary-content"><span class="hod-phone side-space"></span></th>
              <th class="table-summary-content">phone</th>
              <th class="table-summary-content"><code class="language-css">@hod-phone</code></th>
              <th class="table-summary-content"><a href="#" class="button download-button" role="button">Download</a></th>
            </tr>
          </tbody>
        </table>

      </div>
</div>



</main>

{% endblock %}
