{% extends "layout.html" %}

{% block page_title %}
  Home Office design components
{% endblock %}

{% block content %}

{% set active = "components" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-section">Components</h1>
      <p class="lede">Components are ready-made interface elements that can be used in many different patterns or layouts. They are part of our visual language and are intended to be used unchanged for a consistent user experience.</p>

      {% set components = [
        {
          name: "Buttons",
          link: "/components/buttons",
          label: "experimental",
          desc: "used when a user needs to take an action, submit data, or make a change to the page"
        },
        {
          name: "Back link",
          link: "/components/back",
          label: "experimental",
          desc: "a control to navigate back to the previous page of a service"
        },
        {
          name: "Tabs (side)",
          link: "/components/side-tab",
          label: "experimental",
          desc: "a side control for switching between views of grouped content"
        },
        {
          name: "Status",
          link: "/components/status",
          label: "experimental",
          desc: "an indication to the user that something has changed"
        },
        {
          name: "Timeline",
          link: "/components/timeline",
          label: "experimental",
          desc: "time-ordered activity showing the history of a person or object with additional context"
        },
        {
          name: "Tabs (horizontal)",
          link: "/components/tabs",
          label: "experimental",
          desc: "a horizontal control for switching between views of grouped content"
        },
        {
          name: "Confirmation pages",
          link: "/components/confirm-pages",
          label: "Experimental",
          desc: "variations for a service confirmation page"
        },
        {
          name: "Table multi-select",
          link: "/components/table-multiselect",
          label: "experimental",
          desc: "allow the user to select multiple rows by clicking anywhere on the row"
        },
        {
          name: "Highlighted search matches",
          link: "/components/highlighting-matches",
          label: "experimental",
          desc: "helps users identify matching data"
        },
        {
          name: "Cards",
          link: "/components/cards",
          label: "experimental",
          desc: "a list of content/links group into cards for visual clarity"
        },
        {
          name: "Sub-navigation",
          link: "/components/navigation",
          label: "experimental",
          desc: "navigate to different sections at any time"
        },
        {
          name: "Checkboxes",
          link: "/components/checkboxes",
          label: "experimental",
          desc: "smaller checkboxes for multi-use services"
        },
        {
          name: "Icons",
          link: "/components/icons",
          label: "Experimental",
          desc: "full set of Home Office icons"
        },
        {
          name: "Labels",
          link: "/components/labels",
          label: "experimental",
          desc: "used to quickly identify commonly grouped or related items"
        },
        {
          name: "Pagination",
          link: "/components/pagination",
          label: "experimental",
          desc: "navigate to different pages at any given time"
        },
        {
          name: "Radio buttons",
          link: "/components/radios",
          label: "experimental",
          desc: "smaller radio buttons for multi-use services"
        }
      ] %}

      <table class="mb-30">
        <thead>
          <tr>
            <th>Component</th>
            <th>Status</th>
            <th>Description</th>
          </tr>
        </thead>

        <tbody>
          {% for component in components|sort(attribute='label') %}
            {% if component.label|lower == 'recommended' %}
              <tr>
                <td><a href="{{ component.link }}">{{ component.name|capitalize  }}</a></td>
                <td><span class="label--blue">{{ component.label|lower }}</span></td>
                <td>{{ component.desc|capitalize }}</td>
              </tr>
            {% endif %}
          {% endfor %}
          {% for component in components|sort(attribute='label')|sort(attribute='name') %}
            {% if component.label|lower == 'experimental' %}
              <tr>
                <td><a href="{{ component.link }}">{{ component.name|capitalize  }}</a></td>
                <td><span class="label">{{ component.label|lower }}</span></td>
                <td>{{ component.desc|capitalize }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

  <!-- <div class="grid-row">
    <div class="column-two-thirds">
      <p>Create a prototype with these components <a href="https://github.com/UKHomeOffice/home_office_design_kit">using our version of the GOV.UK prototyping kit</a>.</p>
    </div>
  </div> -->

</main>

{% endblock %}
