{% extends "layout.html" %}

{% block page_title %}
  Home Office DDaT design patterns
{% endblock %}

{% block content %}

{% set active = "components" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <div class="banner" role="banner">
        <h1 class="heading-section">Radio buttons</h1>
        <p class="lede">A variation of <a href="http://govuk-elements.herokuapp.com/form-elements/#form-radio-buttons">GOV.UK radios</a> - for use only on internal services.</p>
        <!-- <ul class="metadata">
          <li>Usage: internal</li>
          <li>Status: experimental</li>
          <li>Last updated: 24 May 2018</li>
        </ul> -->
      </div>

      <h2 class="visually-hidden" id="example-component">Example radio component</h2>
      <div class="example example-images">
        <div class="grid-row">
          {% include "includes/components/radios.html" %}
        </div>
      </div>
      <details class="code-details">
        <summary>Show HTML snippet</summary>
        <pre class="language-markup"><code class="language-markup">{% filter escape %}{% include "includes/components/radios.html" %}{% endfilter %}</code></pre>
      </details>
      <details class="code-details">
        <summary>Show CSS snippet</summary>
        <pre class="language-css"><code class="language-css">{{'./app/assets/sass/components/_radios.scss' | fileInclude }}</code></pre>
      </details>

      <h2 class="heading-medium" id="example-component">Radio with conditional reveal</h2>
      <div class="example example-images">
        <div class="grid-row">
          {% include "includes/components/radios-progressive.html" %}
        </div>
      </div>
      <details class="code-details">
        <summary>Show HTML snippet</summary>
        <pre class="language-markup"><code class="language-markup">{% filter escape %}{% include "includes/components/radios-progressive.html" %}{% endfilter %}</code></pre>
      </details>
      <details class="code-details">
        <summary>Show CSS snippet</summary>
        <pre class="language-css"><code class="language-css">{{'./app/assets/sass/components/_radios.scss' | fileInclude }}</code></pre>
      </details>

    </div>

    <div class="column-two-thirds">
      <h2 class="heading-medium">When to use this component</h2>
      <p>Use this component on government staff and caseworking services. It can be a useful alternative to the larger GOV.UK radios when there is more then one thing on a page.</p>
      <p>A common use would be filtering search results.</p>

      <h2 class="heading-medium">When not to use this component</h2>
      <p>On public facing services. And as part of the 'one thing per page' pattern.</p>

      <h2 class="heading-medium">User research</h2>
      <p>A number of services are using this pattern in the Home Office. From the research we have, we haven't identified any issues with the size or usability of the smaller radios.</p>
      <p>Component needs further research on mobile devices.</p>

      <h2 class="heading-medium">Services using this pattern</h2>
      <ul class="list list-bullet">
        <li>DAP</li>
        <li>Resettlement services</li>
        <li>General Aviation</li>
        <li>ASRU</li>
        <li>Application platform</li>
        <li>Data services</li>
      </ul>

    </div>

    <div class="column-full">
      <div class="contact-us">
        <h2 class="heading-medium">Get in touch</h2>
        <p>If you’ve got a question or suggestion share it on Slack <a href="slack://channel?id=C0FR8PE8Z&team=T03TJ3P61">#interaction-designers channel</a> or on <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/47">GitHub</a>.</p>
      </div>
    </div>

  </div>
</main>

{% endblock %}
