{% extends "layout.html" %}

{% block page_title %}
  Component - Timeline
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">

  <div class="banner" role="banner">
    <h1 class="heading-section">Timeline</h1>
    <p class="lede">Time-ordered activity showing the history of a person or object with additional context.</p>
    <!-- <ul class="metadata">
      <li>Usage: internal</li>
      <li>Status: experimental</li>
      <li>Last updated: 4 December 2017</li>
    </ul> -->
  </div>

  <div class="grid-row">
    <div class="column-full">

      <div class="example example-images" id="example-component">
        <div class="grid-row">
          {% include "includes/components/timeline.html" %}
        </div>
      </div>
      <details class="code-details">
        <summary>Show HTML snippet</summary>
        <pre class="language-markup"><code class="language-markup">{% filter escape %}{% include "includes/components/timeline.html" %}{% endfilter %}</code></pre>
      </details>
      <details class="code-details">
        <summary>Show CSS snippet</summary>
        <pre class="language-css"><code class="language-css">{{'./app/assets/sass/components/_timeline.scss' | fileInclude }}</code></pre>
      </details>
    </div>


    <div class="column-two-thirds">
      <h2 id="interaction" class="heading-medium">Interaction principles</h2>
      <p>Use where information is ordered by time and unfiltered. If the information isn&rsquo;t displayed in time order or needs to be filtered, consider another approach.</p>

      <h2 id="documentation" class="heading-medium">Content principles</h2>
      <p>Times and dates should follow <a href="https://www.gov.uk/service-manual/design/dates">GDS patterns on date and time format</a></p>
      <p>Secondary titles aren't mandatory.</p>

      <h2 class="heading-medium">Services using this pattern</h2>
      <ul class="list list-bullet">
        <li>Application platform</li>
        <li>Entities</li>
        <li>Passports</li>
        <li>DAP</li>
      </ul>

    </div>

    <div class="column-full">
      <div class="contact-us">
        <h2 class="heading-medium">Get in touch</h2>
        <p>If you’ve got a question or suggestion share it on Slack <a href="slack://channel?id=C0FR8PE8Z&team=T03TJ3P61">#interaction-designers channel</a> or on <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/46">GitHub</a>.</p>
      </div>
    </div>

  </div>
</main>

{% endblock %}
