.example {
    position: relative;
    overflow: hidden;
    // background-color: #fff;
    border: 1px solid $border-grey;
    margin-top: 30px;
    padding: 40px 30px 30px 30px;
	&:before {
	    content: "EXAMPLE";
	    position: absolute;
	    top: 0;
	    left: 0;
	    padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
	    font-family: 'Inter UI', sans-serif;
      -webkit-font-smoothing: antialiased;
	    font-weight: 400;
	    text-transform: none;
	    font-size: 12px;
	    font-weight: bold;
	    line-height: 1.45;
	    background: $border-grey;
	    color: $govuk-text-colour;
	}
}
