.index li {
  margin-bottom: 12px;
}

.style-guide-section {
  margin-top: 3em;
}

.app-swatch {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 50%;
}
