.index li {
  margin-bottom: 15px;
  font-family: 'Inter UI', sans-serif!important;
}

.style-guide-section {
  margin-top: 3em;
}

.quote {
  font-style: italic;
  margin-left: 40px;
}

@media (max-width: 640px) {
  .quote {
    margin-left: 10px;
  }
}

// Headers

.heading-xlarge, .heading-section {
  font-size: 40px;
}

.heading-large {
  font-size: 32px;
}

.heading-medium {
  font-size: 24px;
}

.heading-small {
  font-size: 18px;
}

// Colours

.colour-swatch {
  display: flex;
  // border-bottom: 1px solid $panel-colour;
  padding: 15px 0;
  align-items: center;
}

.hex {
  padding-left: 20px;
  width: 15%;
}

.colour-info {
  padding-left: 10px;
  width: 70%;
}

.app-swatch {
    display: inline-flex;
    width: 60px;
    height: 60px;
    border: 1px solid transparent;
    border-radius: 50%;
    justify-content: center;
    font-size: 28px;
    font-weight: 400;
    align-items: center;
}

@media (max-width: 640px) {
  .colour-swatch {
    flex-wrap: wrap;
  }

  .colour-info {
    padding-top: 10px;
    width: 70%;
  }
}

// Switch controls

.multiple-choice--switch {
  display: flex;
  justify-content: flex-end;

  .multiple-choice {
    padding-top: 1px;
    padding-bottom: 2px;
  }
}

.multiple-choice--switch [type=radio] + label::before {
  width: 24px;
  height: 24px;
}

.multiple-choice--switch [type=radio] + label::after {
  border: 7px solid;
  top: 7px;
  left: 7px;
}
