.performance-header {
  background-color: $govuk-blue;
  width: 100%;
  height: 30vh;
  color: $white;
  margin-top: -10px;
}

.performance-wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  height: 30vh;
  flex-direction: column;
  justify-content: space-between;

  .navbar .navbar__list-items {
    li {
      a {
        &:hover {
          -webkit-box-shadow: inset 0px -5px 0px 0px $panel-colour!important;
          -moz-box-shadow: inset 0px -5px 0px 0px $panel-colour!important;
          box-shadow: inset 0px -5px 0px 0px $panel-colour!important;
        }
      }

      &.active a,
      &.active a:hover {
      color: $white!important;
      -webkit-box-shadow: inset 0px -5px 0px 0px $white!important;
      -moz-box-shadow: inset 0px -5px 0px 0px $white!important;
      box-shadow: inset 0px -5px 0px 0px $white!important;
      }
    }
  }

  .navbar__list-items li a {
    color: $white!important;
  }
}

.performance-title {

}

.performance-data {
  .heading-large {
    margin-bottom: 0;
  }
}

.performance-month {
  font-weight: 800;
  color: #677;
  font-size: 22px;
}

.data-section {
  margin: 2em 0;
}

@media (max-width: 640px) {
  .performance-header {
    margin-top: -50px;
  }
}
