.performance-header {
  background-color: #005ea5;
  width: 100%;
  height: 30vh;
  color: #FFF;
  margin-top: -10px;
}

.performance-wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  height: 30vh;
  flex-direction: column;
  justify-content: space-between;

  .navbar .navbar__list-items {
    border-bottom: none;

    li {
      a {
        &:hover {
          -webkit-box-shadow: inset 0px -5px 0px 0px #bfc1c3!important;
          -moz-box-shadow: inset 0px -5px 0px 0px #bfc1c3!important;
          box-shadow: inset 0px -5px 0px 0px #bfc1c3!important;
        }
      }

      &.active a,
      &.active a:hover {
      color: #FFF!important;
      -webkit-box-shadow: inset 0px -5px 0px 0px #FFF!important;
      -moz-box-shadow: inset 0px -5px 0px 0px #FFF!important;
      box-shadow: inset 0px -5px 0px 0px #FFF!important;
      }
    }
  }

  .navbar__list-items li a {
    color: #FFF!important;
  }
}

.performance-title {

}

.performance-data {
  .heading-large {
    margin-bottom: 0;
  }
}

.performance-month {
  font-weight: 800;
  color: #677;
  font-size: 22px;
}

.data-section {
  margin: 2em 0;

  .heading-medium {
    margin-top: 0;
  }
}

@media (max-width: 640px) {
  .performance-header {
    margin-top: -50px;
  }
}
