modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"
packages = ["run"]

[deployment]
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Start Docs App"

[[workflows.workflow]]
name = "Start Docs App"
author = 44916101
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd apps/docs"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start Storybook"
author = 44916101
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run storybook"
