@import "@hods/components";

$max-width: 1160px;
$margin: 30px;

code{
  @include govuk-font(19);
  font-family: monospace;
}

.hods-width-container {
  max-width: $max-width;

  @media (min-width: 769px) and (max-width: $max-width + 2 * $margin) {
    margin-right: $margin;
    margin-left: $margin;
  }
}

.image-examples{
  width: 100%;
  height: auto;
}

.image-caption {
  @include govuk-font(16);
}

.homepage-sections {
  margin-top: 45px;
  margin-bottom: 35px;
}

.example {
  position: relative;
  overflow: hidden;
  border: 1px solid #cbcbcb;
  margin-top: 30px;
  padding: 30px;
}

.example span {
  display: block;
}

// Contact us box styling

.contact-us {
  padding: govuk-spacing(4);
  background-color: #005ea5;
  color: white;
  margin-top: 30px;

  a, :active, a:visited, a:link {
    color: white;
  }

  a:focus {
    color: black;
  }

  h2.govuk-heading-m {
    padding: 0;
    margin: 0 0 10px 0;
    color: white;
  }

  p {
    margin: 0;
    color: white;
  }
}

// Send a letter pattern
$app-annotate-block-label-color: #ffffff;

ol.app-letter-model {
  background-color: white;
  padding: 0.5em;
  outline: 2px solid govuk-colour("dark-grey");
  margin-bottom: govuk-spacing(6);
}


ol.app-letter-model li.app-annotate-block {
  position: relative;
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(3);
  padding-top: 3em;
  outline: 2px dashed govuk-colour("dark-grey");
  background-color: #f5f5f5;
}

ol.app-letter-model .app-annotate-block__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: .25em .5em;
  border-right: 2px dashed govuk-colour("dark-grey");
  border-bottom: 2px dashed govuk-colour("dark-grey");
  background: $app-annotate-block-label-color;
  font-family: $govuk-font-family;
}

// Content style guide
.a-z-header {
  display: inline-block;
  @include govuk-responsive-margin(6, "top");
  @include govuk-responsive-padding(2, "top");
  @include govuk-responsive-padding(2, "left");
  @include govuk-responsive-padding(2, "bottom");
  @include govuk-responsive-padding(2, "right");
  background-color: #8f23b3;
  color: govuk-colour("white");
}

.back-to-top {
  display: block;
  @include govuk-responsive-margin(6, "bottom");

  &:last-child {
    margin-bottom: 0;
  }
}
