{% extends "layout.html" %}

{% block page_title %}
Home Office design system
{% endblock %}

{% block content %}

{% set active = "contributing" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-section">Contributing to the system</h1>
    </div>
    <div class="column-two-thirds">

      <p>The Design System for Home Office Digital, Data and Technology extends the GOV.UK system with patterns, components and styles for additional use cases and users. To help create a common design language amongst delivery teams, making it cheaper to build and scale products and services.</p>

      <!-- <h2 class="heading-medium">How to use the design system</h2> -->

      <p>When designing services you should consider:</p>

      <ul class="list list-bullet">
        <li>all services must start by using <a href="https://www.gov.uk/service-manual/service-standard/make-the-user-experience-consistent-with-govuk">GOV.UK design patterns and components</a></li>
        <li>if you find those don’t meet your users needs, refer to the Home Office Design system and the cross-Government <a href="https://paper.dropbox.com/doc/GOV.UK-Design-Patterns-Wiki-hkou7bpzKya8Dadv24V1z">Design wiki</a> to see if the problem has been approached</li>
        <li>if you need to design something new let us know on Slack <a href="slack://channel?id=C0FR8PE8Z&team=T03TJ3P61">#interaction-designers channel</a> or in a <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues">GitHub issue</a></li>
      </ul>

      <h2 class="heading-medium">Contributing</h2>

      <p>We value all contributions to the design system.</p>

      <p>You can discuss patterns and components that are already in the backlog or system on Slack, email, in person or on <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/projects/1">GitHub</a>.</p>

      <p>You can suggest a new or missing pattern or component by <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues">creating an issue in GitHub</a>. Or by contacting our team at <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>.</p>

      <h2 class="heading-medium">Stages of a new pattern/component</h2>
      <p>A Design System <a href="contribute/working-group">Working Group</a> review new contributions. They may decide that something else meets the need better. If the Working Group agree that a pattern/component is needed, it will move through the following stages:</p>

      <h3 class="heading-small">Experimental</h3>
      <p>We've seen this problem in an area and it's being peer reviewed by the team and iterated upon. It may change a lot in Experimental. Teams are free to use it in their own prototypes. Please report back any research findings.</p>

      <h3 class="heading-small">Recommended</h3>
      <p>We've seen this work consistently in testing and are recommending its use. If you've found a user need and this pattern or component meets it, please use this version. On occasion we may recommend a pattern or component due to the need for consistency.</p>

    </div>
  </div>



</main>

{% endblock %}
