{% extends "layout.html" %}

{% block page_title %}
Home Office DDaT design patterns
{% endblock %}

{% block content %}

{% set active = "contributing" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-section">Contributing patterns</h1>

<p>You should first discuss the problem you’re trying to solve on the Interaction Design slack channel with the wider team.</p>

<p>If you want to raise a new pattern you can do so via the <a href="https://trello.com/b/2bSO65iz/ho-design-pattern-requests">Trello board</a>. Add a new card to the Backlog column with the following information:</p>

<ul class="list list-bullet">
  <li>a description of what the pattern is</li>
  <li>why you need a new pattern</li>
  <li>a link demonstrating the pattern</li>
</ul>

<p>The Design Patterns Working Group will move it into the under consideration column and then then review the pattern. They may decide that another pattern meets the need better. </p>

<p>If the Working Group agree that this pattern should be moved on it will move through the following stages:</p>

<h3 class="heading-medium">Experimental</h3>
<p>We've seen this problem in an area and it is being peer reviewed by the team and iterated upon. The pattern may change quite a lot in Experimental. Teams are free to use this pattern in their own prototypes by adding a comment to say that they will be using it. They must also report back on their research findings. It should not use it in production.</p>

<h3 class="heading-medium">Recommended</h3>
<p>We have seen this pattern work consistently in testing and are recommending its use. <strong class="bold">Every team must use this version of the pattern</strong>. On occasion we may recommend a pattern or component due to the need for consistency.</p>

<p>Over time we will probably further refine patterns. It’s important that you stay up to date with patterns by subscribing to card updates and checking with the Interaction Design slack channel. </p>



    </div>
  </div>



</main>

{% endblock %}
