{% extends "layout.html" %}

{% block page_title %}
Home Office design system
{% endblock %}

{% block content %}

{% set active = "contributing" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-section">Contributing patterns</h1>

      <p>You should first discuss the problem you’re trying to solve on the Interaction Design slack channel with the wider team.</p>

      <p>We organise our work on patterns and components in our <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/projects/1">GitHub project</a>. If you want to raise a new pattern or component you can do so by <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues">creating an issue</a>. Add the following information to the issue:</p>

      <ul class="list list-bullet">
        <li>a description of what the pattern/component is</li>
        <li>why it's needed</li>
        <li>a link demonstrating the pattern/component</li>
      </ul>

      <p>The Design System Working Group will move it into the backlog column and review. They may decide that another pattern meets the need better. </p>

      <p>If the Working Group agree that it is needed, it will move through the following stages:</p>

      <h3 class="heading-medium">Experimental</h3>
      <p>We've seen this problem in an area and it's being peer reviewed by the team and iterated upon. The pattern may change quite a lot in Experimental. Teams are free to use this pattern in their own prototypes by adding a comment to say that they will be using it. Please report back any research findings. It should not be used in production.</p>

      <h3 class="heading-medium">Recommended</h3>
      <p>We've seen this pattern work consistently in testing and are recommending its use. <strong class="bold">If you've found a user need</strong> and this pattern meets it, please use this version. On occasion we may recommend a pattern or component due to the need for consistency.</p>

      <p>Over time we will probably further refine patterns. It’s important that you stay up to date with patterns by subscribing to card updates and checking with the Interaction Design slack channel. </p>

    </div>
  </div>



</main>

{% endblock %}
