{% extends "layout.html" %}

{% block page_title %}
  Home Office DDaT design patterns
{% endblock %}

{% block content %}

{% set active = "about" %}
{% include "includes/top_nav.html" %}


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-section">Working Group</h1>

      <p>The Design Patterns Working Group meets every two weeks to discuss improvements to the HO Design Patterns and make decisions on patterns. </p>

      <p>Design Patterns Working Group:</p>

      <ul class="list list-bullet">
        <li>Michael Owen</li>
        <li>Chris Taylor</li>
        <li>Karwai Pun</li>
        <li>Eliot Hill</li>
        <li>Charles Reynolds-Talbot</li>
        <li>Martin Wake</li>
      </ul>

      <p>Anyone can add a pattern to the backlog column on the <a href="https://trello.com/b/2bSO65iz/ho-design-pattern-requests">Design Patterns Request Trello board</a>. It should then be discussed at the following meeting and moved into the Under Consideration column.</p>

      <p>The Working Group will assess:</p>

      <ul class="list list-bullet">
      <li>Has this pattern been seen before and rejected?</li>
      <li>Is there another pattern (either in development or elsewhere in Gov) that fulfills this need?</li>
      <li>Would other delivery teams have a need for this?</li>

      </ul>

      <p>At this point a pattern can be <strong class="bold">rejected</strong> or moved into <strong class="bold">experimental</strong>. </p>

      <p>If <strong class="bold">rejected</strong> it needs to be moved to the rejected column explaining why and discussed with the person who proposed the pattern.</p>

      <p>If moved to <strong class="bold">experimental</strong> then someone from the Working Group will be assigned to it (also added as member on the Trello card), in order to ensure it is tested and iterated. They will also update the Trello card and the Design Patterns documentation.</p>

      <p>The goal is to get more people testing the pattern and iterating. Outcomes on user testing should be recorded in the Trello cards comments (including evidence if possible). </p>

      <p>Once we have seen the pattern tested with more than two delivery teams and research shows that the pattern works without needing further iteration, then it can be moved into recommended upon agreement of the Working Group.</p>



    </div>
  </div>

</main>

{% endblock %}
