// hod guide
// A description of the contents of the file:
// This file is to adjust the guide that the manages the pattern library change at your peril

#global-header-bar {
	background-color: $fuschia !important;
}

// Logo ID if we need to add style
#ho-logo {
	padding: 2em 0 .5em 0;
}

// Callout
.hod-callout {
 	padding: 1em;
    margin-top: 1.875em;
	background-color: $highlight-colour;
	border-top: .75em solid $fuschia;
	*:first-child {
		margin-top: 0;
	}	
}

// Change pattern banner
.phase-banner-pattern {
  @include phase-banner($state: pattern);
	.phase-tag {
		background-color: $turquoise;
	}
}

// Let's make a colour row
#hod-row {
	background-color: lighten($turquoise, 50%);
	width: 100vw;
 	position: relative;
	margin-left: -50vw;
	left: 50%;
	margin-bottom: 0;
	.grid-row {
		@extend %site-width-container;
		@extend %contain-floats;
		div:first-child {
			margin-left: -15px;
			margin-top: -10px;
		}
	}
}