{% extends "layout.html" %}

{% block page_title %}
Style guide - Colour
{% endblock %}

{% block content %}

{% set active = "style_guide" %}
{% include "includes/top_nav.html" %}

<main class="font-ui" id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="font-ui heading-section">Colour</h1>
      <p class="font-ui lede">Colour is a powerful means of drawing a user’s attention or giving focus to an element. Colour must be used with care and discretion, backed up by usability and accessibility testing. In the Home Office design system we use colour to draw attention to actions, links and to the Home Office brand. It is never used for ‘decoration’.</p>
      <p class="font-ui lede">Always ask the central design team (<a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>) for advice.</p>

      <section>
        <h2 class="font-ui heading-medium">Primary colours</h2>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#8F23B3"></span>
          <div class="hex">
            #8F23B3
          </div>
          <div class="colour-info">
            Purple is the Home Office’s brand colour. This doesn’t mean it should be used as the dominant colour in a digital interface. Overuse of the purple can make content hard to read on screen, particularly on services that are designed to be used for long periods of time. Home Office purple works best in digital interfaces when reserved for the Home Office logo and sparingly used as a keyline or accent.
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#0b0c0c"></span>
          <div class="hex">
            #0B0C0C
          </div>
          <div class="colour-info">
            Black is used for headings and body content.
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#F3F3F3;border:1px solid #000;"></span>
          <div class="hex">
            #F3F3F3
          </div>
          <div class="colour-info">
            Light grey is used as the content background colour on internal services to minimise eye strain caused by high contrast user interfaces. It is also supports readability for those who have dyslexia.
          </div>
        </div>

      </section>

      <section>
        <h2 class="font-ui heading-medium">Secondary colours</h2>
        <p>Guidance on the use of our secondary colours is in development. In the meantime, check with the central design team (<a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>) for advice.</p>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#3D5C00"></span>
          <div class="hex">
            #3D5C00
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#005EA5"></span>
          <div class="hex">
            #005EA5
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#3B3B3B"></span>
          <div class="hex">
            #3B3B3B
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#DADADA"></span>
          <div class="hex">
            #DADADA
          </div>
        </div>

      </section>
    </div>

    <div class="column-two-thirds">

      <section>
        <h2 class="font-ui heading-medium">Accessibility</h2>
        <p>Text and background colors need to meet the minimum contrast ratios specified by <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines (WCAG) 2.1</a>.</p>

        <h3 class="font-ui heading-small" style="margin-top:30px;">Accessible text and background combinations</h3>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#0B0C0C"><span style="color:#FFF;">A</span></span>
          <div class="colour-info">
            Background: #0B0C0C<br>
            Foreground: #FFF
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#F3F3F3;border:1px solid #000;">A</span>
          <div class="colour-info">
            Background: #F3F3F3<br>
            Foreground: #0B0C0C
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#3D5C00"><span style="color:#FFF;">A</span></span>
          <div class="colour-info">
            Background: #3D5C00<br>
            Foreground: #FFF
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#005EA5"><span style="color:#FFF;">A</span></span>
          <div class="colour-info">
            Background: #005EA5<br>
            Foreground: #FFF
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#3B3B3B"><span style="color:#FFF;">A</span></span>
          <div class="colour-info">
            Background: #3B3B3B<br>
            Foreground: #FFF
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#DADADA">A</span>
          <div class="colour-info">
            Background: #DADADA<br>
            Foreground: #0B0C0C
          </div>
        </div>

      </section>

    </div>
  </div>

</main>

{% endblock %}
