{% extends "layout.html" %}

{% block page_title %}
Style guide - Colour
{% endblock %}

{% block content %}

{% set active = "style_guide" %}
{% include "includes/top_nav.html" %}

<main class="font-ui" id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="font-ui heading-section">Colour</h1>
    </div>

    <div class="column-two-thirds">
      <p class="font-ui lede">Color should be used thoughtfully, have a real user need and any use backed by research.</p>
    </div>

    <div class="column-full">
      <section>
        <h2 class="font-ui heading-medium">Primary colours</h2>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#8F23B3"></span>
          <div class="hex">
            #8F23B3
          </div>
          <div class="colour-info">
            Purple should be used sparingly. It can be used as a keyline in headings.
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#0b0c0c"></span>
          <div class="hex">
            #0B0C0C
          </div>
          <div class="colour-info">
            Black is used for headings and body content on pages.
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#F2F2F2"></span>
          <div class="hex">
            #F2F2F2
          </div>
          <div class="colour-info">
            Light grey can be used as a main content background colour on frequent-use services.
          </div>
        </div>

      </section>

      <section>
        <h2 class="font-ui heading-medium">Secondary colours</h2>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#3D5C00"></span>
          <div class="hex">
            #3D5C00
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#005EA5"></span>
          <div class="hex">
            #005EA5
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#3B3B3B"></span>
          <div class="hex">
            #3B3B3B
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#DADADA"></span>
          <div class="hex">
            #DADADA
          </div>
        </div>

      </section>
    </div>

    <div class="column-two-thirds">

      <section>
        <h2 class="font-ui heading-medium">Accessibility</h2>
        <p>Text and background colors need to meet the minimum contrast ratios specified by <a href="https://www.w3.org/TR/WCAG20-TECHS/general.html">WCAG 2.0</a>.</p>

        <h3 class="font-ui heading-small" style="margin-top:30px;">Accessible text and background combinations</h3>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#0B0C0C"><span style="color:#FFF;">A</span></span>
          <div class="colour-info">
            Background: #0B0C0C<br>
            Foreground: #FFF
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#F2F2F2">A</span>
          <div class="colour-info">
            Background: #F2F2F2<br>
            Foreground: #0B0C0C
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#3D5C00"><span style="color:#FFF;">A</span></span>
          <div class="colour-info">
            Background: #3D5C00<br>
            Foreground: #FFF
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#3B3B3B"><span style="color:#FFF;">A</span></span>
          <div class="colour-info">
            Background: #3B3B3B<br>
            Foreground: #FFF
          </div>
        </div>

        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#DADADA">A</span>
          <div class="colour-info">
            Background: #DADADA<br>
            Foreground: #0B0C0C
          </div>
        </div>

      </section>

    </div>
  </div>

</main>

{% endblock %}
