{% extends "layout.html" %}

{% block page_title %}
Style guide - Header
{% endblock %}

{% block content %}

{% set active = "style_guide" %}
{% include "includes/top_nav.html" %}

<main id="content" class="font-ui" role="main">

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-section">Header</h1>
    </div>

    <div class="column-two-thirds">

      <p class="font-ui lede">Header with the service name and optional menu items. Purple border is a hint to the Home Office brand.</p>

    </div>

    <div class="column-full">
      <section>
        <h2 class="font-ui heading-medium">Header</h2>
        <div class="example example-images">
          <div class="grid-row">

            <!-- Header example -->
            <header>
              <div class="font-ui wrapper-header__library">
                <div class="header-logo">
                  {% include "includes/home_office_logo-header.html" %}
                </div>
                <div class="header-title">
                  <a href="/" class="header-name">Design system</a>
                </div>
                <div class="header-menu">
                  <ul>
                    <li><a href="#0">Search</a></li>
                    <li><a href="#0">Sign out</a></li>
                  </ul>
                </div>
              </div>
            </header>
            <div id="global-header-bar-internal"></div>

          </div>
        </div>
      </section>
    </div>

    <div class="column-full">
      <section>
        <h2 class="font-ui heading-medium">Header with heading section</h2>
        <div class="example example-images">
          <div class="grid-row">

            <!-- Header example -->
            <header>
              <div class="font-ui wrapper-header__library">
                <div class="header-logo">
                  {% include "includes/home_office_logo-header.html" %}
                </div>
                <div class="header-title">
                  <a href="/" class="header-name">Design system</a>
                </div>
                <div class="header-menu">
                  <ul>
                    <li><a href="#0">Search</a></li>
                    <li><a href="#0">Sign out</a></li>
                  </ul>
                </div>
              </div>
            </header>
            <div id="global-header-bar-internal"></div>

            <!-- Heading section -->
            <section class="section-heading">

              <div class="breadcrumbs" style="padding-top: 0.50em;padding-bottom: 0.25em;">
            	  <ol role="breadcrumbs">
            	    <li><a href="#0" style="font-size:14px;">Style guide</a></li>
            	    <li><a href="#0" style="font-size:14px;">Header</a></li>
            	  </ol>
            	</div>
              <h1 class="font-ui heading-large" style="margin-top: 0;">Heading large</h1>
            </section>

          </div>
        </div>
      </section>
    </div>

    <div class="column-two-thirds">
      <section>
        <h2 class="font-ui heading-medium">Header size and content</h2>
        <p>It's important the header content doesn't dominate. The service name should be 22px and any menu items 17px.</p>
        <p>The header height should be 50px.</p>
      </section>

    </div>
  </div>

</main>

{% endblock %}
