{% extends "layout.html" %}

{% block page_title %}
Style guide - Icons
{% endblock %}

{% block content %}

{% set active = "style_guide" %}
{% include "includes/top_nav.html" %}

<main id="content" class="font-ui" role="main">

  <div class="grid-row">
    <div class="column-full">
      <h1 class="font-ui heading-section">Iconography</h1>
    </div>

    <div class="column-two-thirds">

      <p>Guidance on icons can currently be found in <a href="/components/icons">components</a>.</p>
      <p>Further guidance and styling work on icons will start soon.</p>

    </div>

  </div>

</main>

{% endblock %}
