{% extends "layout.html" %}

{% block page_title %}
Style guide - Images
{% endblock %}

{% block content %}

{% set active = "style_guide" %}
{% include "includes/top_nav.html" %}

<main id="content" class="font-ui" role="main">

  <div class="grid-row">

    <div class="column-full">
      <h1 class="font-ui heading-section">Images and image use</h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>Images can add visual interest to a page. They should be used with consideration and be relevant to the content. Images must not be used to fill space or as decoration.</p>
      <p>Where images are used, the photographic style should focus on people, be inclusive and reflect the diversity of the people we serve. Do not use clip art or cliched stock photography. Make images accessible. Do not place text on top of an image, use text as an image, or add unnecessary filters or effects.</p>
      <p>All images must be free from usage restrictions and permissible for use.</p>
      <p>Please contact the central design team (<a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>) for advice.</p>
      <h2 class="heading-medium">Use of illustrations and illustration style</h2>
      <p>An illustration can consist of an icon, scene or character, and can help users understand complex, detailed or ambiguous questions.</p>
      <p>Similar to image use, illustrations must be relevant to the content and help users understand what they need to do.
      Illustrations must have a consistent style to create reassurance across online and print.</p>
      <p>If you do need to produce an illustration for your project, please contact the central design team (<a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>)for advice.</p>
    </div>
  </div>

  <h2 class="heading-medium">Image do's and don'ts</h2>
  <div class="grid-row">
    <div class="column-full">

      <div class="example example-images" style="margin-top:1em;">
        <div class="grid-row">
          <div class="column-half">
            <span class="heading-medium">Do</span>
            <img src="{{ asset_path }}/images/image-example-2.jpg" alt="People sitting around a table talking. Focus is on the one person who is talking." class="image-examples">
            <caption>Do use images of people that look natural in their environment</caption>
          </div>
          <div class="column-half">
            <span class="heading-medium">Do not</span>
            <img src="{{ asset_path }}/images/image-example-5.jpg" alt="Staged photo of a large group of people in a line." class="image-examples">
            <caption>Do not use clichéd images, for example posed or forced images</caption>
          </div>
        </div>
      </div>

      <div class="example example-images" style="margin-top:2.5em;">
        <div class="grid-row">
          <div class="column-half">
            <span class="heading-medium">Do</span>
            <img src="{{ asset_path }}/images/image-example-4.jpg" alt="Two people sitting in a cafe having a coffee and talking." class="image-examples">
            <caption>Do use images that reflect real life situations</caption>
          </div>
          <div class="column-half">
            <span class="heading-medium">Do not</span>
            <img src="{{ asset_path }}/images/image-example-3.jpg" alt="A staged image of a person talking to a group in a staged office environment." class="image-examples">
            <caption>Do not use images that look staged or in fake situations</caption>
          </div>
        </div>
      </div>

      <div class="example example-images" style="margin-top:2.5em;">
        <div class="grid-row">
          <div class="column-half">
            <span class="heading-medium">Do</span>
            <img src="{{ asset_path }}/images/image-example-6.jpg" alt="A person leading a group discussion infront of a whiteboard." class="image-examples">
            <caption>Do focus on one key element</caption>
          </div>
          <div class="column-half">
            <span class="heading-medium">Do not</span>
            <img src="{{ asset_path }}/images/image-example-1.jpg" alt="Two people talking at work. Image has a purple filter." class="image-examples">
            <caption>Do not use filters or effects</caption>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>

{% endblock %}
