{% extends "layout.html" %}

{% block page_title %}
Home Office style guide
{% endblock %}

{% block content %}

{% set active = "style_guide" %}
{% include "includes/top_nav.html" %}

<main class="font-ui" id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-section">Style guide</h1>

      <p class="font-ui lede">This style guide covers styling for internal and case working services in the Home Office. This includes services that do not sit on <span style="color:#005EA5;">service.gov.uk</span> or <span style="color:#005EA5;">gov.uk</span>.</p>

      <section class="style-guide-section">
        <ul class="index list lede">
          <li><a href="/style_guide/typography">Typography</a></li>
          <li><a href="/style_guide/colour">Colour</a></li>
          <li><a href="/style_guide/header">Header</a></li>
          <li><a href="/style_guide/footer">Footer</a></li>
        </ul>
      </section>
    </div>

    <div class="column-two-thirds">

      <section class="style-guide-section">
        <h2 class="heading-medium">How to use these styles</h2>
        <p>The Home Office design system is based on, and draws extensively from, the GOV.UK design system, adjusted for user needs for internal services. These styles override the default GOV.UK styles. Any styling not specified in this guide uses GOV.UK styles by default.</p>

        <p>Home Office services that should use these styles are:</p>
        <ul class="list list-bullet">
          <li>caseworking systems</li>
          <li>microsites</li>
          <li>HR and development platforms</li>
          <li>intranets</li>
        </ul>
      </section>

    </div>
  </div>

</main>

{% endblock %}
