<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="case-title">Case title</h1>
    <div class="case-ref">Reference number: AB1234</div>
    <ul class="metadata">
      <li style="padding-right: 5px">Complexity:</li>
      <li style="padding-right: 5px"><span class="label">mobility issues</span></li>
      <li><span class="label">2b - serious medical</span></li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row" style="margin-top: 40px;">
  <div class="govuk-grid-column-one-third">
    <!-- < Nav > -->
    <ul class="tab__nav">
      <li>
        <a href="#0" class="active" data-target="case">
          Case summary
        </a>
      </li>
      <li>
        <a href="#0" class="" data-target="task">
          Task list <span class="alert">(3 outstanding)</span>
        </a>
      </li>
      <li>
        <a href="#0" class="" data-target="docs">
          Documents
        </a>
      </li>
      <li>
        <a href="#0" class="" data-target="history">
          History
        </a>
      </li>
    </ul>
    <!-- </ Nav > -->
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- < Case > -->

    <div class="tab__content case-table" id="case">

      <table>
        <thead>
          <tr>
            <h2 class="govuk-heading-m">Case related data</h2>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Reference number:</td>
            <td>56783-DBQ-751</td>
          </tr>
          <tr>
            <td>Submission priority:</td>
            <td>Normal</td>
          </tr>
          <tr>
            <td>Case category:</td>
            <td>Medical exemption</td>
          </tr>
          <tr>
            <td>Date submission received:</td>
            <td>28 June 2017</td>
          </tr>
          <tr>
            <td>Case created:</td>
            <td>1 July 2017</td>
          </tr>
        </tbody>
      </table>

    </div>
    <!-- </ Case > -->

    <!-- < Task > -->

    <div class="tab__content case-table js-hidden" id="task">

      <h1 class="govuk-heading-m" style="margin-bottom:0">
        Assign a certificate
      </h1>

      <h2 class="govuk-heading-s" style="margin-top:5px; font-weight: bold; color: #6f777b;">Complete these steps</h2>

      <table style="margin-bottom:30px;">
        <thead class="govuk-visually-hidden">
          <tr>
            <td>Task</td>
            <td>Status</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              1. <a href="#0">Provide worker details</a>
            </td>
            <td class="badges">
               <span class="label--blue" style="display:inline-block;float: right;">Complete</span>
            </td>
          </tr>
          <tr>
            <td>
              2. <a href="#0">Choose certificate type</a>
            </td>
            <td class="badges">
							<span class="label--blue" style="display:inline-block;float: right;">Complete</span>
            </td>
          </tr>
          <tr>
            <td>
              3. <a href="#0">Provide job details</a>
            </td>
            <td class="badges">
               <span class="label" style="display:inline-block;float: right;">Part completed</span>
            </td>
          </tr>
          <tr>
            <td>
              4. <a href="#0">Agree declarations</a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              5. <a href="#0">Pay fee</a>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>


    </div>
    <!-- </ Task > -->

    <!-- < Docs > -->

    <div class="tab__content case-table js-hidden" id="docs">

      <table>
        <thead>
          <tr>
            <h2 class="govuk-heading-m">Case documents</h2>

            <th scope="col">Doument name</th>
            <th scope="col">Type</th>
            <th class="numeric" scope="col">Size</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#0">Financial summary</a></td>
            <td>PDF</td>
            <td class="numeric">1mb</td>
          </tr>
          <tr>
            <td><a href="#0">Bank account statment 06/17</a></td>
            <td>PDF</td>
            <td class="numeric">0.2mb</td>
          </tr>
          <tr>
            <td><a href="#0">Bank account statment 05/17</a></td>
            <td>PDF</td>
            <td class="numeric">0.2mb</td>
          </tr>
          <tr>
            <td><a href="#0">Bank account statment 04/17</a></td>
            <td>PDF</td>
            <td class="numeric">0.15mb</td>
          </tr>
        </tbody>
      </table>

    </div>
    <!-- </ Docs > -->

    <!-- < Case > -->

    <div class="tab__content case-table js-hidden" id="history">

      <table>
        <h2 class="govuk-heading-m">History</h2>
        <thead class="govuk-visually-hidden">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Agent</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.10.17</td>
            <td><a href="#0">@janemoore</a></td>
            <td>Case adjusted to include medical condition</td>
          </tr>
          <tr>
            <td>21.09.17</td>
            <td><a href="#0">@janemoore</a></td>
            <td>Worker details task completed</td>
          </tr>
          <tr>
            <td>20.09.17</td>
            <td><a href="#0">Justin Theroux</a></td>
            <td>Choose certificate type task completed</td>
          </tr>
          <tr>
            <td>1.08.17</td>
            <td><a href="#0">@guymetis</a></td>
            <td>Case created</td>
          </tr>
        </tbody>
      </table>

    </div>
    <!-- </ Case > -->

  </div>
