&lt;div class=&quot;govuk-box-highlight incomplete&quot;&gt;
  &lt;h2 class=&quot;heading-medium&quot;&gt;Request received&lt;/h2&gt;
  &lt;p&gt;We have sent you a confirmation email and you can &lt;a href=&quot;#0&quot;&gt;view your request and it&amp;rsquo;s current status&lt;/a&gt;.&lt;/p&gt;
&lt;/div&gt;

&lt;h1 class=&quot;heading-large&quot;&gt;
  Send your documents to complete your application
&lt;/h1&gt;

&lt;ol class=&quot;list list-number&quot;&gt;
  &lt;li&gt;Print the declaration.&lt;/li&gt;
    &lt;h3 class=&quot;heading-medium doc-icon&quot;&gt;
      &lt;a href=&quot;#0&quot;&gt;Print the declaration&lt;/a&gt;
      &lt;small&gt;(pdf)&lt;/small&gt;
    &lt;/h3&gt;
  &lt;li&gt;Ask to complete and sign the declaration.&lt;/li&gt;
  &lt;li&gt;We must receive the signed declaration by 17 March 2017.&lt;/li&gt;
  &lt;li&gt;We&amp;rsquo;ll consider your request within 18 weeks of receiving the signed declaration.&lt;/li&gt;
&lt;/ol&gt;

&lt;div class=&quot;notice&quot;&gt;
  &lt;i class=&quot;icon icon-important&quot;&gt;
    &lt;span class=&quot;visually-hidden&quot;&gt;Warning&lt;/span&gt;
  &lt;/i&gt;
  &lt;p&gt;
    &lt;strong class=&quot;bold-small&quot;&gt;
      If we don&amp;rsquo;t receive your declaration  by 17 March 2017 or it&amp;rsquo;s signed by the wrong person your request will be refused.
    &lt;/strong&gt;
  &lt;/p&gt;
&lt;/div&gt;

&lt;p&gt;&lt;a href=&quot;#0&quot;&gt;Back to [section]&lt;/a&gt;&lt;/p&gt;
