&lt;div class=&quot;govuk-box-highlight confirm-page&quot;&gt;
  &lt;span class=&quot;hod-checkmark&quot;&gt;&lt;/span&gt;
  &lt;h2 class=&quot;heading-large&quot;&gt;
    Request received
  &lt;/h2&gt;
  &lt;p&gt;We have sent you a confirmation email and you can &lt;a href=&quot;#0&quot;&gt;view your request and it&amp;rsquo;s current status&lt;/a&gt;.&lt;/p&gt;
&lt;/div&gt;

&lt;h2 class=&quot;heading-medium&quot;&gt;What happens next&lt;/h2&gt;
&lt;p&gt;We&amp;rsquo;ll consider your request within 18 weeks and email you with an outcome and further instructions.&lt;/p&gt;

&lt;p&gt;&lt;a href=&quot;#0&quot;&gt;Back to [section]&lt;/a&gt;&lt;/p&gt;
