&lt;div class=&quot;govuk-box-highlight confirm-page new&quot;&gt;
  &lt;span class=&quot;hod-checkmark move&quot;&gt;&lt;/span&gt;
  &lt;h2 class=&quot;heading-large&quot;&gt;
    Request received
  &lt;/h2&gt;
  &lt;p&gt;We have sent you a confirmation email.&lt;/p&gt;
  &lt;p&gt;
    Your reference number is &lt;br&gt;
    &lt;strong class=&quot;heading-medium&quot;&gt;HDJ2123F&lt;/strong&gt;
  &lt;/p&gt;
&lt;/div&gt;

&lt;h2 class=&quot;heading-medium&quot;&gt;What happens next&lt;/h2&gt;
&lt;p&gt;We&amp;rsquo;ll consider your request within 18 weeks and email you with an outcome and further instructions.&lt;/p&gt;
