<div class="confirmation-loop">

  <div class="grid-row">
    <div class="column-two-thirds">
  <!-- Share information -->
      <h1 class="heading-large">Email a copy to yourself</h1>
      <p class="text">You can send a copy of your application to your own email.</p>

      <div id="enterEmail">
        <fieldset data-required data-error="Cannot be blank">
          <div class="form-group">
            <label class="form-label-bold" for="yourEmail">Your email address</label>
            <input class="form-control" name="yourEmail" type="email" id="yourEmail" autocomplete="off">
          </div>
        </fieldset>


        <div class="form-group">
          <button href="" class="button" id="share" type="submit" value="Share" onclick="showConfirmation(), whoYouSending()">Continue</button>
        </div>

      </div>

      <!-- Confirmation loop -->
      <div id="confirmationSummary" class="confirmation-summary" role="group" aria-labelledby="confirmation-summary-heading" tabindex="-1" aria-live="polite">
        <h2 class="form-label-bold confirmation-summary-heading" id="confirmation-summary-heading">Confirm employer email address:</h2>

        <ul class="confirmation-summary-list">
          <li><span id="coolCompany" class="heading-medium"></span></li>
        </ul>

        <div class="block-space" style="margin-top: 20px;">
          <button href="" class="button" id="share" type="submit" value="Share" onclick="showDiv(), whoYouSent()">Send</button>
          <p style="display: inline-block; margin: 10px;"><a href="#" onclick="cancelConfirmation()">Change</a></p>
        </div>
      </div>

      <!-- Confirm pattern -->
      <div id="sentEmail" class="govuk-box-highlight confirm-page new sent-email" role="group" aria-labelledby="confirmation-summary-heading" tabindex="-2" aria-live="polite">
        <span class="hod-font-checkmark hod-checkmark move" aria-hidden="true"></span>
        <h2 class="heading-medium">Email sent to<br><br><span style="font-weight: bold;" id="sentAddress"></span></h2>
      </div>

      </div>
    </div>

</div>
