<div class="flash-card">
  <h1 class="nta-font heading-large">How to renew your passport online</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="how-to-renew" data-id="how-to-renew-uk">
        <li>
          <span class="circle circle-step circle-white">1</span>
          <h2 class="nta-font heading-medium">Get a digital passport photo</h2>
          <!-- <p>We'll show you how to get a good passport photo.</p> -->
        </li>

        <li>
          <span class="circle circle-step circle-white">2</span>
          <h2 class="nta-font heading-medium">Apply online</h2>
          <!-- <p>You'll need to check the details in your old passport.</p> -->
        </li>

        <li>
          <span class="circle circle-step circle-white">3</span>
          <h2 class="nta-font heading-medium">Pay for your new passport online</h2>
          <!-- <p>A standard passport is £72.50 including special delivery. You'll need a debit or credit card.</p> -->
        </li>

        <li>
          <span class="circle circle-step circle-white">4</span>
          <h2 class="nta-font heading-medium">Send us your old passport</h2>
          <!-- <p>You need to pay the postage to return your old passport.</p> -->
        </li>
      </ul>
      <div class="form-group" style="margin-top:25px;">
        <input class="button button-white" type="submit" value="Continue">
      </div>
      <details class="details-interruption" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false">
          <span class="nta-font summary">I need help with online services</span>
        </summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p>You can call the Passport Adviceline and ask for help</p>
          <p>Telephone: 0300 330 0901<br>
            Textphone: 0300 330 0808<br>
            Monday to Friday, 8:00am to 8:00pm<br>
            Weekends and public holidays, 9:00am to 5:30pm<br>
            <a href="#">Find out about call charges</a>
          </p>
        </div>
      </details>
    </div>
  </div>
</div>
