<div class="flash-card">
  <header>
    <h1 class="govuk-heading-l">How to renew your passport online</h1>
  </header>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <ul class="how-to-renew" data-id="how-to-renew-uk">
        <li>
          <span class="circle circle-step circle-white">1</span>
          <h2 class="govuk-heading-m">Get a digital passport photo</h2>
        </li>

        <li>
          <span class="circle circle-step circle-white">2</span>
          <h2 class="govuk-heading-m">Apply online</h2>
        </li>

        <li>
          <span class="circle circle-step circle-white">3</span>
          <h2 class="govuk-heading-m">Pay for your new passport online</h2>
        </li>

        <li>
          <span class="circle circle-step circle-white">4</span>
          <h2 class="govuk-heading-m">Send us your old passport</h2>
        </li>
      </ul>

      <div class="form-group" style="margin-top:25px;margin-bottom:0;">
        <input class="govuk-button button-white" type="submit" value="Continue">
      </div>

    </div>
  </div>
</div>
