<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <a href="{{ homepage_url|default('https://www.gov.uk') }}" title="{{ logo_link_title|default('Go to the GOV.UK homepage') }}" id="logo" class="content">
        <img src="{{ asset_path }}images/gov.uk_logotype_crown_invert_trans.png?0.18.3" width="36" height="32" alt="">
        Service name
      </a>
    </div>
    <div class="header-proposition">
        <nav>
          <ul id="header-links">
            <li><a href="#help"><span class="hod-circle side-space"></span>Help</a></li>
            <li><a href="#0">Sign out</a></li>
          </ul>
        </nav>
    </div>
  </div>
</header>

<main id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Search</h1>
      <p><span class="form-hint">You can add multiple search terms to make your search more refined. Seperate search terms by putting commas (,) between terms.</span></p>
      <label class="hidden" for="search">
      Search
      </label>
      <input class="form-control" id="search" type="text" name="search">
    </div>
  </div>

  <div class="help-wrapper" id="help">
    <div class="help-title" id="draggable-element">
      <h2 class="govuk-heading-s">Search help</h2>
      <ul class="menu">
        <li><a href="#min"><span class="hod-minus side-space" style="vertical-align: -webkit-baseline-middle;"></span>Minimise</a></li>
        <li><a href="#close"><span class="hod-cross side-space"></span>Close</a></li>
      </ul>
    </div>
    <div class="help">
      <details>
        <summary>What can I search?</summary>
        You can search for all data across reports. Start with a simple search of one or two terms and then use locations or names to narrow your searches.
      </details>
      <details>
        <summary>Search terms</summary>
        You can search using any term(s) but we recommended:
        <ul class="govuk-list govuk-list--bullet">
          <li>Report title</li>
          <li>Date</li>
          <li>Location</li>
          <li>Type</li>
          <li>Area of interest</li>
        </ul>
      </details>
      <details>
        <summary>Advanced search</summary>
        You can use boolean search by typing 'AND', 'NOT', 'OR' into your search. For example you could search 'London AND South NOT Sussex NOT Surrey'
      </details>
      <p>Don't see the help you need. <a href="#">Go to full help</a></p>
    </div>
  </div>
</main>
