&lt;h1 class="heading-large"&gt;An interaction that is optional&lt;/h1&gt;
&lt;div id="example-block"&gt;
  &lt;p&gt;&lt;a class="button" href="#modal"&gt;Add feedback&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;

&lt;div id="modal" class="modal-overlay"&gt;
  &lt;div class="modal"&gt;
    &lt;div class="modal-heading"&gt;
      &lt;h2 class="heading-small"&gt;Feedback&lt;/h2&gt;
      &lt;a class="close" href="#"&gt;&lt;span class="hod-cross side-space"&gt;&lt;/span&gt;Close&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class="content"&gt;
      &lt;p&gt;This is done totally without JavaScript. Just HTML and CSS.&lt;/p&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. &lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;