&lt;header role="banner" id="global-header" class="{% block header_class %}{% endblock %}"&gt;
  &lt;div class="header-wrapper"&gt;
    &lt;div class="header-global"&gt;
      &lt;div class=""&gt;
        &lt;a href="{{ homepage_url|default('https://www.gov.uk') }}" title="{{ logo_link_title|default('Go to the GOV.UK homepage') }}" id="logo" class="content"&gt;
          &lt;img src="{{ asset_path }}images/gov.uk_logotype_crown_invert_trans.png?0.18.3" width="36" height="32" alt=""&gt; The name of the service
        &lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
&lt;/header&gt;
&lt;nav id="nav"&gt;
  &lt;div class="navbar"&gt;
    &lt;ul class="navbar__list-items"&gt;
      &lt;li class="active"&gt;&lt;a href="#"&gt;Nav #1&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;Nav #2&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;Nav #3&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;Nav #4&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/nav&gt;