&lt;table class=&quot;table-clickable&quot;&gt;

  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th class=&quot;multiple-choice--hod&quot;&gt;
        &lt;div class=&quot;multiple-choice&quot;&gt;
          &lt;input type=&quot;checkbox&quot; class=&quot;jsCheckboxAll&quot; id=&quot;radio-all&quot;&gt;
          &lt;label for=&quot;radio-all&quot;&gt;
            &amp;nbsp;
          &lt;/label&gt;
        &lt;/div&gt;
      &lt;/th&gt;
      &lt;th&gt;Name&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;

  &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td class=&quot;multiple-choice--hod&quot;&gt;
          &lt;div class=&quot;multiple-choice&quot;&gt;
            &lt;input type=&quot;checkbox&quot; class=&quot;jsCheckbox&quot; id=&quot;radio-1&quot;&gt;
            &lt;label for=&quot;radio-1&quot;&gt;
              &amp;nbsp;
            &lt;/label&gt;
          &lt;/div&gt;
        &lt;/td&gt;
        &lt;td&gt;Chris Hanson&lt;/td&gt;
      &lt;/tr&gt;
  &lt;/tbody&gt;

&lt;/table&gt;
