<form action="" method="" enctype="multipart/form-data">

    <div class="grid-row">
      <div class="column-full">
        <div class="section-tabs">
          <ul class="tab__horizontal">
            <li class="active">
              <a data-target="timeline">Timeline</a>
            </li>
            <li class="">
              <a data-target="application">Application</a>
            </li>
            <li class="">
              <a data-target="action">Actions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  <!-- Tab 3 -->
  <div id="timeline" class="tab__content-horizontal">
    <div  class="grid-row">
      <div class="column-two-thirds">
        <p>Timeline form</p>
      </div>
    </div>
  </div>


  <!-- Tab 3 -->
  <div id="application" class="tab__content-horizontal js-hidden">
    <div class="grid-row">
      <div class="column-two-thirds">
        <p>Application form</p>
      </div>
    </div>
  </div>

  <!-- Tab 3 -->
  <div id="action" class="tab__content-horizontal js-hidden">
    <div class="grid-row">
      <div class="column-two-thirds">
        <p>Actions form</p>
      </div>
    </div>
  </div>

</form>
