<div class="">
	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l" style="margin-bottom:0">
        Assign a certificate
      </h1>

      <h2 class="govuk-heading-m" style="margin-top:5px; font-weight: normal; color: #6f777b;">Complete these steps</h2>

      <table style="margin-bottom:30px;">
        <thead class="govuk-visually-hidden">
          <tr>
            <td>Task</td>
            <td>Status</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              1. <a href="#0">Provide worker details</a>
            </td>
            <td class="badges">
               <span class="label--blue" style="display:inline-block;float: right;">Complete</span>
            </td>
          </tr>
          <tr>
            <td>
              2. <a href="#0">Choose certificate type</a>
            </td>
            <td class="badges">
							<span class="label--blue" style="display:inline-block;float: right;">Complete</span>
            </td>
          </tr>
          <tr>
            <td>
              3. <a href="#0">Provide job details</a>
            </td>
            <td class="badges">
               <span class="label" style="display:inline-block;float: right;">Part completed</span>
            </td>
          </tr>
          <tr>
            <td>
              4. <a href="#0">Agree declarations</a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              5. <a href="#0">Pay fee</a>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>


      <p><a href="#0">Cancel</a></p>

    </div> <!-- /column-two-thirds -->
  </div>
</div>
