@import "@hods/sass-base";

.hods-loading-spinner {

  &__spinner {
    @include govuk-responsive-margin(4, "top");
    @include govuk-responsive-margin(4, "bottom");
    margin-left: auto;
    margin-right: auto;
    border: 12px solid #DEE0E2;
    border-radius: 50%;
    border-top-color: #005EA5;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  &__text {
    @include govuk-font(16);
    text-align: center;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}