.wrapper-footer {
  padding: 30px 20px;
  background-color: $white;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Inter UI', sans-serif!important;

  p {
    margin-bottom: 0;
  }

}

footer {
  border-top: 2px #CCC solid;  
}

.wrapper-footer__library {
  padding: 15px 20px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Inter UI', sans-serif!important;

  p {
    margin-bottom: 0;
  }

  .ddat-service {
    margin-top: 25px;
  }

  .open-government-licence {
    margin: 20px 0;
  }

}

.footer-logo {
  display: block;
  position: relative;
  width: 220px;
  height: auto;
}

.svg-logo {
  display: inline-block;
}

.footer-menu {
  align-items: flex-end;
  display: flex;
}

.footer-menu ul {
  display: flex;

  li {
    padding-left: 1.5em;
  }

  li a {
    color: #3B3B3B;
  }

  li:first-child {
    padding-left: 0;
  }
}

@media (max-width: 1020px) {
  .wrapper-footer__library {
    margin: 0 30px;
    padding: 15px 0;
  }
}

@media (max-width: 640px) {
  .wrapper-footer__library {
    margin: 0 15px;
    padding: 15px 0;
  }
}


@media (max-width: 690px) {

  .wrapper-footer {
    padding: 20px 15px;
    display: inherit;
    font-size: 0.8em;
  }

  .footer-menu {
    margin-top: 20px;
  }

}
