.wrapper-header {
  justify-content: space-between;
  background-color: $white;
  padding: 10px 20px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Inter UI', sans-serif!important;
}

.wrapper-header__library {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  padding: 20px 20px;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Inter UI', sans-serif!important;
}

.wrapper-header, .wrapper-header__library, .header-menu ul {
  display: flex;
  color: $black;

  a {
    text-decoration: none;
    color: $black;
  }

  a:hover {
    text-decoration: underline;
  }

}

.header-logo {
  display: block;
  position: relative;
  width: 150px;
  height: auto;
  margin-left: -34px;
  margin-right: 25%;
  line-height:0;
}

.header-title {
  margin-right: auto;
  align-self: center;
}

.header-name {
  font-size: 21px;
  font-weight: 400;
}

.wrapper-header a:hover {
  text-decoration: none;
}

.header-menu {
  font-size: 17px;

  li {
    padding-left: 1.5em;
  }
}

#global-header-bar-internal {
  margin: 0;
  background-color: #7F3F98;
  height: 3px;
  max-width: 100%;
}

.section-heading {
  background-color: #F2F2F2;
  padding: 10px 20px;
}

@media (max-width: 1100px) {
  .header-logo {
    margin-left: 0;
  }

}

@media (max-width: 1020px) {
  .wrapper-header, .wrapper-header__library {
    margin: 0 15px;
  }

}

@media (max-width: 890px) {
  .header-logo {
    margin-right: 10%;
  }
}

@media (max-width: 640px) {

  .header-name {
    font-size: 20px;
  }

  .header-title {
    margin-bottom: 5px;
  }

  .header-logo {
    margin-right: 0;
    margin-bottom: 10px;
    width: 110px;
  }

  .wrapper-header, .wrapper-header__library {
    display: inherit;
    margin: 0 15px;
    padding: 10px 0;
  }

  .header-menu {

    li:first-child {
      padding-left: 0;
    }
  }

}
