.hods-panel {
  box-sizing: border-box;
  clear: both;
  border-left: 10px solid #bfc1c3;
  padding: 0.2em 0.7em;
  margin-bottom: 0.78947em;

  &__heading {
    font-size: 22px;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
  }
}

.hods-panel.hods-alert-standard {
  border-color: #2b8cc4;
  background-color: #dbeff9;
}

.hods-panel.hods-alert-success {
  border-color: #28a197;
  background-color: #c6ece9;
}

.hods-panel.alert-error {
  border-color: #c42b2b;
  background-color: #f3dede;
}
