.card {
  display: block;
  float: left;
  margin-bottom: 30px;
}

.card__body {
  display: block;
  background-color: $panel-colour;
  padding: 1em;
  background-color: $panel-colour;
  color: $text-colour;
  text-decoration: none;

  span {
    display: block;
  }
}

a.card__body {
  color: $link-colour;

  &:hover, &:focus {
    cursor: pointer;
    background-color: $highlight-colour;
    color: $link-hover-colour;
    text-decoration: none;
  }
}

.card__footer {
  display: block;
  background-color: $highlight-colour;
  padding: 1em;
}


// GOVUK card

.govuk-card {
    border-bottom: 3px solid #8F23B3;
    box-sizing: border-box;
}

.govuk-card--contained {
  background-color: #FFF;
  padding-bottom: 30px;
}

.govuk-card__content {
  padding-top: 10px;
}

.govuk-card--contained .govuk-card__content {
  padding-right: 20px;
  padding-left: 20px;
}

.govuk-card__actions {
    padding-top: 0;
}

@media screen and (max-width: 640px) {

  .govuk-card--contained {
    margin-top: 20px;
  }

}
