.multiple-choice--hod {
  .multiple-choice {
    padding-top: 1px;
    padding-bottom: 2px;
  }
}

.multiple-choice--hod [type=checkbox] + label::before {
  width: 21px;
  height: 21px;
}

.multiple-choice--hod [type=checkbox] + label::after {
  border-width: 0 0 3px 3px;
  width: 11px;
  height: 4px;
  top: 8px;
  left: 6px;
}
