// Pattern: labels
// Problem: add classification or ownership


@mixin label ($label-background: $panel-colour, $label-border: $secondary-text-colour, $label-text: $text-colour) {
    background: $label-background;
    color: $white;
    display: inline-block;
    line-height: 1;
    padding: 4px $space-sm 3px $space-sm;
    margin: 0 calc(2 * #{$space-sm}) $space-sm $space-sm;
    text-align: left;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: normal;
}
.label {
    @include label($secondary-text-colour, $text-colour)
}
.label--white {
    @include label($page-colour)
    color: $text-colour;
    border: 1px solid $border-colour;
}
.label--blue {
    @include label($link-colour, $link-colour)
}

.label--red {
    @include label($red, $red)
}

@media (max-width: 641px) {
  .label, .label--white, .label--blue, .label--red {
    font-size: 1.3rem;
  }
}
