.multiple-choice--hod [type=radio] + label::before {
  width: 24px;
  height: 24px;
  background-color: #fff;
}

.multiple-choice--hod [type=radio] + label::after {
  border: 7px solid;
  top: 7px;
  left: 7px;
}
