.tabs {
  @extend %contain-floats;

  @include media(tablet) {
    border-bottom: 1px solid $border-colour;
  }
}

  .tabs ol, .tabs ul {
    list-style: none;
    margin: 0 -16px;
    padding: 0;
    border-top: 1px solid $border-colour;

    @include media(tablet) {
      margin: 0;
      border-top: 0;
    }
  }

  .tabs li {
    margin: 0;

    @include media(tablet) {
      float: left;
      margin: 0 3px 0 0;
    }
  }

    .tabs li a {
      display: block;
      line-height: 3.5em;
      padding: 0 16px;
      text-align: left;
      border-bottom: 1px solid $border-colour;

      &:hover {
        background-color: $highlight-colour;
      }

      @include media(tablet) {
        border: solid 1px $white;
        border-bottom: none;
        float: left;
        height: 2.25em;
        line-height: 2.25em;
        margin-bottom: -1px;
        padding: 0 1em;
      }
    }

      .tabs li.active a {
        background-color: $white;
        border-bottom: 1px solid $border-colour;
        color: $text-colour;
        text-decoration: none;
        pointer-events: none;
        cursor: default;

        &:hover {
          color: inherit;
        }

        @include media(tablet) {
          border: solid 1px $border-colour;
          border-bottom: solid 1px $white;
        }
      }
