@import "@hods/sass-base";

.hods-pagination {
  &__navigation {
    &__summary {
      float: right;
      @include govuk-font(16);
      @include govuk-responsive-padding(2, "bottom");
      @include govuk-responsive-padding(2, "top");;
    }

    &__item {
      display: inline-block;
    }

    &__link {
      text-decoration: none;
      @include govuk-font(16);
      @include govuk-responsive-padding(1, "bottom");
      @include govuk-responsive-padding(1, "top");
      @include govuk-responsive-padding(2, "left");
      @include govuk-responsive-padding(2, "right");

      &:hover, &:focus {
        outline: 3px solid govuk-colour("yellow");
        @include govuk-font(16);
      }

      &--current {
        font-weight: bold;
        border: none;
        pointer-events: none;
        cursor: default;
        @include govuk-font(16);
        @include govuk-responsive-padding(1, "bottom");
        @include govuk-responsive-padding(1, "top");
        @include govuk-responsive-padding(2, "left");
        @include govuk-responsive-padding(2, "right");

        &:link,
        &:visited,
        &.govuk-link:link,
        &.govuk-link:visited {
          color: black
        }
      }
    }
  }
}
