{% extends "layout.html" %}
{% set active = "styles" %}
{% set activesub = "colour" %}

{% block pageTitle %}
Colour - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__styles.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">
    <div class="app-prose-scope">

      <span class="govuk-caption-xl">Styles</span>
      <h1 class="heading-section">Colour</h1>
      <p class="govuk-body-l">Always use the Home Office colour palette when you're designing and building internal services and products. For public facing and transactional sites use the <a href="https://design-system.service.gov.uk/styles/colour/">GOV.UK colour palette</a>.</p>
      <p class="govuk-body-l">Ask <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a> if you have any questions.</p>

      <!-- PRIMARY -->

      <section class="colour-swatch-wrapper">
        <h2 class="govuk-heading-l" style="margin-top: 1em; margin-bottom: 0.5em;">Main colours</h2>

        <h3 class="govuk-heading-m">Brand colour</h3>
        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#8F23B3"></span>
          <div class="hex">
            #8f23b3
          </div>
          <div class="colour-info">
            <p>Purple is the Home Office's brand colour. This doesn't mean you should use it as the dominant colour in a digital interface.</p>

<p>Overusing the purple can make content hard to read on screen, particularly on services that are designed to be used for long periods of time.</p>

<p>Home Office purple works best in digital interfaces when it's just used for the Home Office logo and sparingly used as a keyline or accent.</p>
          </div>
        </div>

        <h3 class="govuk-heading-m" style="margin-top: 1em;">Page background</h3>
        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#F1F1F1; border:1px solid #CBCBCB;"></span>
          <div class="hex">
            #f1f1f1
          </div>
          <div class="colour-info">
            Use light grey as the page background colour on internal services to minimise eye strain caused by high-contrast user interfaces. It's also better for readability for those with dyslexia.
          </div>
        </div>

        <h3 class="govuk-heading-m" style="margin-top: 1em;">Border</h3>
        <div class="colour-swatch">
          <span class="app-swatch" style="background-color:#CBCBCB;"></span>
          <div class="hex">
            #cbcbcb
          </div>
          <div class="colour-info">
            Use mid-grey for borders and to help define elements where needed.
          </div>
        </div>

        <h3 class="govuk-heading-m" style="margin-top: 1em;">Text and links</h3>

          <p>Use the <a href="https://design-system.service.gov.uk/styles/colour/">GOV.UK colours</a> for text and links as these meet accessibility standards when used with the Home Office page background.</p>




      </section>

      <!-- SECONDARY -->

      <section class="colour-swatch-wrapper">
        <h2 class="govuk-heading-l" style="margin-top: 2em;">Extra colours</h2>
        <p>You can use the <a href="https://design-system.service.gov.uk/styles/colour/">GOV.UK colour palette</a> alongside the main Home Office colours. Use them to create graphs and supporting materials. If you need to use tints of the palette, use either 25% or 50%.</p>


      </section>

      <!-- BACKGROUND COMBINATIONS -->

      <section class="colour-swatch-wrapper">
        <h2 class=" heading-small" style="margin-top: 2em;">Accessible text and background combinations</h2>
        <p>You should never use colour as the only way to convey information. You must also describe the information you're trying to convey. Always test the text and background colours to make sure they meet the minimum AA contrast ratios specified by <a href="https://www.w3.org/TR/WCAG21/#contrast-minimum">Web Content Accessibility Guidelines (WCAG) 2.1</a>. Below are the colour combinations that pass.</p>


        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">

            <div class="colour-swatch">
              <span class="app-swatch" style="background-color:#0b0c0c">
                <span style="color:#ffffff;">A</span>
              </span>
              <div class="colour-info">
                Background: #0b0c0c<br>
                Foreground: #ffffff
              </div>
            </div>

            <div class="colour-swatch">
              <span class="app-swatch" style="background-color:#ffffff;  border:1px solid #CBCBCB;">
                <span style="color:#0b0c0c;">A</span>
              </span>
              <div class="colour-info">
                Background: #ffffff<br>
                Foreground: #0b0c0c
              </div>
            </div>

            <div class="colour-swatch">
              <span class="app-swatch" style="background-color:#cbcbcb;  border:1px solid #CBCBCB;">
                <span style="color:#0b0c0c;">A</span>
              </span>
              <div class="colour-info">
                Background: #cbcbcb<br>
                Foreground: #0b0c0c
              </div>
            </div>

            <div class="colour-swatch">
              <span class="app-swatch" style="background-color:#00703c;">
                <span style="color:#ffffff;">A</span>
              </span>
              <div class="colour-info">
                Background: #00703c<br>
                Foreground: #FFFFFF
              </div>
            </div>

            <div class="colour-swatch">
              <span class="app-swatch" style="background-color:#1d70b8;">
                <span style="color:#ffffff;">A</span>
              </span>
              <div class="colour-info">
                Background: #1d70b8<br>
                Foreground: #FFFFFF
              </div>
            </div>
          </div>



        </div>

      </section>

      <!-- EXAMPLES REMOVED. NOT RELEVANT. -->
      <!-- <section>
        <h2 class="govuk-heading-m">Example usage of Home Office purple</h2>
        <p>Purple can be used sparingly in keylines and separators.</p>

        <div class="example example-images">
          <h3 class="visually-hidden">Card components</h3>
          <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-third">
              <div class="govuk-card govuk-card--contained">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-s">Card heading</h3>
                  <p>An overview of the content that exists behind this card. For example a full page detailing the card summary.</p>
                  <div class="govuk-card__actions">
                    <a href="#0">Perform this action</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="govuk-grid-column-one-third">
              <div class="govuk-card govuk-card--contained">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-s">Card heading</h3>
                  <p>An overview of the content that exists behind this card. For example a full page detailing the card summary.</p>
                  <div class="govuk-card__actions">
                    <a href="#0">Perform this action</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="govuk-grid-column-one-third">
              <div class="govuk-card govuk-card--contained">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-s">Card heading</h3>
                  <p>An overview of the content that exists behind this card. For example a full page detailing the card summary.</p>
                  <div class="govuk-card__actions">
                    <a href="#0">Perform this action</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="example example-images">
          <h3 class="visually-hidden">Example content page with grid</h3>
          <div class="grid-row" >
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom: 20px;">Casework service</h2>
              <p>Example content exaplaining what the internal service is.</p>
              <p>More details about the service. A short overview of the content that exists in this service. For example a full page detailing the service.</p>
            </div>

            <div class="govuk-grid-column-one-third">
              <div class="side-container">
                <h4 class="heading-small" style="margin-top:10px; margin-bottom: 10px;">Related content</h4>
                <ul style="font-size: 15px;">
                  <li style="padding-bottom: 6px;"><a href="#0">Help using the service</a></li>
                  <li style="padding-bottom: 6px;"><a href="#0">Messages</a></li>
                  <li style="padding-bottom: 6px;"><a href="#0">Recent activity</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </section> -->

    </div>
  </main>
</div>

{% endblock %}
