{% extends "layout.html" %}
{% set active = "styles" %}
{% set activesub = "icons" %}

{% block pageTitle %}
Icons - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__styles.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">

      <span class="govuk-caption-xl">Styles</span>
      <h1 class="heading-section">Icons</h1>
      <p class="govuk-body-l">Avoid unnecessary decoration - only use icons and images if there’s a real user need. Contact the central design team (<a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>) for advice.</p>

      <h2 id="navigation-icons" class="govuk-heading-m">Navigation icons</h2>
      <p>Helps users navigate through a service</p>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Icon</th>
              <th class="govuk-table__header" scope="col">Label</th>
              <th class="govuk-table__header" scope="col">Class name</th>
            </tr>
          </thead>
          <!-- hod-home-3 -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-home side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Home</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-home</code></th>
          </tr>
          <!-- hod-search -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-search side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Search</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-search</code></th>
          </tr>
          <!-- hod-key -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-key side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Login/Logout</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-key</code></th>
          </tr>
          <!-- hod-arrow-left -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-arrow-left side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Left</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-arrow-left</code></th>
          </tr>
          <!-- hod-arrow-down -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-arrow-down side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Down</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-arrow-down</code></th>
          </tr>
          <!-- hod-arrow-right -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-arrow-right side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Right</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-arrow-right</code></th>
          </tr>
          <!-- hod-arrow-up -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-arrow-up side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Up</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-arrow-up</code></th>
          </tr>
        </tbody>
      </table>

      <h2 id="controller-icons" class="govuk-heading-m">Controller icons</h2>
      <p>Helps users to sort, organise or adjust the information, for example by filtering data, opening and closing modals or revealing additional content</p>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Icon</th>
              <th class="govuk-table__header" scope="col">Label</th>
              <th class="govuk-table__header" scope="col">Class name</th>
            </tr>
          </thead>
          <!-- hod-search-plus -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-search-plus side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Zoom in</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-search-plus</code></th>
          </tr>
          <!-- hod-search-minus -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-search-minus side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Zoom out</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-search-minus</code></th>
          </tr>
          <!-- hod-chevron-left -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-chevron-left side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Left, Back</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-chevron-left</code></th>
          </tr>
          <!-- hod-chevron-right -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-chevron-right side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Right, Continue</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-chevron-right</code></th>
          </tr>
          <!-- hod-chevron-up -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-chevron-up side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Up, Close</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-chevron-up</code></th>
          </tr>
          <!-- hod-chevron-down -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-chevron-down side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Down, Expand</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-chevron-down</code></th>
          </tr>
          <!-- hod-plus -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-plus side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Add, Open</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-plus</code></th>
          </tr>
          <!-- hod-minus -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-minus side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Minus, Close</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-minus</code></th>
          </tr>
          <!-- hod-checkmark -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-checkmark side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Approved, Correct, Confirm</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-checkmark</code></th>
          </tr>
          <!-- hod-cross -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-cross side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Close, Delete, Remove</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-cross</code></th>
          </tr>
          <!-- Media controllers -->
          <!-- hod-play -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-play side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Play</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-play</code></th>
          </tr>
          <!-- hod-pause -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-pause side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Pause</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-pause</code></th>
          </tr>
          <!-- hod-stop -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-stop side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Stop</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-stop</code></th>
          </tr>
          <!-- hod-fast-forward -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-fast-forward-button side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Fast forward</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-fast-forward-button</code></th>
          </tr>
          <!-- hod-rewind-button -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-rewind-button side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Rewind</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-rewind-button</code></th>
          </tr>
          <!-- hod-skip-back -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-skip-back side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Skip back</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-skip-back</code></th>
          </tr>
          <!-- hod-skip-forward -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-skip-forward side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Skip forward</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-skip-forward</code></th>
          </tr>
        </tbody>
      </table>

      <h2 id="reference-icons" class="govuk-heading-m">Quick reference icons</h2>
      <p>Helps users to understand options and context</p>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Icon</th>
              <th class="govuk-table__header" scope="col">Label</th>
              <th class="govuk-table__header" scope="col">Class name</th>
            </tr>
          </thead>
          <!-- hod-email -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-close-envelope side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Email</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-close-envelope</code></th>
          </tr>
          <!-- hod-download -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-download-button side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Download</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-download-button</code></th>
          </tr>
          <!-- hod-map-marker -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-map-marker side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Location</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-map-marker</code></th>
          </tr>
          <!-- hod-cog -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-cog side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Settings</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-cog</code></th>
          </tr>
          <!-- phone -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-phone side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Call</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-phone</code></th>
          </tr>
          <!-- hod-file-empty -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-file-empty side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">File, Document</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-file-empty</code></th>
          </tr>
          <!-- hod-clock -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-clock side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Time</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-clock</code></th>
          </tr>
          <!-- hod-calendar -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-calendar side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Calendar, Date</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-calendar</code></th>
          </tr>
          <!-- hod-printer -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-printer side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Print</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-printer</code></th>
          </tr>
          <!-- hod-warning -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-warning side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Warning, Alert</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-warning</code></th>
          </tr>
          <!-- hod-info-circle -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-circle side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Info, Information</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-circle</code></th>
          </tr>
          <!-- hod-info-blue -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-info-blue side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Info, information</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-info-blue</code></th>
          </tr>
          <!-- hod-spinner -->
          <tr class="govuk-table__row">
            <th class="govuk-table__cell table-summary-content--icons"><span class="hod-spinner side-space icon-medium"></span></th>
            <th class="govuk-table__cell table-summary-content">Loading</th>
            <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-spinner</code></th>
          </tr>

        </tbody>
      </table>

      <h2 class="govuk-heading-m">Using the icons</h2>

      <h3 class="govuk-heading-s">In the prototyping kit</h3>
      <a href="/public//download/kit-icons.zip" class="govuk-button download-button download-button--large" role="button" style="margin:15px 0;">Download icons for prototyping kit</a>

      <ol class="list-number list">
        <li>Unzip the <a href="{{ asset_path }}/download/kit-icons.zip">download</a> and move the kit-icons folder into <code>app > assets</code>.</li>
        <li>Go to <code>app &#62; views &#62; includes &#62; head.html</code> and link to the new icons.css fil.e <br><pre><code class="html">&#x3C;link href=&#x22;/public/kit-icons/icons.css&#x22; media=&#x22;screen&#x22; rel=&#x22;stylesheet&#x22; type=&#x22;text/css&#x22; /&#x3E;</code></pre></li>
        <li>Add this code to <code>app &#62; assets &#62; sass &#62; application.scss</code> to help with sizing and spacing.
          <br><pre><code class="css">
            .side-space {
              margin-right: .5em;
            }
            .icon-medium {
              font-size: 24px;
              &:before {
                vertical-align: bottom;
                padding-bottom: 1em;
              }
            }
            .icon-small {
              font-size: 18px;
              &:before {
                vertical-align: middle;
                padding-bottom: 1em;
              }
            }
          </code></pre>
        </li>
        <li>On a page add this code and change the class name to the icon you want <br><pre><code class="html">&#x3C;span class=&#x22;hod-printer side-space icon-medium&#x22;&#x3E;&#x3C;/span&#x3E;</code></pre></li>
      </ol>

      <h3 class="govuk-heading-s">In Sketch</h3>
      <a href="/public/download/hod-icons.zip" class="govuk-button download-button download-button--large" role="button" style="margin:15px 0;">Download icons for Sketch</a>

      <ol class="list-number list">
        <li>Unzip the <a href="{{ asset_path }}/download/hod-icons.zip">download</a>. It contains SVG and PNG versions of each icon.</li>
        <li>Insert them into Sketch or your preferred graphics software.</li>
      </ol>

      <h2 id="interaction" class="govuk-heading-m">When to use icons</h2>
      <p>Icons can be used sparingly on frequent-use services. They are helpful at drawing users attention to actions. They also increase a users ability to scan a page and navigate a service.</p>

      <h2 id="documentation" class="govuk-heading-m">How to use icons</h2>
      <ul class="list-bullet">
        <li>The minimum icon size is 16px. If an icon is part of a button the hit area should be 36px.</li>
        <li>The icon shouldn't change colour in hover/active/focus states, only the background.</li>
        <li>Every icon should use a visible and audible label to avoid confusion over what it represents. And use <code class="language-markup">aria-hidden="true"</code>.</li>
        <li>Align the icon in a central position in relation to any type. Content can sit either side.</li>
        <li>Make sure icon colour combinations meets the minimum <a href="https://www.w3.org/TR/WCAG20-TECHS/G18.html">WCAG 2.0 AA</a> <a href="http://contrastchecker.com/">colour contrast check</a>.</li>
      </ul>

      <h2 id="research" class="govuk-heading-m">User research</h2>
      <p>Users interpret icons differently so shouldn't be used without a label.</p>
      <p>Don't use generic icons for specific labels, for example the calendar icon for a date of birth.</p>

      <h2 class="govuk-heading-m">Services using this pattern</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Application platform</li>
        <li>Entities</li>
      </ul>

      <div class="contact-us">
        <h2 class="govuk-heading-m">Get in touch</h2>
        <p>If you’ve got a question or suggestion share it on Slack <a href="slack://channel?id=C0FR8PE8Z&team=T03TJ3P61">#interaction-designers channel</a> or on <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/39">GitHub</a>.</p>
      </div>

    </div>
  </main>
</div>

{% endblock %}
