{% extends "layout.html" %}
{% set active = "styles" %}

{% block pageTitle %}
Styles - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__styles.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">
    <div class="app-prose-scope">


      <h1 class="heading-section">Styles</h1>

      <p>We use different design standards, or styles, applied to Home Office services and products depending on what domain they sit in and what kind of service it is.</p>

      <h2 class="govuk-heading-m">Home Office design style</h2>
      <p>Use the <a href="colour">Home Office colours</a>, <a href="https://rsms.me/inter/">Inter-UI</a> font and styles if your service is:
        <ul class="list list-bullet">
          <li>an internal service such as a caseworking system or admin product and</li>
          <li>sits on a homeoffice.gov.uk domain</li>
        </ul></p>


      <div class="example example-images" style="margin-top:1em;">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <span class="govuk-heading-m">Internal service</span>
            <img src="{{ asset_path }}/images/asl.png" alt="Animal licensing internal service." class="image-examples">
            <span class="image-caption">Animal Licensing on homeoffice.gov.uk</span>
          </div>
          <div class="govuk-grid-column-one-half">
            <span class="govuk-heading-m">Admin product</span>
            <img src="{{ asset_path }}/images/placeholder.png" alt="Staged photo of a large group of people in a line." class="image-examples">
            <span class="image-caption">Admin product</span>
          </div>
        </div>
      </div>
      <br>
      <p>Note: for public-facing services on homeoffice.gov.uk domain, independent branding may be used.</p>

      <h2 class="govuk-heading-m">GOV.UK design standard</h2>
      <p>Use the crown logo, GDS Transport font and <a href="https://design-system.service.gov.uk/styles/colour/">GOV.UK colours</a> if your service is:
        <ul class="list list-bullet">
          <li>public-facing and transactional and</li>
          <li> sits on a gov.uk or service.gov.uk domain</li>
        </ul></p>

      <div class="example example-images" style="margin-top:2.5em;">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <span class="govuk-heading-m">Public transactional service</span>
            <img src="{{ asset_path }}/images/apply-passport.png" alt="Two people sitting in a cafe having a coffee and talking." class="image-examples">
            <span class="image-caption"><a href="https://www.passport.service.gov.uk/">www.passport.service.gov.uk</a></span>
          </div>
          <div class="govuk-grid-column-one-half">
            <span class="govuk-heading-m">Public transactional service</span>
            <img src="{{ asset_path }}/images/rtw.png" alt="A staged image of a person talking to a group in a staged office environment." class="image-examples">
            <span class="image-caption"><a href="https://right-to-work.service.gov.uk/">www.right-to-work.service.gov.uk</a></span>
          </div>
        </div>
      </div>
      <br>
      <p>Note: Public-facing services sitting on gov.uk or service.gov.uk must use the GOV.UK design standard unless there is an exemption.</p>

      <h2 class="govuk-heading-m">Independent design standard</h2>
      <p>Independent branding is used on Home Office services that are:
        <ul class="list list-bullet">
          <li>marketing or informational sites</li>
          <li> public-facing services on gov.uk that are exempt from using GOV.UK style </li>
          <li>public-facing services on the homeoffice.gov.uk domain</li>
        </ul></p>

      <div class="example example-images" style="margin-top:2.5em;">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <span class="govuk-heading-m">Marketing/informational</span>
            <img src="{{ asset_path }}/images/police.png" alt="A person leading a group discussion infront of a whiteboard." class="image-examples">
            <span class="image-caption"><a href="https://www.joiningthepolice.co.uk">www.joiningthepolice.co.uk</a></span>
          </div>
          <div class="govuk-grid-column-one-half">
            <span class="govuk-heading-m">GOV.UK exemptions</span>
            <img src="{{ asset_path }}/images/gla.png" alt="Two people talking at work. Image has a purple filter." class="image-examples">
            <span class="image-caption"><a href="https://www.gla.gov.uk">www.gla.gov.uk</a></span>
          </div>
        </div>
      </div>

    </div>

  </main>
</div>

{% endblock %}
