{% extends "layout.html" %}
{% set active = "styles" %}

{% block pageTitle %}
Styles - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__styles.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">
    <div class="app-prose-scope">


      <h1 class="heading-section">Styles</h1>

      <p>We apply different styles to Home Office services and products depending on what domain they sit in and what kind of service it is.</p>

      <h2 class="govuk-heading-m">Home Office design styles</h2>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

      <p>If your service:</p>
        <ul class="list list-bullet">
          <li>is internal, such as a caseworking system or admin service, and</li>
          <li>sits on a homeoffice.gov.uk domain</li>
        </ul>
        <p>You should use:
        <ul class="list list-bullet">
          <li><a href="styles/templates">Home Office page template</a></li>
          <li><a href="https://rsms.me/inter/">Inter-UI</a> font</li>
          <li><a href="styles/colour">Home Office colours</a></li>
        </ul></p>
        </div>
        <div class="govuk-grid-column-one-half">
          <!-- <span class="govuk-heading-m">Internal service</span> -->
          <img src="{{ asset_path }}/images/ddat-events.png" alt="" class="image-examples">
          <span class="image-caption">DDaT Together page on homeoffice.gov.uk</span>
        </div>
      </div>


      <!-- <div class="example example-images" style="margin-top:1em;">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <span class="govuk-heading-m">Internal service</span>
            <img src="{{ asset_path }}/images/ddat-events.png" alt="DDaT events page." class="image-examples">
            <span class="image-caption">DDaT Together page on homeoffice.gov.uk</span>
          </div>
        </div>
      </div> -->
      <hr>
      <!-- <p>Note: for public-facing services on homeoffice.gov.uk domain, independent branding is sometimes used.</p> -->

      <h2 class="govuk-heading-m">GOV.UK design styles</h2>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

      <p>If your service:</p>
        <ul class="list list-bullet">
          <li>is public-facing and transactional, and</li>
          <li>sits on a gov.uk or service.gov.uk domain</li>
        </ul>
        <p>You should use:
        <ul class="list list-bullet">
          <li><a href="https://design-system.service.gov.uk/styles/page-template/">GOV.UK page template</a></li>
          <li>the crown logo and GDS Transport font</li>
          <li><a href="https://design-system.service.gov.uk/styles/colour/">GOV.UK colours</a></li>
        </ul></p>
        <p>Note: independent branding is used for services that are granted a GOV.UK exemption.</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <!-- <span class="govuk-heading-m">Public transactional service</span> -->
        <img src="{{ asset_path }}/images/apply-passport.png" alt="" class="image-examples">
        <span class="image-caption"><a href="https://www.passport.service.gov.uk/">www.passport.service.gov.uk</a></span>
      </div>
      </div>

<hr>
      <!-- <div class="example example-images" style="margin-top:2.5em;">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <span class="govuk-heading-m">Public transactional service</span>
            <img src="{{ asset_path }}/images/apply-passport.png" alt="Two people sitting in a cafe having a coffee and talking." class="image-examples">
            <span class="image-caption"><a href="https://www.passport.service.gov.uk/">www.passport.service.gov.uk</a></span>
          </div>
          <div class="govuk-grid-column-one-half">
            <span class="govuk-heading-m">Public transactional service</span>
            <img src="{{ asset_path }}/images/rtw.png" alt="A staged image of a person talking to a group in a staged office environment." class="image-examples">
            <span class="image-caption"><a href="https://right-to-work.service.gov.uk/">www.right-to-work.service.gov.uk</a></span>
          </div>
        </div>
      </div> -->



      <h2 class="govuk-heading-m">Independent branding</h2>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

          <p>If your service is one of the following:</p>
            <ul class="list list-bullet">
              <li>a marketing or informational site</li>
              <li>public-facing and exempt from using GOV.UK styles</li>
              <li>public-facing and on the homeoffice.gov.uk domain</li>
            </ul>
            <p>You may be able to use independent branding.
      </div>
      <div class="govuk-grid-column-one-half">
        <!-- <span class="govuk-heading-m">Marketing/informational</span> -->
        <img src="{{ asset_path }}/images/police.png" alt="" class="image-examples">
        <span class="image-caption"><a href="https://www.joiningthepolice.co.uk">www.joiningthepolice.co.uk</a></span>
      </div>
      </div>

      <!-- <div class="example example-images" style="margin-top:2.5em;">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <span class="govuk-heading-m">Marketing/informational</span>
            <img src="{{ asset_path }}/images/police.png" alt="A person leading a group discussion infront of a whiteboard." class="image-examples">
            <span class="image-caption"><a href="https://www.joiningthepolice.co.uk">www.joiningthepolice.co.uk</a></span>
          </div>
          <div class="govuk-grid-column-one-half">
            <span class="govuk-heading-m">GOV.UK exemptions</span>
            <img src="{{ asset_path }}/images/gla.png" alt="Two people talking at work. Image has a purple filter." class="image-examples">
            <span class="image-caption"><a href="https://www.gla.gov.uk">www.gla.gov.uk</a></span>
          </div>
        </div>
      </div> -->

    </div>

  </main>
</div>

{% endblock %}
