{% extends "layout.html" %}
{% set active = "styles" %}
{% set activesub = "templates" %}

{% block pageTitle %}
Page templates - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__styles.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">
    <div class="app-prose-scope">

      <span class="govuk-caption-xl">Styles</span>
      <h1 class="heading-section">Page templates</h1>
<p>Internal services or admin products sitting on homeoffice.gov.uk domain should use these page templates.</p>
<p>View the coded examples in the <a href="https://github.com/UKHomeOffice/ho-style-prototype-kit">Home Office prototype kit</a> </p>
      <section>
        <div class="example example-images">
          <div class="govuk-grid-row">
            <!-- Default header example -->
            <header>
              <div class="wrapper-header">
                <div class="wrapper-header--default">
                  <div class="header-logo--default" style="margin-left:0;">
                    {% include "includes/home-office-logo.html" %}
                  </div>
                  <div class="header-title--default">
                    <a href="#0" class="header-name">Service name</a>
                  </div>
                </div>
              </div>
            </header>
          </div>

          <div class="govuk-grid-row"><h2 class="govuk-heading-m">Default page template</h2>
            <p>The header inspires trust with the department logo, while the service name helps users understand which service they are using.</p>
            <p>The footer includes information about the department with relevant links. White background helps to clearly section the main content area.</p>
          </div>
          <!-- Default footer example -->
          <div class="govuk-grid-row">
            <footer style="box-shadow:none;">
              <div class="wrapper-footer">
                <div>
                  <p class="footer-message">A Home Office Digital, Data and Technology service</p>
                </div>
                <div class="footer-menu">
                  <ul>
                    <li><a href="#0">Feedback</a></li>
                    <li><a href="#0">Help</a></li>
                    <li><a href="#0">GOV.UK home</a></li>
                  </ul>
                </div>
              </div>
            </footer>

          </div>
        </div>
        <!-- <details class="code-details">
          <summary>HTML</summary>
          <pre><code class="html">{% filter escape %}{% include "includes/components/header.html" %}{% endfilter %}</code></pre>
          <pre><code class="html">{% filter escape %}{% include "includes/components/footer.html" %}{% endfilter %}</code></pre>
        </details>
        <details class="code-details details-margin-btm">
          <summary>CSS</summary>
          <pre><code class="css">{% filter escape %}{% include "includes/css/header-default.scss" %}{% endfilter %}</code></pre>
          <pre><code class="css">{% filter escape %}{% include "includes/css/footer.scss" %}{% endfilter %}</code></pre>
        </details> -->
      </section>

      <section>
        <div class="example example-images">
          <div class="govuk-grid-row">

            <!-- Header with menu example -->
            <header>
              <div class="wrapper-header">
                <div class="wrapper-header--menu">
                  <div class="header-logo--menu"">
                    {% include "includes/home-office-logo.html" %}
                  </div>
                  <div class="header-title--menu">
                    <a href="#0" class="header-name">Service name</a>
                  </div>
                  <div class="header-menu--menu">
                    <ul>
                      <li><a href="#0">User name</a></li>
                      <li><a href="#0">Sign out</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </header>
</div>
            <div class="govuk-grid-row"><h2 class="govuk-heading-m">Customised page template with menu</h2>
              <p>Use the header with a menu if you need to include basic navigation, contact or account management links.</p>
            </div>
            <!-- Default footer example -->
            <div class="govuk-grid-row">
              <footer style="box-shadow:none;">
                <div class="wrapper-footer">
                  <div>
                    <p class="footer-message">A Home Office Digital, Data and Technology service</p>
                  </div>
                  <div class="footer-menu">
                    <ul>
                      <li><a href="#0">Feedback</a></li>
                      <li><a href="#0">Help</a></li>
                      <li><a href="#0">GOV.UK home</a></li>
                    </ul>
                  </div>
                </div>
              </footer>

          </div>
        </div>
        <!-- <details class="code-details">
          <summary>HTML</summary>
          <pre><code class="html">{% filter escape %}{% include "includes/components/header--menu.html" %}{% endfilter %}</code></pre>
          <pre><code class="html">{% filter escape %}{% include "includes/components/footer.html" %}{% endfilter %}</code></pre>
        </details>
        <details class="code-details details-margin-btm">
          <summary>CSS</summary>
          <pre><code class="css">{% filter escape %}{% include "includes/css/header-menu.scss" %}{% endfilter %}</code></pre>
          <pre><code class="css">{% filter escape %}{% include "includes/css/footer.scss" %}{% endfilter %}</code></pre>
        </details> -->
      </section>

      <section>
        <div class="example example-images">
          <div class="govuk-grid-row">

            <!-- Header with sub-nav example -->
            <header>
              <div class="wrapper-header">
                <div class="wrapper-header--default">
                  <div class="header-logo--default" style="margin-left:0;">
                    {% include "includes/home-office-logo.html" %}
                  </div>
                  <div class="header-title--default">
                    <a href="/" class="header-name">Service name</a>
                  </div>
                </div>
              </div>
            </header>
            <div class="header-example-nav wrapper-header-subnav">
              {% include "includes/top_nav.html" %}
            </div>
            </div>

            <div class="govuk-grid-row"><h2 class="govuk-heading-m">Customised page template with sub-navigation</h2>
              <p>Use the header with a sub-navigation on services when navigation is more complex, usually on larger services.</p>
            </div>
            <!-- Default footer example -->
            <div class="govuk-grid-row">
              <footer style="box-shadow:none;">
                <div class="wrapper-footer">
                  <div>
                    <p class="footer-message">A Home Office Digital, Data and Technology service</p>
                  </div>
                  <div class="footer-menu">
                    <ul>
                      <li><a href="#0">Feedback</a></li>
                      <li><a href="#0">Help</a></li>
                      <li><a href="#0">GOV.UK home</a></li>
                    </ul>
                  </div>
                </div>
              </footer>

          </div>
        </div>
        <!-- <details class="code-details">
          <summary>HTML</summary>
          <pre><code class="html">{% filter escape %}{% include "includes/components/header--nav.html" %}{% endfilter %}</code></pre>
          <pre><code class="html">{% filter escape %}{% include "includes/components/footer.html" %}{% endfilter %}</code></pre>
        </details>
        <details class="code-details details-margin-btm">
          <summary>CSS</summary>
          <pre><code class="css">{% filter escape %}{% include "includes/css/header-default.scss" %}{% endfilter %}</code></pre>
          <pre><code class="css">{% filter escape %}{% include "includes/css/footer.scss" %}{% endfilter %}</code></pre>
        </details> -->
      </section>

      <!-- <h3 class="govuk-heading-m">Related</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/components/navigation">Sub-navigation</a></li>
      </ul> -->

    </div>
  </main>
</div>

{% endblock %}
