@import "@not-govuk/sass-base";
@import "govuk-frontend/govuk/objects/_width-container";

.hods-header {
  background-color: #FFF;

  &__link, a {
    text-decoration: none;
    color: #000;

    &:active, &:hover, &:link, &:visited {
      color: #000;
    }

    &:hover {
      text-decoration: underline;
    }

    &--service-name {
      font-size: 21px;
      font-weight: 400;
    }
  }

  &__container {
    align-items: center;
  }

  &__main {
    display: flex;
    padding: 20px 0;
    width: 100%;

    > *:last-child {
      margin-right: auto;
    }
  }

  &__logo {
    display: block;
    width: 150px;
    height: auto;
    margin-right: 20%;
    line-height: 0;
  }

  &__logo-svg {
  }

  &__title {
    margin-right: auto;
    align-self: center;
  }

  &__account-menu {
    font-size: 17px;
    align-self: center;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      a {
        text-decoration: none;
        color: #0B0C0C;
      }

      a:hover {
        text-decoration: underline!important;
      }
    }

    li:first-child {
      padding-left:0;
    }

    li {
      padding-left: 1.5em;
      list-style: none;
      margin-bottom: 0;
    }
  }

  &__navigation {
    padding-left: 20px;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.45;
  }

  &__navigation-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  &__navigation-item {
    box-sizing: border-box;
    height: 50px;
    float: left;
    line-height: 50px;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    &--active {
      border-bottom: 3px solid #0b0c0c !important;
      font-weight: bold;

      a:hover {
        color: #232727;
      }
    }

    &:hover {
      border-bottom: 3px solid #0b0c0c;
    }

    a {
      display: block;
      padding: 0 15px;
      color: #0b0c0c !important;
      text-decoration: none;

      &:visited {
        color: #0b0c0c !important;
      }

      &:hover, &focus {
        color: #0b0c0c;
        background-color: inherit;
        text-decoration: none;
      }
    }
  }
}

.hods-width-container {
  @extend .govuk-width-container;
}
