@import "@hods/sass-base";
@import "@not-govuk/service-navigation";

$link_colour: govuk_colour('black');

.hods-service-navigation {
  background-color: govuk-colour(white);
  border: 0 none;

  .govuk-width-container {
    @include govuk-responsive-padding(8, "left");
    @include govuk-responsive-padding(8, "right");
  }

  .govuk-service-navigation__link {
    &,
    &--active,
    &:not(:hover):not(:focus) {
      color: $link_colour;
    }
  }

  .govuk-service-navigation__list {
    &__link {
      &,
      &--active,
      &:not(:hover):not(:focus) {
        color: $link_colour;
      }
    }

    &__item {
      border-color: $hods-brand-colour-purple;
    }
  }
}
