{% extends "layout.html" %}
{% set active = "community" %}
{% set activesub = "github" %}

{% block pageTitle %}
GitHub - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__contribute.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">

      <h1 class="govuk-heading-l">Using GitHub to propose design system changes</h1>

      <p>This guide explains how to propose a new pattern or component and edit and comment on existing suggestions.</p>

      <p>The design system working group uses a system called GitHub to help manage and review suggestions of new patterns, components or other design system changes to the Home Office design system.</p>

      <p>You’ll need a GitHub account to make a proposal. If you do not have an account, <a href="https://github.com">you can create one for free.</a></p>

      <h2 class="govuk-heading-m">1. Go to GitHub</h2>

      <p>Go to the Home Office design system GitHub page: <a href="https://github.com/UKHomeOffice/design-system/issues">https://github.com/UKHomeOffice/design-system/issues</a></p>

      <p>The Issues tab presents the list of all proposals – both open and closed. To add your proposal, click on the New Issue button to the right of the list.</p>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <img src="{{ asset_path }}/images/Github-guide-screen-1.png" class="confirm-desktop" style="width: 100%;max-height: 100%" alt="Github issue screen with a highlight around the New issue button">
          <img src="{{ asset_path }}/images/Github-guide-screen-1.png" class="confirmation confirm-mobile" style="width: 100%;max-height: 100%" alt="Github issue screen with a highlight around the New issue button">
    </div>
  </div>


      <h2 class="govuk-heading-m">2. Add the details of your proposal</h2>

      <p>Give it a descriptive and useful title.</p>

      <p>The text area is prepopulated as a guide to help you format and explain your proposal. Overwrite the text sections with the details of your proposal, providing as much information as you can.</p>

      <p>You can add files, such as screen shots and images, to support your submission.</p>

      <p>The material you provide will help the design working group to make an informed decision on your proposal.</p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <img src="{{ asset_path }}/images/Github-guide-screen-2.png" class="confirm-desktop" style="width: 100%;max-height: 100%" alt="Showing create a new issue screen in Github with a highlight around add a title input">
          <img src="{{ asset_path }}/images/Github-guide-screen-2.png" class="confirmation confirm-mobile" style="width: 100%;max-height: 100%" alt="Showing create a new issue screen in Github with a highlight around add a title input">
        </div>
      </div>

      <h2 class="govuk-heading-m">3. Submit your proposal</h2>
      <p>Once you have added the necessary information, select the Submit new issue button at the foot of the page. Your proposal has been added to the list.</<p>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <img src="{{ asset_path }}/images/Github-guide-screen-3.png" class="confirm-desktop" style="width: 100%;max-height: 100%" alt="Create a new issue screen focused on the text input area and highlighting the submit new issue button">
            <img src="{{ asset_path }}/images/Github-guide-screen-3.png" class="confirmation confirm-mobile" style="width: 100%;max-height: 100%" alt="Create a new issue screen focused on the text input area and highlighting the submit new issue button">
          </div>
        </div>

      <h2 class="govuk-heading-m">4. Editing and commenting</h2>
      <p>You can edit your own proposal and also comment on others in the list.</p>

      <p>Whether editing or commenting, you can add files (such as screenshots or images) to proposals.</p>

      <p>To edit your issue, click on the title of the issue, select the 3-dot icon in the top right of the text area, and then choose Edit.</p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <img src="{{ asset_path }}/images/Github-guide-screen-5.png" class="confirm-desktop" style="width: 100%;max-height: 100%" alt="Screen displaying an issue that has been created and highlighting a drop down menu on how to edit the issue">
          <img src="{{ asset_path }}/images/Github-guide-screen-5.png" class="confirmation confirm-mobile" style="width: 100%;max-height: 100%" alt="Screen displaying an issue that has been created and highlighting a drop down menu on how to edit the issue">
        </div>
      </div>

      <p>To give feedback on other proposals in the Issues list, click on the title to open it and leave a comment in the Write field. Select the Comment button beneath the field to save your text.</p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <img src="{{ asset_path }}/images/Github-guide-screen-6.png" class="confirm-desktop" style="width: 100%;max-height: 100%" alt="Screen displaying an issue that has been created and highlighting the area where you can add comments and feedback on that issue">
          <img src="{{ asset_path }}/images/Github-guide-screen-6.png" class="confirmation confirm-mobile" style="width: 100%;max-height: 100%" alt="Screen displaying an issue that has been created and highlighting the area where you can add comments and feedback on that issue">
        </div>
      </div>

    </div>

  </main>
</div>

{% endblock %}
