{% extends "layout.html" %}
{% set active = "community" %}
{% set activesub = "working" %}

{% block pageTitle %}
Working group - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__contribute.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">

      <h1 class="heading-section">Design system working group</h1>

      <p>The Home Office design system working group meets once a month to discuss ways to develop and improve the Home Office design system.</p>

      <p>The working group also helps support new design proposals, and encourage the communities to <a href="https://design.homeoffice.gov.uk/community/propose">get involved and contribute.</a></p>

      <p>It is a cross-functional team made up of interaction and content design, user research, accessibility, and front-end development.</p>

      <p>You can contact the working group on the Home Office #ho-design-system slack channel, or email the design system working group on <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>.</p>

    </div>

  </main>
</div>

{% endblock %}
