<div class="panel panel-border-wide alert-default">
  <h2 class="govuk-heading-s">New passport</h2>
  <p>We'll send your new passport by secure delivery. The cost is included in the passport fee.</p>
</div>

<div class="panel panel-border-wide alert-success">
  <h2 class="govuk-heading-s">Payment successful</h2>
  <p>We've sent details to test-email@test-corp.co.uk
  <br><a href="#0">Download confirmation</a></p>
</div>

<div class="panel panel-border-wide alert-error">
  <h2 class="govuk-heading-s">Payment unsuccessful</h2>
  <p>Please try again or contact our <a href="#0">support team</a> for assistance.</p>
</div>
