<div class="block-space">
	<a class="button button-secondary" type="submit">
		On page action
	</a>
</div>


<div class="block-space">
	<a class="button button-affordance" type="submit">
		<span class="hod-download-button side-space icon-medium"></span>Download an item
	</a>
</div>

<div class="block-space">
	<a class="button button-affordance" type="submit">
		<span class="hod-plus side-space icon-medium"></span>
		Add an item
	</a>
</div>

<h2 class="heading-medium">Disabled secondary actions</h2>

<div class="block-space">
	<a class="button button-secondary" type="submit" disabled>
		On page action
	</a>
</div>

<div class="block-space">
	<a class="button button-affordance" type="submit" disabled>
		<span class="hod-download-button side-space icon-medium"></span>Download an item
	</a>
</div>


<div class="block-space">
	<a class="button button-affordance" type="submit" disabled>
		<span class="hod-plus side-space icon-medium"></span>
		Add an item
	</a>
</div>