&lt;ul class=&quot;grid-row&quot;&gt;
  &lt;li class=&quot;card column-one-third&quot;&gt;
    &lt;a href=&quot;#0&quot; class=&quot;card__body&quot;&gt;
      &lt;span class=&quot;bold-xlarge&quot;&gt;12&lt;/span&gt;
      &lt;span class=&quot;bold-small&quot;&gt;cos available&lt;/span&gt;
    &lt;/a&gt;
    &lt;div class=&quot;card__footer&quot;&gt;
      &lt;span class=&quot;font-small&quot;&gt;This is how many certificates of sponsorship you have left to use.&lt;/span&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li class=&quot;card column-one-third&quot;&gt;
    &lt;a href=&quot;#0&quot; class=&quot;card__body&quot;&gt;
      &lt;span class=&quot;bold-xlarge&quot;&gt;12&lt;/span&gt;
      &lt;span class=&quot;bold-small&quot;&gt;cos available&lt;/span&gt;
    &lt;/a&gt;
    &lt;div class=&quot;card__footer&quot;&gt;
      &lt;span class=&quot;font-small&quot;&gt;This is how many certificates of sponsorship you have left to use.&lt;/span&gt;
    &lt;/div&gt;
  &lt;/li&gt;
&lt;/ul&gt;
