<ul class="govuk-grid-row">
  <li class="card column-one-third">
    <a href="#0" class="card__body">
      <span class="bold-xlarge">12</span>
      <span class="bold-small">certificates available</span>
    </a>
    <div class="card__footer">
      <span class="font-small">How many certificates sponsorship have left to use.</span>
    </div>
  </li>
  <li class="card column-one-third">
    <a href="#0" class="card__body">
      <span class="bold-xlarge">6</span>
      <span class="bold-small">certificates used</span>
    </a>
    <div class="card__footer">
      <span class="font-small">This is how many certificates sponsorship have used.</span>
    </div>
  </li>
</ul>
