<ul class="grid-row">
  <li class="card column-one-third">
    <a href="#0" class="card__body">
      <span class="bold-xlarge">12</span>
      <span class="bold-small">cos available</span>
    </a>
    <div class="card__footer">
      <span class="font-small">This is how many certificates of sponsorship you have left to use.</span>
    </div>
  </li>
  <li class="card column-one-third">
    <a href="#0" class="card__body">
      <span class="bold-xlarge">12</span>
      <span class="bold-small">cos available</span>
    </a>
    <div class="card__footer">
      <span class="font-small">This is how many certificates of sponsorship you have left to use.</span>
    </div>
  </li>
</ul>
