<h3 class="heading-medium" style="margin-top:0;">How do you travel to work?</h3>
<p>Select all that apply</p>

<form>
  <fieldset>

    <legend class="visually-hidden">How do you travel to work?</legend>

    <div class="multiple-choice--hod">
      <div class="multiple-choice" data-target="public-transport">
        <input id="transport-type-1" name="transport-types" type="checkbox" value="Public transport">
        <label for="transport-type-1">Public transport - opens options</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="public-transport">
        <label class="form-label" for="public-transport-type">What type of public transport did you use?</label>
        <input class="form-control" name="public-transport-type" type="text" id="public-transport-type">
      </div>

      <div class="multiple-choice">
        <input id="transport-type-2" name="transport-types" type="checkbox" value="Walk">
        <label for="transport-type-2">Walk</label>
      </div>

      <div class="multiple-choice">
        <input id="transport-type-3" name="transport-types" type="checkbox" value="Bicycle">
        <label for="transport-type-3">Bicycle</label>
      </div>

      <div class="multiple-choice">
        <input id="transport-type-4" name="transport-types" type="checkbox" value="Car/Bike">
        <label for="transport-type-4">Car/Motorbike</label>
      </div>

    </div>

  </fieldset>
</form>
