&lt;form&gt;
  &lt;fieldset&gt;

    &lt;legend class="visually-hidden"&gt;How do you travel to work?&lt;/legend&gt;

    &lt;div class="multiple-choice--hod"&gt;
      &lt;div class="multiple-choice"&gt;
        &lt;input id="transport-type-1" name="transport-types" type="checkbox" value="Public transport"&gt;
        &lt;label for="transport-type-1"&gt;Public transport&lt;/label&gt;
      &lt;/div&gt;

      &lt;div class="multiple-choice"&gt;
        &lt;input id="transport-type-2" name="transport-types" type="checkbox" value="Walk"&gt;
        &lt;label for="transport-type-2"&gt;Walk&lt;/label&gt;
      &lt;/div&gt;

      &lt;div class="multiple-choice"&gt;
        &lt;input id="transport-type-3" name="transport-types" type="checkbox" value="Bicycle"&gt;
        &lt;label for="transport-type-3"&gt;Bicycle&lt;/label&gt;
      &lt;/div&gt;

      &lt;div class="multiple-choice"&gt;
        &lt;input id="transport-type-4" name="transport-types" type="checkbox" value="Car/Bike"&gt;
        &lt;label for="transport-type-4"&gt;Car/Bike&lt;/label&gt;
      &lt;/div&gt;

      &lt;div class="multiple-choice"&gt;
        &lt;input id="transport-type-5" name="transport-types" type="checkbox" value="Boat"&gt;
        &lt;label for="transport-type-5"&gt;Boat&lt;/label&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  &lt;/fieldset&gt;
&lt;/form&gt;
