<h2 class="heading-medium" style="margin:0 0 20px 0;">Filter results</h2>

<form>
  <fieldset>
    <legend style="margin-bottom:15px;">Minimum contract length</legend>
    <div class="multiple-choice--hod">
      <div class="multiple-choice">
        <input id="contract-length-1" name="contract-length" type="checkbox" value="Less then 1 year">
        <label for="contract-length-1">Less then 1 year</label>
      </div>
      <div class="multiple-choice">
        <input id="contract-length-2" name="contract-length" type="checkbox" value="2 years">
        <label for="contract-length-2">2 years</label>
      </div>
      <div class="multiple-choice">
        <input id="contract-length-3" name="contract-length" type="checkbox" value="5 years">
        <label for="contract-length-3">5 years</label>
      </div>
      <div class="multiple-choice">
        <input id="contract-length-4" name="contract-length" type="checkbox" value="10 years">
        <label for="contract-length-4">10 years</label>
      </div>
    </div>
  </fieldset>
</form>
