<h2 class="govuk-heading-m" style="margin:0 0 20px 0;">Filter results</h2>

<form>
  <fieldset class="govuk-fieldset">
    <legend style="margin-bottom:15px; class="govuk-fieldset__legend">
      <h3 class="govuk-heading-s" style="margin-bottom:0;">Minimum contract length</h3>
    </legend>
    <div class="multiple-choice--hod">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contract-length-1" name="contract-length" type="checkbox" value="Less then 1 year">
        <label class="govuk-label govuk-checkboxes__label" for="contract-length-1">Less then 1 year</label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contract-length-2" name="contract-length" type="checkbox" value="2 years">
        <label class="govuk-label govuk-checkboxes__label" for="contract-length-2">2 years</label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contract-length-3" name="contract-length" type="checkbox" value="5 years">
        <label class="govuk-label govuk-checkboxes__label" for="contract-length-3">5 years</label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contract-length-4" name="contract-length" type="checkbox" value="10 years">
        <label class="govuk-label govuk-checkboxes__label" for="contract-length-4">10 years</label>
      </div>
    </div>
  </fieldset>
</form>
