<div class="govuk-box-highlight incomplete">
  <h2 class="govuk-heading-m">Request received</h2>
  <p>We have sent you a confirmation email and you can <a href="#0">view your request and its current status</a>.</p>
</div>

<h1 class="govuk-heading-l">
  Send your documents to complete your application
</h1>

<ol class="list list-number">
  <li>Print the declaration.</li>
    <h3 class="govuk-heading-m doc-icon">
      <a href="#0">Print the declaration</a>
      <small>(pdf)</small>
    </h3>
  <li>Ask to complete and sign the declaration.</li>
  <li>We must receive the signed declaration by 17 March 2017.</li>
  <li>We&rsquo;ll consider your request within 18 weeks of receiving the signed declaration.</li>
</ol>

<div class="notice">
  <i class="icon icon-important">
    <span class="govuk-visually-hidden">Warning</span>
  </i>
  <p>
    <strong class="bold-small">
      If we don&rsquo;t receive your declaration  by 17 March 2017 or it&rsquo;s signed by the wrong person your request will be refused.
    </strong>
  </p>
</div>

<p><a href="#0">Back to [section]</a></p>
