<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- Basic label -->
    <h2 class="govuk-heading-m" style="margin-top:0.5em;margin-bottom: 0.8em;">Basic label</h2>
    <table class="govuk-table">
      <tbody>
        <tr class="govuk-table__row">
          <td class="table-summary-content govuk-table__cell ">Task 1<span class="label">sent</span></td>
          <td class="table-summary-content govuk-table__cell ">Example of tagging content</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="table-summary-content govuk-table__cell ">Task 1<span class="label--blue">completed</span></td>
          <td class="table-summary-content govuk-table__cell ">Example of secondary tag</td>
        </tr>
      </tbody>
    </table>

    <!-- Label on darker background -->
    <h2 class="govuk-heading-m" style="margin-bottom: 0.8em;">Label on darker background</h2>
    <table class="govuk-table">
      <tbody style="background-color: #DEE0E2;">
        <tr class="govuk-table__row">
          <td class="table-summary-content govuk-table__cell " style="padding-left: 0.5em;">Task 1<span class="label--white">sent</span></td>
          <td class="table-summary-content govuk-table__cell">Example of tagging a single word</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="table-summary-content govuk-table__cell " style="padding-left: 0.5em;">Task 1<span class="label--blue">completed</span></td>
          <td class="table-summary-content govuk-table__cell ">Example of tertiary tag</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
