<nav role="navigation" aria-label="Pagination">
  <div class="pagination__summary">Showing 101 - 150 of 246 results</div>
  <ul class="pagination">
    <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Previous page"><span aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 1">1</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">2</a></li>
    <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true" aria-label="Page 3, current page">3</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 4">4</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 5">5</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Next page">Next <span aria-hidden="true" role="presentation">&raquo;</span></a></li>
  </ul>
</nav>
