<h2 class="govuk-heading-m" style="margin:0 0 20px 0;">Filter results</h2>

<form>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__heading" style="margin-bottom:15px;">
      <h3 class="govuk-heading-s">Application month</h3>
    </legend>
    <div class="multiple-choice--hod govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="month-1" type="radio" name="radio-group" value="This month">
        <label class="govuk-label govuk-radios__label" for="month-1">This month</label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="month-2" type="radio" name="radio-group" value="February 2018">
        <label class="govuk-label govuk-radios__label" for="month-2">February 2018</label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="month-3" type="radio" name="radio-group" value="January 2018">
        <label class="govuk-label govuk-radios__label" for="month-3">January 2018</label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="month-4" type="radio" name="radio-group" value="December 2017">
        <label class="govuk-label govuk-radios__label" for="month-4">December 2017</label>
      </div>
    </div>
  </fieldset>
</form>
