<h2 class="heading-medium" style="margin:0 0 20px 0;">Filter results</h2>

<form>
  <fieldset>
    <legend style="margin-bottom:15px;">Application month</legend>
    <div class="multiple-choice--hod">
      <div class="multiple-choice">
        <input id="month-1" type="radio" name="radio-group" value="This month">
        <label for="month-1">This month</label>
      </div>
      <div class="multiple-choice">
        <input id="month-2" type="radio" name="radio-group" value="February 2018">
        <label for="month-2">February 2018</label>
      </div>
      <div class="multiple-choice">
        <input id="month-3" type="radio" name="radio-group" value="January 2018">
        <label for="month-3">January 2018</label>
      </div>
      <div class="multiple-choice">
        <input id="month-4" type="radio" name="radio-group" value="December 2017">
        <label for="month-4">December 2017</label>
      </div>
    </div>
  </fieldset>
</form>
