<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    <!-- < CONTENT NAVIGATION > -->
    <ul class="tab__nav">
      <li>
        <a href="#0" class="active" data-target="central">
          London - Central
        </a>
      </li>
      <li>
        <a href="#0" class="" data-target="south">
          London - South
        </a>
      </li>
      <li class="locked">
        Locked content
      </li>
    </ul>
    <!-- </ CONTENT NAVIGATION > -->

  </div>

  <div class="govuk-grid-column-two-thirds">

    <!-- < CENTRAL > -->
    <div class="tab__content" id="central">
      <form>
        <fieldset class="govuk-fieldset">
          <legend class="govuk-visually-hidden">London boroughs - Central</legend>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="london-1" name="central" type="checkbox" value="Camden">
              <label class="govuk-label govuk-checkboxes__label" for="london-1">Camden</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="london-2" name="central" type="checkbox" value="City of London">
              <label class="govuk-label govuk-checkboxes__label" for="london-2">City of London</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="london-3" name="central" type="checkbox" value="Kensington and Chelsea">
              <label class="govuk-label govuk-checkboxes__label" for="london-3">Kensington and Chelsea</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="london-4" name="central" type="checkbox" value="Islington">
              <label class="govuk-label govuk-checkboxes__label" for="london-4">Islington</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="london-5" name="central" type="checkbox" value="Lambeth">
              <label class="govuk-label govuk-checkboxes__label" for="london-5">Lambeth</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="london-6" name="central" type="checkbox" value="Southwark">
              <label class="govuk-label govuk-checkboxes__label" for="london-6">Southwark</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="london-7" name="central" type="checkbox" value="Westminster">
              <label class="govuk-label govuk-checkboxes__label" for="london-7">Westminster</label>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <!-- </ CENTRAL > -->

    <!-- < SOUTH > -->
    <div class="tab__content js-hidden" id="south">
      <form>
        <fieldset class="govuk-fieldset">
          <legend class="govuk-visually-hidden">London boroughs - South</legend>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="london-south-1" name="south" type="checkbox" value="Bromley">
              <label class="govuk-label govuk-checkboxes__label" for="london-south-1">Bromley</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="london-south-2" name="south" type="checkbox" value="Croydon">
              <label class="govuk-label govuk-checkboxes__label" for="london-south-2">Croydon</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="london-south-3" name="south" type="checkbox" value="Kingston upon Thames">
              <label class="govuk-label govuk-checkboxes__label" for="london-south-3">Kingston upon Thames</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="london-south-4" name="south" type="checkbox" value="Merton">
              <label class="govuk-label govuk-checkboxes__label" for="london-south-4">Merton</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="london-south-5" name="south" type="checkbox" value="Richmond upon Thames">
              <label class="govuk-label govuk-checkboxes__label" for="london-south-5">Richmond upon Thames</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="london-south-6" name="south" type="checkbox" value="Sutton">
              <label class="govuk-label govuk-checkboxes__label" for="london-south-6">Sutton</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="london-south-7" name="south" type="checkbox" value="Wandsworth">
              <label class="govuk-label govuk-checkboxes__label" for="london-south-7">Wandsworth</label>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <!-- < / SOUTH > -->

  </div>
</div>
