<form action="" method="" enctype="multipart/form-data">

  <div class="grid-row">
    <div class="column-full">
      <div class="section-tabs">
        <ul class="tab__horizontal">
          <li aria-controls="status" role="tab" class="active" tabindex="0">
            <a data-target="timeline">Timeline</a>
          </li>
          <li aria-controls="status" role="tab" tabindex="0" class="">
            <a data-target="application">Application</a>
          </li>
          <li aria-controls="status" role="tab" tabindex="0" class="">
            <a data-target="action">Actions</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Tab 1 -->
  <div id="timeline" class="tab__content-horizontal">
    <div  class="grid-row">
      <div class="column-two-thirds">
        <h2 style="margin-top:0" class="heading-medium">Case activity</h2>
        <table>
          <caption class="heading-small visually-hidden">Activity and date</caption>
          <tbody>
            <tr>
              <td>Submitted expense claim</td>
              <td>25 July 2017</td>
            </tr>
            <tr>
              <td>Application was made for financial support</td>
              <td>23 May 2017</td>
            </tr>
            <tr>
              <td>Address details updated</td>
              <td>5 May 2017</td>
            </tr>
            <tr>
              <td>Applicant was added to the system</td>
              <td>4 May 2017</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!-- Tab 2 -->
  <div id="application" class="tab__content-horizontal js-hidden">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 style="margin-top:0" class="heading-medium">Application details</h2>
        <p>The applicant process was completed and closed on 29 July 2017.</p>
      </div>
    </div>
  </div>

  <!-- Tab 3 -->
  <div id="action" class="tab__content-horizontal js-hidden">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 style="margin-top:0" class="heading-medium">Actions</h2>
        <p>No actions available</p>
      </div>
    </div>
  </div>

</form>
