<div class="js-tabs"> <!-- JS will add .tabs class -->
  <ul class="govuk-list govuk-list--bullet">
      <li><a class="tabs__link" href="#timeline">Timeline</a></li>
      <li><a class="tabs__link" href="#application">Application</a></li>
      <li><a class="tabs__link" href="#actions">Actions</a></li>
  </ul>

  <!-- Tab 1 -->
  <div id="timeline" class="tab-content">
    <h2 class="govuk-heading-m">Timeline</h2>
    <table>
      <tbody>
        <tr>
          <td>Submitted expense claim</td>
          <td>25 July 2017</td>
        </tr>
        <tr>
          <td>Application was made for financial support</td>
          <td>23 May 2017</td>
        </tr>
        <tr>
          <td>Address details updated</td>
          <td>5 May 2017</td>
        </tr>
        <tr>
          <td>Applicant was added to the system</td>
          <td>4 May 2017</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Tab 2 -->
  <div id="application" class="tab-content">
    <h2 class="govuk-heading-m">Application details</h2>
    <p>The applicant process was completed and closed on 29 July 2017.</p>
  </div>

  <!-- Tab 3 -->
  <div id="actions" class="tab-content">
    <h2 class="govuk-heading-m">Actions</h2>
    <p>No actions available</p>
  </div>
</div>
