{% extends "layout.html" %}
{% set active = "patterns" %}
{% set activesub = "access-a-service" %}
{% set activenest = "codes" %}

{% block pageTitle %}
Access a service with security codes - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__patterns.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">

<!-- ASK USERS FOR / HELP USERS TO / PAGES -->
      <!-- <span class="govuk-caption-xl">Ask users for</span> -->
      <span class="govuk-caption-xl">Help users to</span>
      <!-- <span class="govuk-caption-xl">Pages</span> -->

<!-- PATTERN NAME -->
      <h1 class="heading-section heading-pattern">Access a service with security codes</h1>
      <p class="also-known-as">Also known as: two factor authentication</ </p>

      <div>
        <p class="research-status">
          <!-- <strong class="label--recommended govuk-!-margin-top-0 govuk-!-margin-bottom-2">RECOMMENDED</strong><br> -->
          <strong class="label--experimental govuk-!-margin-top-0 govuk-!-margin-bottom-2">EXPERIMENTAL</strong><br>
          This pattern is currently experimental because <a href="/community/stages">more research</a> is needed to validate it.
        </p>
      </div>

<!-- ONE LINE DESCRIPTION -->
      <p class="govuk-body-l one-line-description">Let users access a service in a secure way by authenticating themselves with security codes.</p>
      <div class="example example-images confirmation">
        <img src="{{ asset_path }}/images/access-service-security.svg" class="confirm-desktop" alt="An example of a flow authenticating users with security codes. The flow is 2 screens. Screen 1 asks the user how they would like to receive their security code, the user can choose between receiving it by phone or email. The phone or email is already on record as part of the  service. The second screen tells the user that a security code has been sent to their phone number and asks for the user to input the security code they received.">
        <img src="{{ asset_path }}/images/access-service-security.svg" class="confirmation confirm-mobile" alt="An example of a flow authenticating users with security codes. The flow is 2 screens. Screen 1 asks the user how they would like to receive their security code, the user can choose between receiving it by phone or email. The phone or email is already on record as part of the  service. The second screen tells the user that a security code has been sent to their phone number and asks for the user to input the security code they received.">
      </div>

<!-- WHEN TO USE PATTERN -->

      <h2 class="govuk-heading-m">When to use this pattern</h2>
      <p>You can use security codes or two-factor authentication (often shortened to 2FA) to verify a user's identity to let them access a service.</p>
      <p>You can use this method of authentication when a service stores user data and allows users to access it. Two-factor helps protect the user and the service.</p>
      <p>There are three types of two-factor authentication:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>something a user knows (password or pin)</li>
        <li>something a user has (phone or fob)</li>
        <li>a biometric (fingerprint or voice)</li>
      </ul>

<!-- WHEN NOT TO USE PATTERN - OPTIONAL-->

<!-- <h2 class="govuk-heading-m">When not to use this pattern</h2>
<p>Content</p> -->

<!-- HOW IT WORKS - OPTIONAL -->

<!-- <h2 class="govuk-heading-m">How it works</h2>
<p>Content</p> -->

<!-- SERVICES USING THIS PATTERN  -->

      <h2 class="govuk-heading-m">Services using this pattern</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Access UK</li>
        <li><a href="https://www.gov.uk/settled-status-eu-citizens-families/applying-for-settled-status">Apply for the EU Settlement Scheme</a></li>
        <li>Status: right to rent, right to work, <a href="https://www.gov.uk/view-prove-immigration-status">view and prove</a></li>
        <li><a href="https://www.gov.uk/update-eu-settlement-scheme-details">Update your EU Settlement Scheme details</a></li>
      </ul>

<!-- RESEARCH -->

      <h2 class="govuk-heading-m">Research</h2>
      <p>More research is needed. If your service uses this pattern, get in touch to share your user research findings.</p>

<!-- ACCESSIBILITY -->

      <h2 class="govuk-heading-m">Accessibility</h2>
      <p>If your service uses this pattern, let us know of any insights you have on accessibility considerations.</p>

<!-- RELATED PATTERNS - OPTIONAL -->
<!-- <h2 class="govuk-heading-m">Related patterns</h2>
<ul class="govuk-list govuk-list--bullet">
<li><a href="upload-file">Add a file</a></li>
</ul> -->

      <div class="contact-us">
       <h2 class="govuk-heading-m">Get in touch</h2>
       <p>If you’ve got a question or suggestion share it on the Slack channel #ho-design-system, on <a href="https://github.com/UKHomeOffice/design-system">GitHub</a> or email the design system working group on <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>.</p>
      </div>

    </div>
  </main>
</div>

{% endblock %}
