{% extends "layout.html" %}
{% set active = "patterns" %}
{% set activesub = "reference" %}

{% block pageTitle %}
Access a service: with reference numbers - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__patterns.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">

<!-- ASK USERS / HELP USERS / PAGES -->
      <span class="govuk-caption-xl">Help users to</span>

<!-- PATTERN NAME -->
      <h1 class="heading-section govuk-!-margin-bottom-2">Access a service with reference numbers</h1>
      <p>Also known as: authentication</p>

      <div>
      <p><strong class="label--experimental govuk-!-margin-top-0 govuk-!-margin-bottom-2">EXPERIMENTAL</strong>
      <br>
      This pattern is currently experimental because <a href="/community/stages">more research</a> is needed to validate it.</p>
      </div>

<!--ONE LINE DESCRIPTION  -->
      <p class="govuk-body-l govuk-!-margin-top-7">Let users access a service in a secure way by authenticating themselves with reference numbers.</p>

      <div class="example example-images confirmation">
        <img src="{{ asset_path }}/images/auth.svg" class="confirm-desktop" alt="An example of a flow authenticating users with reference numbers. The flow is 3 screens. Screen 1 shows the user that their application has been saved and gives them a reference number. The second screen is the homepage of the service with the option of a user continuing a saved application. The final screen asks the user to input their email address and application reference number to gain access to the service.">

        <img src="{{ asset_path }}/images/auth-mobile.svg" class="confirmation confirm-mobile" alt="An example of a flow authenticating users with reference numbers. The flow is 3 screens. Screen 1 shows the user that their application has been saved and gives them a reference number. The second screen is the homepage of the service with the option of a user continuing a saved application. The final screen asks the user to input their email address and application reference number to gain access to the service.">
      </div>

<!-- WHEN TO USE PATTERN -->
      <h2 class="govuk-heading-m">When to use this pattern</h2>
      <p>Follow this pattern if you are helping users access a service by authenticating them with reference numbers. A reference number is a simple way to let users access a service. For example, when a user saves progress and needs to return to complete a service.</p>

<!-- SERVICES USING THIS PATTERN  -->
      <h2 class="govuk-heading-m">Services using this pattern</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Passport renewals</li>
      </ul>

<!-- RESEARCH -->
      <h2 class="govuk-heading-m">Research</h2>
      <p>More research is needed. If your service uses this pattern, get in touch to share your user research findings.</p>

<!-- ACCESSIBILITY -->
      <h2 class="govuk-heading-m">Accessibility</h2>
      <p>If your service uses this pattern, let us know of any insights you have on accessibility considerations.</p>

<!--CONTACT US  -->
      <div class="contact-us">
       <h2 class="govuk-heading-m">Get in touch</h2>
       <p>If you’ve got a question or suggestion share it on the Slack <a href="slack://channel?id=CTXV6L1K4&team=T03TJ3P61">#ho-design-system</a> channel, on <a href="https://github.com/UKHomeOffice/design-system" target=blank>GitHub</a> or email the design system working group on <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>.</p>
     </div>

    </div>
  </main>
</div>

{% endblock %}
