{% extends "layout.html" %}
{% set active = "patterns" %}
{% set activesub = "access-a-service-beta" %}
{% set activenest = "codes" %}

{% block pageTitle %}
Access a service with security codes - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__patterns.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">

<!-- ASK USERS FOR / HELP USERS TO / PAGES -->
      <!-- <span class="govuk-caption-xl">Ask users for</span> -->
      <span class="govuk-caption-xl">Help users to</span>
      <!-- <span class="govuk-caption-xl">Pages</span> -->

<!-- PATTERN NAME -->
      <h1 class="heading-section heading-pattern">Access a service with security codes</h1>
      <!-- <p class="also-known-as">Also known as: </p> -->

      <!-- <div>
        <p class="research-status">
          <strong class="label--recommended govuk-!-margin-top-0 govuk-!-margin-bottom-2">RECOMMENDED</strong><br>
          <strong class="label--experimental govuk-!-margin-top-0 govuk-!-margin-bottom-2">EXPERIMENTAL</strong><br>
          This pattern is currently experimental because <a href="/community/stages">more research</a> is needed to validate it.
        </p>
      </div> -->

<!-- ONE LINE DESCRIPTION -->
      <p class="govuk-body-l one-line-description">One line description</p>
      <div class="example example-images">
        <img src="">
      </div>

<!-- WHEN TO USE PATTERN -->

      <h2 class="govuk-heading-m">When to use this pattern</h2>
      <p></p>

<!-- WHEN NOT TO USE PATTERN - OPTIONAL-->

<!-- <h2 class="govuk-heading-m">When not to use this pattern</h2>
<p>Content</p> -->

<!-- HOW IT WORKS - OPTIONAL -->

<!-- <h2 class="govuk-heading-m">How it works</h2>
<p>Content</p> -->

<!-- SERVICES USING THIS PATTERN  -->

      <h2 class="govuk-heading-m">Services using this pattern</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Service</li>
      </ul>

<!-- RESEARCH -->

      <h2 class="govuk-heading-m">Research</h2>
      <p>More research is needed. If your service uses this pattern, get in touch to share your user research findings.</p>

<!-- ACCESSIBILITY -->

      <h2 class="govuk-heading-m">Accessibility</h2>
      <p>If your service uses this pattern, let us know of any insights you have on accessibility considerations.</p>

<!-- RELATED PATTERNS - OPTIONAL -->
<!-- <h2 class="govuk-heading-m">Related patterns</h2>
<ul class="govuk-list govuk-list--bullet">
<li><a href="upload-file">Add a file</a></li>
</ul> -->

      <div class="contact-us">
       <h2 class="govuk-heading-m">Get in touch</h2>
       <p>If you've got a question or suggestion share it on the Slack <a href="slack://channel?id=CTXV6L1K4&team=T03TJ3P61">#ho-design-system</a> channel, on <a href="https://github.com/UKHomeOffice/design-system" target=blank>GitHub</a> or email the design system working group on <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>.</p>
      </div>

    </div>
  </main>
</div>

{% endblock %}
