{% extends "layout.html" %}
{% set active = "patterns" %}
{% set activesub = "add-multiple-things" %}

{% block pageTitle %}
Add multiple things - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__patterns.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">

<!-- ASK USERS FOR / HELP USERS TO / PAGES -->
      <!-- <span class="govuk-caption-xl">Ask users for</span> -->
      <span class="govuk-caption-xl">Help users to</span>
      <!-- <span class="govuk-caption-xl">Pages</span> -->

<!-- PATTERN NAME -->
      <h1 class="heading-section heading-pattern">Add multiple things</h1>
      <p class="also-known-as">Also known as: multiple loops</p>

      <!-- <div>
        <p class="research-status">
          <strong class="label--recommended govuk-!-margin-top-0 govuk-!-margin-bottom-2">RECOMMENDED</strong><br>
          <strong class="label--experimental govuk-!-margin-top-0 govuk-!-margin-bottom-2">EXPERIMENTAL</strong><br>
          This pattern is currently experimental because <a href="/community/stages">more research</a> is needed to validate it.
        </p>
      </div> -->

<!-- ONE LINE DESCRIPTION -->
      <p class="govuk-body-l one-line-description">An interaction that allows a user to add multiple items, check and add more if needed.</p>

      <div class="example example-images confirmation">
        <img src="{{ asset_path }}/images/multiple-loops.svg" class="confirm-desktop" alt="An example of a multiple loop flow, adding multiple addresses. The flow is 3 screens. Screen 1 is the user entering their postcode. The second screen lets the user pick the right address. The final screen plays back the address and has an option to add another address.">
        <img src="{{ asset_path }}/images/multiple-loops-mobile.svg" class="confirmation confirm-mobile" alt="An example of a multiple loop flow, adding multiple addresses. The flow is 3 screens. Screen 1 is the user entering their postcode. The second screen lets the user pick the right address. The final screen plays back the address and has an option to add another address.">
      </div>

      <h2 class="govuk-heading-m">When to use this pattern</h2>
      <p>This interaction allows a user to add single or multiple items, check they are correct and an option to add more.</p>
      <p>This pattern can be used to add people to an application, add items to a list or uploading files.</p>

      <h2 class="govuk-heading-m">Guidance</h2>
      <h3 class="govuk-heading-s">It can be used:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>to help confirm an action</li>
        <li>to allow the user to change their minds</li>
        <li>when the action is not easily reversible</li>
        <li>when the completion immediately starts another process</li>
      </ul>

      <h3 class="govuk-heading-s">Multiple loops should:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>remember previous choices</li>
        <li>give clear guidance on the flexibility of choices</li>
      </ul>

      <h2 class="govuk-heading-m">Interactions using this pattern</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Entering a recipient&rsquo;s email address</li>
        <li>Uploading multiple files</li>
        <li>Adding multiple postal addresses</li>
      </ul>

      <h2 class="govuk-heading-m">Related patterns</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="upload-files">Upload files</a></li>
      </ul>

      <div class="contact-us">
       <h2 class="govuk-heading-m">Get in touch</h2>
       <p>If you’ve got a question or suggestion share it on the Slack <a href="slack://channel?id=CTXV6L1K4&team=T03TJ3P61">#ho-design-system</a> channel, on <a href="https://github.com/UKHomeOffice/design-system">GitHub</a> or email the design system working group on <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>.</p>
     </div>

    </div>
  </main>
</div>

{% endblock %}
