{% extends "layout.html" %}
{% set active = "patterns" %}
{% set activesub = "addresses" %}

{% block pageTitle %}
Addresses - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__patterns.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">

<!-- ASK USERS FOR / HELP USERS TO / PAGES -->
      <span class="govuk-caption-xl">Ask users for</span>
      <!-- <span class="govuk-caption-xl">Help users to</span> -->
      <!-- <span class="govuk-caption-xl">Pages</span> -->

<!-- PATTERN NAME -->
      <h1 class="heading-section heading-pattern">Addresses</h1>
      <p class="also-known-as">Also known as: postcode lookup</p>

      <!-- <div>
        <p class="research-status">
          <strong class="label--recommended govuk-!-margin-top-0 govuk-!-margin-bottom-2">RECOMMENDED</strong><br>
          <strong class="label--experimental govuk-!-margin-top-0 govuk-!-margin-bottom-2">EXPERIMENTAL</strong><br>
          This pattern is currently experimental because <a href="/community/stages">more research</a> is needed to validate it.
        </p>
      </div> -->

<!-- ONE LINE DESCRIPTION -->
      <p class="govuk-body-l one-line-description">Allow users to find an address using a postcode lookup.</p>

      <div class="example example-images confirmation" style="margin-bottom: 2em;">
        <img src="{{ asset_path }}/images/postcode-lookup.svg" class="confirm-desktop" alt="A diagram of a postcode lookup. The first page gives the user an input for their postcode. There are three possible results. The user finds their address, the user inputs their address manually or the postcode shows no results so they input their address manually.">
        <img src="{{ asset_path }}/images/postcode-lookup-mobile.svg" class="confirmation confirm-mobile" alt="A diagram of a postcode lookup. The first page gives the user an input for their postcode. There are three possible results. The user finds their address, the user inputs their address manually or the postcode shows no results so they input their address manually.">
      </div>

      <h2 class="govuk-heading-m">Guidance</h2>
      <h3 class="govuk-heading-s">It can be used:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>to find a single address</li>
        <li>to add an address manually</li>
        <li>as part of a loop to add multiple addresses</li>
      </ul>

      <h3 class="govuk-heading-s">It should not be used:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>if the address is needed as structured data</li>
      </ul>

      <h3 class="govuk-heading-s">The postcode lookup pattern should:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>replay the address options clearly</li>
        <li>give the user flexibility to add an address in different ways</li>
      </ul>

      <h2 class="govuk-heading-m">User research</h2>
      <ul class="list">
        <li>Users living in new-build accomodation who knew their address wouldn't be found had no problem with free text input.</li>
      </ul>

      <div class="contact-us">
       <h2 class="govuk-heading-m">Get in touch</h2>
       <p>If you’ve got a question or suggestion share it on the Slack <a href="slack://channel?id=CTXV6L1K4&team=T03TJ3P61">#ho-design-system</a> channel, on <a href="https://github.com/UKHomeOffice/design-system">GitHub</a> or email the design system working group on <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>.</p>
     </div>

    </div>
  </main>
</div>

{% endblock %}
