{% extends "layout.html" %}
{% set active = "patterns" %}
{% set activesub = "brp" %}

{% block pageTitle %}
Biometric residence card or permit details - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__patterns.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">

<!-- ASK USERS / HELP USERS / PAGES -->
      <span class="govuk-caption-xl">Ask users for</span>
      <!-- <span class="govuk-caption-xl">Help users to</span> -->
      <!-- <span class="govuk-caption-xl">Pages</span> -->

<!-- PATTERN NAME -->
      <h1 class="heading-section heading-pattern">Biometric residence card or permit details</h1>
      <!-- <p class="also-known-as">Also known as: </p> -->

      <div>
        <p class="research-status">
          <strong class="label--recommended govuk-!-margin-top-0 govuk-!-margin-bottom-2">RECOMMENDED</strong><br>
          <!-- <strong class="label--experimental govuk-!-margin-top-0 govuk-!-margin-bottom-2">EXPERIMENTAL</strong><br>
          This pattern is currently experimental because <a href="/community/stages">more research</a> is needed to validate it. -->
        </p>
      </div>

<!--ONE LINE DESCRIPTION  -->
      <p class="govuk-body-l one-line-description">Ask users for details from their biometric residence card (BRC) or permit (BRP), an identity document that allows users certain rights to live, study and work in the UK.</p>
      <!-- <p class="govuk-body-l">Ask users for details from their biometric residence card (BRC) or permit (BRP), an identity document that allows users certain rights to live, study and work in the UK.</p> -->

      <div class="example example-images confirmation">
        <img src="{{ asset_path }}/images/brp.svg" class="confirm-desktop" alt="An example of a flow asking users for biometric residence card or permit details. The flow is 3 screens. Screen 1 is asking if a user has a biometric residence card or permit. The second screen asks the user to put down their biometric residence card or permit number. The final screen asks for the user's date of birth.">

        <img src="{{ asset_path }}/images/brp.svg" class="confirmation confirm-mobile" alt="An example of a flow asking users for biometric residence card or permit details. The flow is 3 screens. Screen 1 is asking if a user has a biometric residence card or permit. The second screen asks the user to put down their biometric residence card or permit number. The final screen asks for the user's date of birth.">
      </div>

<!-- WHEN TO USE PATTERN - MUST HAVE -->
      <h2 class="govuk-heading-m">When to use this pattern</h2>
      <p>Follow this pattern if this is the identity document users need to: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>apply for something</li>
        <li>create, access and recover an account</li>
        <li>prove their identity</li>
        <li>update their details</li>
      </ul>

<!-- WHEN NOT TO USE PATTERN - OPTIONAL-->
      <!-- <h2 class="govuk-heading-m">When not to use this pattern</h2>
      <p>Content</p> -->

<!-- HOW IT WORKS - OPTIONAL -->
      <!-- <h2 class="govuk-heading-m">How it works</h2>
      <p>Content</p> -->

<!-- SERVICES USING THIS PATTERN - MUST HAVE -->
      <h2 class="govuk-heading-m">Services using this pattern</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>EU Settlement account recovery</li>
        <li>Generic Identity Verification</li>
        <li>Status: right to rent, <a href="https://www.gov.uk/prove-right-to-work">right to work</a></li>
        <li>Update your details</li>
      </ul>

<!-- RESEARCH - MUST HAVE-->
      <h2 class="govuk-heading-m">Research</h2>
      <p>This pattern tested well with a range of users. Research has shown when asked to supply details for the BRC/P, some users began searching online for an example of what this was. Having an image helped users pick the right number and in the right format.</p>

      <p>Asking for the date of birth in the next screen made it easier for the user to use the service because it was asking one thing per page. This works well on mobile devices too. The date of birth with the BRC/P number  provides the minimal amount of information needed to verify a user’s identity from that document.</p>

<!-- ACCESSIBILITY - MUST HAVE-->
      <h2 class="govuk-heading-m">Accessibility</h2>
      <p>Placing the image of the BRC/P inline, directly beneath the question, has made it more accessible with magnification software by keeping the layout left-aligned. We recommend following the guidance on the use of alt text in the <a href="https://design-system.service.gov.uk/styles/images/">GOV.UK Design System</a>. </p>

<!-- RELATED PATTERNS - OPTIONAL -->
      <h2 class="govuk-heading-m">Related patterns</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="guidance-image">Guidance images</a></li>
      </ul>

      <div class="contact-us">
       <h2 class="govuk-heading-m">Get in touch</h2>
       <p>If you’ve got a question or suggestion share it on the Slack <a href="slack://channel?id=CTXV6L1K4&team=T03TJ3P61">#ho-design-system</a> channel, on <a href="https://github.com/UKHomeOffice/design-system" target=blank>GitHub</a> or email the design system working group on <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>.</p>
     </div>

    </div>
  </main>
</div>

{% endblock %}
