{% extends "layout.html" %}

{% block page_title %}
  Pattern - Service name header
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-full">
      <h1 class="heading-section">Case summary</h1>
      <p class="lede">A familiar landmark that appears throughout the service at the top of every view.</p>
      <ul class="metadata">
        <li>Usage: internal</li>
        <li>Status: experimental</li>
        <li>Last updated: 1 September 2017</li>
      </ul>

      <h2 class="heading-medium" id="example-component">Example component</h2>
      <div class="example example-images">
        <div class="grid-row">
          {% include "includes/patterns/case-summary.html" %}
        </div>
      </div>
      <!-- <details>
        <summary>Show code snippet</summary>
        <pre class="language-markup"><code class="language-markup">{% include "includes/patterns/header-code.html" %}</code></pre>
      </details> -->
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-medium">Why have we created this pattern?</h2>
      <p>There is currently no documentation for casework summaries.</p>

      <h2 class="heading-medium">Interaction principles</h2>



      <h2 class="heading-medium">Content principles</h2>


      <h2 class="heading-medium">User research</h2>
      <ul class="list list-bullet">
        <li>too many global actions placed in the header impacted mobile/narrow view; minimise global actions on header where necessary </li>
        <li>users didn't always associate service name with linking back to the service home page </li>
        <li>long usernames on header were challenging; users preferred sign-out over username display as it offered reassurance they are leaving the system </li>
        <li>service names were not verbs but nouns due to covering a range of actions</li>
      </ul>

      <h2 class="heading-medium">Pattern is missing</h2>
      <ul class="list list-bullet">
        <li>considerations for mobile view</li>
      </ul>

      <h2 class="heading-medium rule-above">Prototype code</h2>

      <ul class="list list-bullet">
        <li>Layout &mdash; <a href="https://github.com/eliothill/home-office-digital-patterns/tree/master/app/views/includes/patterns/header.html">header.html</a></li>
      </ul>

      <!--h2 class="heading-medium">Services using this pattern</h2>
      <ul class="list">
        <li>Do all services use this pattern?</li>
      </ul-->

    </div>
  </div>
</main>

{% endblock %}
