{% extends "layout.html" %}

{% block page_title %}
Pattern - Case summary
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-full">
      <h1 class="heading-section">Case summary</h1>
      <p class="lede">A default view of a case in a caseworking system.</p>
      <ul class="metadata">
        <li>Usage: internal</li>
        <li>Status: experimental</li>
        <li>Last updated: 1 September 2017</li>
      </ul>

      <h2 class="heading-medium" id="example-component">Example component</h2>
      <div class="example example-images">
        <div class="grid-row">
          {% include "includes/patterns/case-summary.html" %}
        </div>
      </div>
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-medium">Why have we created this pattern?</h2>
      <p>There is currently no documentation for casework summaries.</p>

      <h2 class="heading-medium">Interaction principles</h2>

      <h2 class="heading-medium">Content principles</h2>

      <h2 class="heading-medium">User research</h2>

      <h2 class="heading-medium">Pattern is missing</h2>
      <ul class="list list-bullet">
        <li>Research</li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
