{% extends "layout.html" %}

{% block page_title %}
  Pattern - Confirmation loop
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">

  <div class="banner" role="banner">
    <h1 class="heading-section">Confirmation</h1>
    <p class="lede">An interaction that confirms the input a user has entered is correct.</p>
    <ul class="metadata">
      <li>Usage: internal/external</li>
      <li>Status: experimental</li>
      <li>Last updated: 14 September 2017</li>
    </ul>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <div class="example example-images confirmation">
        <h2 class="heading-small" id="example-component">The confirmation pattern</h2>
        <img src="{{ asset_path }}/images/confirmation-desktop.svg" class=" confirm-desktop" alt="A diagram of the confirmation pattern showing three steps. Step 1 shows an input field. Step 2 shows a confirmation box with the users input, a button to confirm and a link to cancel. Step 3 shows confirmation the interaction is complete.">
        <img src="{{ asset_path }}/images/confirmation-mobile.svg" class="confirmation confirm-mobile" alt="A diagram of the confirmation pattern showing three steps. Step 1 shows an input field. Step 2 shows a confirmation box with the users input, a button to confirm and a link to cancel. Step 3 shows confirmation the interaction is complete.">
      </div>
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-medium">What is a confirmation?</h2>
      <p>A confirmation is an interaction that asks the user to confirm before completing an action or transaction.</p>

      <p>Confirmation may be needed where the action is final and a mistake is not rectifiable - leaving the user at a loss.</p>

      <h2 class="heading-medium">Guidance</h2>
      <h3 class="heading-small">It should be used:</h3>
      <ul class="list list-bullet">
        <li>to confirm a single input or action</li>
        <li>when the action is not rectifiable</li>
        <li>when the completion immediately starts a process</li>
      </ul>

      <h3 class="heading-small">It should not be used:</h3>

      <ul class="list list-bullet">
        <li>to agree to terms and conditions</li>
        <li>if the user can change their action/input later</li>
      </ul>

      <h3 class="heading-small">The confirmation should be</h3>
      <ul class="list list-bullet">
        <li>meaningful</li>
        <li>use the same language as the requested action</li>
        <li>able to be cancelled and the input/action changed</li>
      </ul>

      <h2 class="heading-medium">Interactions using this pattern</h2>
      <ul class="list list-bullet">
        <li>Entering a recipients email address</li>
      </ul>

    </div>
  </div>
</main>


{% endblock %}
