{% extends "layout.html" %}
{% set active = "patterns" %}
{% set activesub = "confirmation-accountcreation" %}

{% block pageTitle %}
Patterns template - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__patterns.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">

<!-- ASK USERS / HELP USERS / PAGES -->
      <!-- <span class="govuk-caption-xl">Ask users for</span> -->
      <span class="govuk-caption-xl">Pages</span>
      <!-- <span class="govuk-caption-xl">Pages</span> -->

<!-- PATTERN NAME -->
      <h1 class="heading-section">Confirmation: Account creation
      <!-- <p>Also known as </p> -->

      <div>
      <!-- <strong class="label--recommended govuk-!-margin-top-4">RECOMMENDED</strong> -->
      <strong class="label--experimental govuk-!-margin-top-4">EXPERIMENTAL</strong>
      <br>
      <p class="govuk-body">This pattern is currently experimental because <a href="/community">more research</a> is needed to validate it.</p>
      </div>
      </h1>
<!--ONE LINE DESCRIPTION  -->
      <p class="govuk-body-l">Use this pattern if the user needs to sign back in to change details on their application, and also be able to save and continue with their application.</p>

      <div class="example example-images confirmation">
        <img src="{{ asset_path }}/images/account-created-screen.png" class="confirm-desktop" alt="Screen that shows information to the user that an account has been created. The user is able to sign back in and access their details by using their passport number and date of birth.">

        <img src="{{ asset_path }}/images/account-created-screen.png" class="confirmation confirm-mobile" alt="Screen that shows information to the user that an account has been created. The user is able to sign back in and access their details by using their passport number and date of birth.">
      </div>

<!-- WHEN TO USE PATTERN -->
      <h2 class="govuk-heading-m">When to use this pattern</h2>
      <p>If the user creates an account whilst making an application, and needs to sign back in to update and change their details. It should also allow the user to continue and save their application at any time.</p>

<!-- WHEN NOT TO USE PATTERN - OPTIONAL-->
      <!-- <h2 class="govuk-heading-m">When not to use this pattern</h2>
      <p>Content</p> -->

<!-- HOW IT WORKS - OPTIONAL -->
      <!-- <h2 class="govuk-heading-m">How it works</h2>
      <p>Content</p> -->

<!-- SERVICES USING THIS PATTERN  -->
      <h2 class="govuk-heading-m">Services using this pattern</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Apply for the EU Settlement Scheme</li>
        <li>Visas and immigration </li>
      </ul>

<!-- RESEARCH -->
      <h2 class="govuk-heading-m">Research</h2>
      <p>Further research is needed on how to let users know they can change their account details in the future. And also to look into whether adapting confimation pages is the right format for users to review information more easily.</p>

<!-- ACCESSIBILITY -->
            <h2 class="govuk-heading-m">Accessibility</h2>
            <p>If your service uses this pattern, we’d be interested to hear any insights you have on any accessibility considerations.</p>

<!-- RELATED PATTERNS - OPTIONAL -->
      <!-- <h2 class="govuk-heading-m">Related patterns</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="upload-file">Add a file</a></li>
      </ul> -->

      <div class="contact-us">
       <h2 class="govuk-heading-m">Get in touch</h2>
       <p>If you’ve got a question or suggestion share it on the Slack <a href="slack://channel?id=CTXV6L1K4&team=T03TJ3P61">#ho-design-system</a> channel, on <a href="https://github.com/UKHomeOffice/design-system" target=blank>GitHub</a> or email the design system working group on <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>.</p>
     </div>

    </div>
  </main>
</div>

{% endblock %}
