{% extends "layout.html" %}
{% set active = "patterns" %}
{% set activesub = "confirmation" %}

{% block pageTitle %}
Patterns template - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__patterns.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">

<!-- ASK USERS / HELP USERS / PAGES -->
      <!-- <span class="govuk-caption-xl">Ask users for</span> -->
      <span class="govuk-caption-xl">Pages</span>
      <!-- <span class="govuk-caption-xl">Pages</span> -->

<!-- PATTERN NAME -->
      <h1 class="heading-section">Confirmation</h1>
      <!-- <p>Also known as </p> -->

      <!-- <div>
            <strong class="label--recommended govuk-!-margin-top-4">RECOMMENDED</strong>
            <strong class="label--experimental govuk-!-margin-top-4">EXPERIMENTAL</strong>
            <br>
            <p class="govuk-body">This pattern is currently experimental because <a href="/community">more research</a> is needed to validate it.</p>
      </div> -->
      

<!--ONE LINE DESCRIPTION  -->
      <p class="govuk-body-l">Use this pattern to let users know they have completed a transaction.</p>

<!-- WHEN TO USE PATTERN -->
      <h2 class="govuk-heading-m">Overview</h2>
      <p>Confirmation pages reassure users that they have completed a transaction and helps them understand what to expect or what to do next. You should make it clear to the user what stage they are in their application process.</p>
      <p>Use the <a href="https://design-system.service.gov.uk/patterns/confirmation-pages/">GOV.UK pattern and guidance</a> for most styles of confirmation pages.</p>

      <p>However there are other examples of confirmation pages that are not included on GOV.UK.</p>

<!-- VARIATIONS -->
      <h2 id="variations" class="govuk-heading-m">Variations</h2>
      <p>Confirmation:</p>

      <ul class="govuk-list">
            <li>
                  — <a href="/patterns/confirmation-accountcreation">with account created</a>
            </li>
            <li>
                  — <a href="/patterns/confirmation-furtheractions">with further actions</a>
            </li>
      </ul>

<!-- GET IN TOUCH -->
      <div class="contact-us">
       <h2 class="govuk-heading-m">Get in touch</h2>
       <p>If you’ve got a question or suggestion share it on the Slack <a href="slack://channel?id=CTXV6L1K4&team=T03TJ3P61">#ho-design-system</a> channel, on <a href="https://github.com/UKHomeOffice/design-system" target=blank>GitHub</a> or email the design system working group on <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>.</p>
     </div>

    </div>
  </main>
</div>

{% endblock %}
