{% extends "layout.html" %}
{% set active = "patterns" %}
{% set activesub = "error" %}

{% block pageTitle %}
Error pages - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__patterns.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">

      <span class="govuk-caption-xl">Patterns</span>
      <h1 class="heading-section">Error pages</h1>
      <p class="govuk-body-l">Inform a user when something goes wrong.</p>

      <p>When a user visits a web page, the server responds with a HTTP status code. In most cases the user journey isn't affected - unless there is an error. Error statuses are sorted into two groups - 400 to 499 are client-side errors and 500 to 599 are server-side errors.</p>

      <h2 class="govuk-heading-m">Error pages should:</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>be avoided - do the hard work to make sure they don't happen</li>
        <li>use plain English and avoid technical jargon</li>
        <li>avoid listing the error code - a user shouldn't need to know the error code</li>
        <li>make it clear how to get help</li>
        <li>if possible tell the user if they can complete the transaction on another channel</li>
      </ul>

      <h2 class="govuk-heading-l">404 page</h2>
      <p>404 errors (sometimes known as 'page not found errors') tell a user the page they were trying to access is not there. Users encounter 404 errors when:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>we make a mistake - for example a user follows a link that is broken</li>
        <li>the user makes a mistake - inputting a link incorrectly</li>
      </ul>
      <h3 class="govuk-visually-hidden">404 error page example</h3>

      <div class="example example-images confirmation details-margin-btm">
        <img src="{{ asset_path }}/images/404-page.svg" class="confirm-desktop" alt="Two example 404 pages, one for user error and one for a service error. With a title 'this page cannot be found' and guidance on what the user should do next.">
        <img src="{{ asset_path }}/images/404-page-mobile.svg" class="confirmation confirm-mobile" alt="Two example 404 pages, one for user error and one for a service error. With a title 'this page cannot be found' and guidance on what the user should do next.">
      </div>

      <h2 class="govuk-heading-l">500 page</h2>
      <p>500 errors happen when something goes wrong on the server-side. Common causes are when the server is down or maintenance work is happening.</p>

      <p>You do not need to show different error pages for different server problems. 500 pages should only be used for short periods of time. If there is going to be a disruption to users for an extended period use shutter pages like these <a href="http://hmrc-design-language-prototype.herokuapp.com/design-patterns/patterns/pages/shutter_pages/">HMRC examples</a>.</p>

      <h3 class="govuk-visually-hidden">500 error page example</h3>

      <div class="example example-images confirmation ">
        <img src="{{ asset_path }}/images/500-page.svg" class="confirm-desktop" alt="An example 500 error page. With a title 'we are experiencing technical problems' and guidance on what the user should do next.">
        <img src="{{ asset_path }}/images/500-page.svg" class="confirmation confirm-mobile" alt="An example 500 error page. With a title 'we are experiencing technical problems' and guidance on what the user should do next.">
      </div>

      <div class="contact-us">
       <h2 class="govuk-heading-m">Get in touch</h2>
       <p>If you’ve got a question or suggestion share it on the Slack <a href="slack://channel?id=CTXV6L1K4&team=T03TJ3P61">#ho-design-system</a> channel, on <a href="https://github.com/UKHomeOffice/design-system">GitHub</a> or email the design system working group on <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>.</p>
     </div>

    </div>
  </main>
</div>


{% endblock %}
