{% extends "layout.html" %}
{% set active = "patterns" %}
{% set activesub = "information-on-document" %}

{% block pageTitle %}
Find information on a document - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__patterns.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">

<!-- ASK USERS FOR / HELP USERS TO / PAGES -->
      <!-- <span class="govuk-caption-xl">Ask users for</span> -->
      <span class="govuk-caption-xl">Help users to</span>
      <!-- <span class="govuk-caption-xl">Pages</span> -->

<!-- PATTERN NAME -->
      <h1 class="heading-section heading-pattern">Find information on a document</h1>
      <p class="also-known-as">Also known as: guidance images</p>

      <!-- <div>
        <p class="research-status">
          <strong class="label--recommended govuk-!-margin-top-0 govuk-!-margin-bottom-2">RECOMMENDED</strong><br>
          <strong class="label--experimental govuk-!-margin-top-0 govuk-!-margin-bottom-2">EXPERIMENTAL</strong><br>
          This pattern is currently experimental because <a href="/community/stages">more research</a> is needed to validate it.
        </p>
      </div> -->

<!-- ONE LINE DESCRIPTION -->
      <p class="govuk-body-l one-line-description">Using guidance images can help users to understand a complex message, show a user how to perform an action or guide a user to complete a task.</p>

      <h2 id="when-to-use-this-pattern" class="govuk-heading-m">When to use this pattern</h2>
      <p class="govuk-body">Only use guidance images to enhance the information being conveyed, when research indicates a real user need. Used correctly, guidance images can help users understand:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>complex guidance when completing a task</li>
        <li>how to perform an action</li>
        <li>what information you’re asking from them </li>
        <li>where to find specific contextual information, such as a reference number on a document or the relevant side of an identity document</li>
      </ul>

      <h2 id="when-not-to-use-this-pattern" class="govuk-heading-m"=>When not to use this pattern</h2>
      <p class="govuk-body">Do not use guidance images:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>as decoration</li>
        <li>when there is no real user need</li>
      </ul>

      <h2 id="how-to-use-this-pattern" class="govuk-heading-m">How it works</h2>
      <p class="govuk-body">If the image represents something physical, such as a document, you should use the aspect ratio of that object. Follow our guidance on the use of <a href="/styles/images">images</a>.</p>

      <br>

      <h2 id="examples" class="govuk-heading-l">Examples</h2>

      <p>The examples below have been used in public-facing services.</p>
      <p>Do you have examples of using an image for guidance in an internal service? Get in touch at <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>.</p>

      <h2 id="biometric-residence-permit" class="govuk-heading-m">Biometric residence card or permit</h2>
        <div class="example example-images confirmation" style="margin-bottom: 2em;">
          <img src="{{ asset_path }}/images/image-guidance-brp.svg" class="confirm-desktop" alt="An example of an illustrative image of a biometric residence permit card">
          <img src="{{ asset_path }}/images/image-guidance-brp.svg" class="confirmation confirm-mobile" alt="An example of an illustrative image of a biometric residence permit card">
        </div>
        <h3 class="govuk-!-font-size-19">Services using this image</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>EU Settlement account recovery</li>
        <li>Generic Identity Verification</li>
        <li>Refugee integration loan</li>
        <li>Right to rent</li>
        <li><a href="https://www.gov.uk/prove-right-to-work">Right to work</a></li>
        <li>Update your details</li>
      </ul>
      <!-- Include this when biometric residence permit pattern is live
      <h4 class="govuk-heading-s">Related to</h4>
      <ul class="govuk-list govuk-list--bullet">
      <li><a href="/patterns/biometric-residence-permit">Biometric residence permit pattern</a></li>
      </ul> -->

      <br>

      <h2 id="document-reference-number" class="govuk-heading-m">Document reference number</h2>
      <div class="example example-images confirmation" style="margin-bottom: 2em;">
        <img src="{{ asset_path }}/images/image-guidance-url.svg" class="confirm-desktop" alt="Another example of a guidance image used on a service, with text on the left and an illustrative image on the right">
        <img src="{{ asset_path }}/images/image-guidance-url.svg" class="confirmation confirm-mobile" alt="Another example of a guidance image used on a service, with text on the left and an illustrative image on the right">
      </div>
      <h3 id="related" class="govuk-!-font-size-19">Services using this image</h3>
      <ul class="govuk-list govuk-list--bullet">
      <li>Registered traveller</li>
      </ul>

      <br>

      <h2 id="identity-card" class="govuk-heading-m">Identity card</h2>
      <div class="example example-images confirmation" style="margin-bottom: 2em;">
        <img src="{{ asset_path }}/images/image-guidance-id-card.svg" class="confirm-desktop" alt="An example of a guidance image used on a service, with text on the top and an illustrative image below it">
        <img src="{{ asset_path }}/images/image-guidance-id-card.svg" class="confirmation confirm-mobile" alt="An example of a guidance image used on a service, with text on the top and an illustrative image below it">
      </div>
      <h3 id="related" class="govuk-!-font-size-19">Services using this image</h3>
      <ul class="govuk-list govuk-list--bullet">
      <li>Generic Identity Verification</li>
      </ul>

      <br>

      <h2 id="identity-card-machine-readable-zone" class="govuk-heading-m">Identity card with a Machine Readable Zone</h2>
      <div class="example example-images confirmation" style="margin-bottom: 2em;">
        <img src="{{ asset_path }}/images/image-guidance-mrz-card.svg" class="confirm-desktop" alt="An example of a guidance image used on a service, with text on the top and an illustrative image below it">
        <img src="{{ asset_path }}/images/image-guidance-mrz-card.svg" class="confirmation confirm-mobile" alt="An example of a guidance image used on a service, with text on the top and an illustrative image below it">
      </div>
      <h3 id="related" class="govuk-!-font-size-19">Services using this image</h3>
      <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.uk/guidance/using-the-eu-exit-id-document-check-app">EU Exit: ID Document Check app</a></li>
      </ul>

      <br>

      <h2 id="passport-issue-date" class="govuk-heading-m">Passport issue date</h2>
      <div class="example example-images confirmation" style="margin-bottom: 2em;">
        <img src="{{ asset_path }}/images/image-guidance-passport-issue-date.svg" class="confirm-desktop" alt="An example of a guidance image used on a service, with text on the left and an illustrative image on the right">
        <img src="{{ asset_path }}/images/image-guidance-passport-issue-date.svg" class="confirmation confirm-mobile" alt="An example of a guidance image used on a service, with text on the left and an illustrative image on the right">
      </div>
      <h3 id="related" class="govuk-!-font-size-19">Services using this image</h3>
      <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.uk/apply-renew-passport">Passport renewals</a></li>
      </ul>

      <br>

      <h2 id="passport-photo-code" class="govuk-heading-m" style="margin-top:1em;">Passport photo code</h2>
      <div class="example example-images confirmation" style="margin-bottom: 2em;">
        <img src="{{ asset_path }}/images/image-guidance-photo-code.png" class="confirm-desktop" alt="An example of a guidance image used on a service, with text on the left and an illustrative image on the right">
        <img src="{{ asset_path }}/images/image-guidance-photo-code.png" class="confirmation confirm-mobile" alt="An example of a guidance image used on a service, with text on the left and an illustrative image on the right">
      </div>
      <h3 id="related" class="govuk-!-font-size-19">Services using this image</h3>
      <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.uk/apply-renew-passport">Passport renewals</a></li>
      </ul>

      <h2 id="research" class="govuk-heading-m">Research</h2>
      <p class="govuk-body">Research has shown that guidance images can help to guide a user through a sequence of steps and clarify what information is required from them. It has been shown to work well when representing something physical, such as a letter or an ID document, to help point users to a specific area of it.</p>

      <h2 id="accessibility" class="govuk-heading-m">Accessibility</h2>
      <p class="govuk-body">When using an image as guidance, remember to include alternative text (alt text). We recommend following the guidance on the <a href="https://design-system.service.gov.uk/styles/images/">use of alt text in the GOV.UK Design System</a>.</p>

      <h2 id="related" class="govuk-heading-m">Related</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/styles/images/">Images</a></li>
      </ul>

      <div class="contact-us">
       <h2 class="govuk-heading-m">Get in touch</h2>
       <p>If you’ve got a question or suggestion share it on the Slack <a href="slack://channel?id=CTXV6L1K4&team=T03TJ3P61">#ho-design-system</a> channel, on <a href="https://github.com/UKHomeOffice/design-system">GitHub</a> or email the design system working group on <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>.</p>
     </div>

    </div>

  </main>
</div>


{% endblock %}
