{% extends "layout.html" %}

{% block page_title %}
  Pattern - Service header
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">

  <div class="banner" role="banner">
    <h1 class="heading-section">Service header</h1>
    <p class="lede">A familiar landmark that appears throughout the service at the top of every view.</p>
    <ul class="metadata">
      <li>Usage: internal</li>
      <li>Status: recommended</li>
      <li>Last updated: 05 August 2017</li>
    </ul>
  </div>

  <div class="grid-row">

    <div class="column-full">

      <div class="example example-images" id="example-component">
        <div class="grid-row">
          {% include "includes/patterns/header.html" %}
        </div>
      </div>

    </div>

    <div class="column-two-thirds">

      <h2 class="heading-medium">When to use this pattern</h2>
      <p>If your service isn’t on a service.gov.uk domain, use this header. Services not on a gov.uk domain cannot use the crown logo or new transport font.</p>

      <h2 class="heading-medium">How to use</h2>
      <p>The service name should link to the starting point of a service, usually the home page.</p>
      <p>The header can be used for global actions, like signing out. But do not add more than two global actions, unless there is a proven need.</p>
      <p>The header should be the name of the service. <a href="https://www.gov.uk/service-manual/design/naming-your-service">Find out more about naming your service.</a></p>

      <h2 class="heading-medium">User research</h2>
      <ul class="list list-bullet">
        <li>Too many global actions placed in the header impacted mobile/narrow view; minimise global actions on header.</li>
        <li>Users didn't always associate service name with linking back to the service home page.</li>
        <li>Long usernames on header were challenging; users preferred sign-out over username display as it offered reassurance they are leaving the system.</li>
        <li>Service names were not verbs but nouns due to covering a range of actions.</li>
      </ul>

      <h2 class="heading-medium">Services using this pattern</h2>
      <ul class="list">
        <li>Returns and movements</li>
        <li>Syria caseworking</li>
        <li>Home Office Platform for Storage</li>
        <li>Digital Application Platform</li>
      </ul>

      <h2 class="heading-medium">Related patterns</h2>
      <ul class="list list-bullet">
        <li><a href="sign-out">Leaving a service (sign out)</a></li>
      </ul>

    </div>

    <div class="column-full">
      <div class="contact-us">
        <h2 class="heading-medium">Get in touch</h2>
        <p>If you’ve got a question or suggestion share it on Slack <a href="slack://channel?id=C0FR8PE8Z&team=T03TJ3P61">#interaction-designers channel</a> or on <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/52">GitHub</a>.</p>
      </div>
    </div>

  </div>
</main>

{% endblock %}
