{% extends "layout.html" %}

{% block page_title %}
  Pattern - Service name header
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">

  <div class="banner" role="banner">
    <h1 class="heading-section">Service header</h1>
    <p class="lede">A familiar landmark that appears throughout the service at the top of every view.</p>
    <ul class="metadata">
      <li>Usage: internal</li>
      <li>Status: recommended</li>
      <li>Last updated: 05 August 2017</li>
    </ul>
  </div>

  <div class="grid-row">

    <div class="column-full">

      <div class="example example-images" id="example-component">
        <div class="grid-row">
          {% include "includes/patterns/header.html" %}
        </div>
      </div>
      <!-- <details>
        <summary>Show code snippet</summary>
        <pre class="language-markup"><code class="language-markup">{% filter escape %}{% include "includes/patterns/header.html" %}{% endfilter %}</code></pre>
      </details> -->
    </div>

    <div class="column-two-thirds">

      <h2 class="heading-medium">Interaction principles</h2>
      <p>The service name should link to the logical starting page; usually the home page of the service.</p>
      <p>If users need to sign in to the service under different roles, ensure the starting page is appropriate for them.</p>
      <p>The header can be used for global actions, for example, Search and Sign out.</p>
      <p>Do not add more than two global actions, unless there is a proven need.</p>


      <h2 class="heading-medium">Content principles</h2>
      <p>The header should be the name of the service. <a href="https://www.gov.uk/service-manual/design/naming-your-service">Find out more about naming your service.</a></p>
      <p>For internal systems, you should only use the ‘Digital by default’ logo if your service has a public-facing element on GOV.UK.</p>
      <p>For internal systems, there is no need to use the GOV.UK blue bar.</p>

      <!-- <h2 class="heading-medium">Accessibility principles</h2>
      <p>Label links correctly</p> -->

      <h2 class="heading-medium">User research</h2>
      <ul class="list list-bullet">
        <li>Too many global actions placed in the header impacted mobile/narrow view; minimise global actions on header where necessary </li>
        <li>Users didn't always associate service name with linking back to the service home page </li>
        <li>Long usernames on header were challenging; users preferred sign-out over username display as it offered reassurance they are leaving the system </li>
        <li>Service names were not verbs but nouns due to covering a range of actions</li>
      </ul>

      <h2 class="heading-medium">Services using this pattern</h2>
      <ul class="list">
        <li>Application Platform</li>
        <li>DAP</li>
        <li>Returns and movements</li>
        <li>Syria caseworking</li>
      </ul>

    </div>

    <div class="column-full">
      <hr>
      <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/52">Discuss this pattern on GitHub</a>
    </div>
  </div>
</main>

{% endblock %}
