{% extends "layout.html" %}

{% block page_title %}
  Pattern - Contextual help
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-full">
      <h1 class="heading-section">Contextual help</h1>
      <p class="lede">Small overlays containing help content for complex interactions.</p>
      <ul class="metadata">
        <li>Usage: internal</li>
        <li>Status: experimental</li>
        <li>Last updated: 28 June 2017</li>
      </ul>

      <h2 class="heading-medium" id="example-component">Example component</h2>
      <div class="example example-images">
        <div class="grid-row">
          {% include "includes/patterns/help.html" %}
        </div>
      </div>
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-medium">Why have we created this pattern?</h2>
      <p>The GDS pattern does not meet the user need.</p>

      <h2 class="heading-medium">Interaction principles</h2>
      <p>Help should be available to users without interrupting their current flow.</p>
      <p>Help should be easy to close, move and minimise until the user needs it.</p>
      <p>If contextual help doesn&rsquo;t answer a user&rsquo;s question, links to more comprehensive help should be easy to find.</p>
      <p>This pattern doesn't work on smaller screens.</p>

      <h2 class="heading-medium">Content principles</h2>
      <p><a href="https://www.gov.uk/service-manual/design/help-text" target="_blank">Follow GDS guidance for help content</a>.</li>

      <h2 class="heading-medium">Accessibility principles</h2>
      <p>Needs testing</p>

      <h2 class="heading-medium">User research</h2>

      <ul class="list list-bullet">
        <li>users find side-by-side guidance more helpful and easier to use.</li>
        <li>small overlay windows offer a smallest interference with the users flow</li>
      </ul>

      <h2 class="heading-medium">Services using this pattern</h2>
      <ul class="list list-bullet">
        <li>Application platform</li>
        <li>Entities</li>
      </ul>

      <h2 class="heading-medium">Related patterns</h2>
      <ul class="list list-bullet">
        <li><a href="/patterns/modal.html">Modal windows</a></li>
      </ul>

    </div>

    <div class="column-full">
      <hr>
      <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/50">Discuss this pattern on GitHub</a>
    </div>
  </div>
</main>

{% endblock %}
