{% extends "layout.html" %}

{% block page_title %}
  Pattern - Identifying users
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">

  <div class="banner" role="banner" style="margin-bottom:20px;">
    <h1 class="heading-section">Identifying users</h1>
    <p class="lede">Patterns to help services identify their users.</p>
    <ul class="metadata">
      <li>Usage: internal/external</li>
      <li>Status: experimental</li>
      <li>Last updated: 28 November 2017</li>
    </ul>
  </div>

  <div class="grid-row">
    <!-- <div class="column-full">

      <div class="example example-images confirmation">
        <h2 class="heading-small" id="example-component">Multiple loops pattern</h2>
        <img src="{{ asset_path }}/images/multiple-loops.svg" class="confirm-desktop" alt="">
        <img src="{{ asset_path }}/images/multiple-loops-mobile.svg" class="confirmation confirm-mobile" alt="">
      </div>
    </div> -->

    <div class="column-two-thirds">
      <h2 class="heading-medium">Authenticating users</h4>
      <p>This lets the system know that the user who did something earlier is the same user now. An example would be a user starting an application is the same user who returned to finish it later.</p>
      <p>Authentication does not:</p>
      <ul class="list list-bullet">
        <li>confirm who the user is</li>
        <li>what the user can do</li>
        <li>if the user is who they say they are</li>
      </ul>

      <h2 class="heading-medium">Identity assurance</h4>
      <p>Identity assurance confirms the true identity of a user. The checks are usually done before confirming a users suitability for something. The assurance can consist of:</p>
      <ul class="list list-bullet">
        <li>confirming the user is a human</li>
        <li>confirming the validaty of information and documents</li>
        <li>fraud checks</li>
        <li>checking for warnings about a user</li>
      </ul>

      <h2 class="heading-medium">User account</h4>
      <p>We should avoid user accounts where possible. Making users create accounts when not needed:</p>
      <ul class="list list-bullet">
        <li>forces users to keep track of more logins then neccesary</li>
        <li>creates a security risk by storing users data</li>
        <li>can grow the amount of redundant databases - which is expensive and a security risk</li>
      </ul>
      <p>Only use user accounts when:</p>
      <ul class="list list-bullet">
        <li>users need to use a service frequently</li>
        <li>you need to audit user behaviour or collect data about users</li>
      </ul>


      <h2 class="heading-medium">Guidance</h2>
      <h3 class="heading-small">Considerations you should make:</h3>
      <ul class="list list-bullet">
        <li>balance frequency of use, security requirements and convenience of the user</li>
        <li>think about security trade-offs and data storage early in the design of a service</li>
        <li>consult specilists</li>
      </ul>

    </div>

    <div class="column-full">
      <div class="contact-us">
        <h2 class="heading-medium">Get in touch</h2>
        <p>If you’ve got a question or suggestion share it on Slack <a href="slack://channel?id=C0FR8PE8Z&team=T03TJ3P61">#interaction-designers channel</a> or on <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/34">GitHub</a>.</p>
      </div>
    </div>

  </div>
</main>


{% endblock %}
