{% extends "layout.html" %}

{% block page_title %}
  Pattern - Authentication
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">

  <div class="banner" role="banner" style="margin-bottom:20px;">
    <h1 class="heading-section">Authentication</h1>
    <p class="lede">Enable users to access your service and keep their data secure</p>
    <ul class="metadata">
      <li>Usage: internal/external</li>
      <li>Status: experimental</li>
      <li>Last updated: 18 February 2018</li>
    </ul>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h2 class="heading-medium">When to use authentication</h2>
      <p>Authentication enables users to verify who they say they are.</p>
      <p>Most one-time services won't need to authenticate their users. When a service does need to verify a users identity, it needs to balance ease of access with keeping a service and user data secure.</p>
      <p>You might want to authenticate users if:</p>
      <ul class="list list-bullet">
        <li>your service allows users to save and complete a transaction at another time</li>
        <li>a user can check the status of a transaction</li>
        <li>a user will use a service multiple times</li>
      </ul>

      <h3 class="heading-small">Authentication is not the same as identity assurance</h3>
      <p>Identity assurance confirms the true identity of a user. The checks are usually done before confirming a users suitability for something. Identity assurance can consist of:</p>
      <ul class="list list-bullet">
        <li>confirming the user is a human</li>
        <li>confirming the validaty of information and documents</li>
        <li>fraud checks</li>
        <li>checking for warnings about a user</li>
      </ul>

      <h2 class="heading-medium">Authentication examples</h2>
      <p>You can authenticate users using reference numbers, personal details, codes sent in SMS and emails, and using a third-party.</p>
    </div>

    <div class="column-full">
      <details>
        <summary>Example - authentication using a reference number</summary>
        <div class="example example-images confirmation">
          <h2 class="visually-hidden" id="example-component">Authentication using a reference number</h2>
          <img src="{{ asset_path }}/images/auth.svg" class="confirm-desktop" alt="">
          <img src="{{ asset_path }}/images/auth-mobile.svg" class="confirmation confirm-mobile" alt="">
        </div>
      </details>
    </div>

    <div class="column-full">
      <details>
        <summary>Example - knowledge based authentication</summary>
        <div class="example example-images confirmation">
          <h2 class="visually-hidden" id="example-component">Knowledge based authentication</h2>
          <img src="{{ asset_path }}/images/auth-knowledge-based.svg" class="confirm-desktop" alt="">
          <img src="{{ asset_path }}/images/auth-knowledge-based-mobile.svg" class="confirmation confirm-mobile" alt="">
        </div>
      </details>
    </div>

    <div class="column-full">
      <details>
        <summary>Example - two-factor authentication</summary>
        <div class="example example-images confirmation">
          <h2 class="visually-hidden" id="example-component">Two-factor authentication</h2>
          <img src="{{ asset_path }}/images/auth-2factor.svg" class="confirm-desktop" alt="">
          <img src="{{ asset_path }}/images/auth-2factor-mobile.svg" class="confirmation confirm-mobile" alt="">
        </div>
      </details>
    </div>

    <div class="column-two-thirds">

      <h2 class="heading-medium">User accounts</h4>
      <p>User accounts are a form of authentication. Avoid them where possible. Services should start in public so users can find the right service. This is valuable when there are hundreds of services like in Government.</p>
      <p>Making users create accounts when not needed:</p>
      <ul class="list list-bullet">
        <li>forces users to keep track of more logins then neccesary</li>
        <li>creates a barrier for users and can reduce completion rates</li>
        <li>burdens teams with databases that are difficult to build and maintain</li>
        <li>grows the amount of redundant databases - which is expensive and a security risk</li>
      </ul>

      <p>Only make users create an account if:</p>
      <ul class="list list-bullet">
        <li>users access a service frequently</li>
        <li>users need it - don't force users to create an account until necessary</li>
        <li>a service needs to audit user behaviour</li>
      </ul>


      <h2 class="heading-medium">Guidance</h2>
      <h3 class="heading-small">Considerations you should make:</h3>
      <ul class="list list-bullet">
        <li>balance frequency of use, security requirements and any convenience benefits to the user</li>
        <li>consider security trade-offs and data storage early in the design of your service</li>
        <li>consult security specilists where needed</li>
        <li>don’t use National Insurance numbers to verify a user’s identity</li>
      </ul>

    </div>

    <div class="column-full">
      <div class="contact-us">
        <h2 class="heading-medium">Get in touch</h2>
        <p>If you’ve got a question or suggestion share it on Slack <a href="slack://channel?id=C0FR8PE8Z&team=T03TJ3P61">#interaction-designers channel</a> or on <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/34">GitHub</a>.</p>
      </div>
    </div>

  </div>
</main>


{% endblock %}
