{% extends "layout.html" %}

{% block page_title %}
  Pattern - Identifying users
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">

  <div class="banner" role="banner" style="margin-bottom:20px;">
    <h1 class="heading-section">Identifying users</h1>
    <p class="lede">Various forms of identifying and authenticating users</p>
    <ul class="metadata">
      <li>Usage: internal/external</li>
      <li>Status: experimental</li>
      <li>Last updated: 30 November 2017</li>
    </ul>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">
      <h2 class="heading-medium">Authenticating users</h4>
      <p>Authentication tells the system that a user who did something earlier is the same user. An example would be a user starting an application is the same user who returned to finish it later.</p>
    </div>

    <div class="column-full">
      <details>
        <summary>Example - authentication using a reference number</summary>
        <div class="example example-images confirmation">
          <h2 class="visually-hidden" id="example-component">An example of authentication</h2>
          <img src="{{ asset_path }}/images/auth.svg" class="confirm-desktop" alt="">
          <img src="{{ asset_path }}/images/auth-mobile.svg" class="confirmation confirm-mobile" alt="">
        </div>
      </details>
    </div>

    <div class="column-full">
      <details>
        <summary>Example - knowledge based authentication</summary>
        <div class="example example-images confirmation">
          <h2 class="visually-hidden" id="example-component">An example of authentication</h2>
          <img src="{{ asset_path }}/images/auth-knowledge-based.svg" class="confirm-desktop" alt="">
          <img src="{{ asset_path }}/images/auth-knowledge-based-mobile.svg" class="confirmation confirm-mobile" alt="">
        </div>
      </details>
    </div>

    <div class="column-full">
      <details>
        <summary>Example - two-factor authentication</summary>
        <div class="example example-images confirmation">
          <h2 class="visually-hidden" id="example-component">An example of authentication</h2>
          <img src="{{ asset_path }}/images/auth-2factor.svg" class="confirm-desktop" alt="">
          <img src="{{ asset_path }}/images/auth-2factor-mobile.svg" class="confirmation confirm-mobile" alt="">
        </div>
      </details>
    </div>

    <div class="column-two-thirds" style="margin-top:20px;">
      <p>You can authenticate users using reference numbers, personal details, codes sent in SMS and emails or third-party authentication.</p>
      <p>Authentication has limits. It does not:</p>
      <ul class="list list-bullet">
        <li>confirm who the user is</li>
        <li>what the user can do</li>
        <li>if the user is who they say they are</li>
      </ul>
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-medium">Identity assurance</h4>
      <p>Identity assurance confirms the true identity of a user. The checks are usually done before confirming a users suitability for something. The assurance can consist of:</p>
      <ul class="list list-bullet">
        <li>confirming the user is a human</li>
        <li>confirming the validaty of information and documents</li>
        <li>fraud checks</li>
        <li>checking for warnings about a user</li>
      </ul>

      <h2 class="heading-medium">User accounts</h4>
      <p>Avoid user accounts where possible. Services should start in public so it is easier for users to find the right service. This is valuable when there are hundreds of services like in Government.</p>
      <p>Making users create accounts when not needed:</p>
      <ul class="list list-bullet">
        <li>forces users to keep track of more logins then neccesary</li>
        <li>creates a barrier for users and can reduce completion rates</li>
        <li>burdens teams with databases that are difficult to build and maintain</li>
        <li>grows the amount of redundant databases - which is expensive and a security risk</li>
      </ul>

      <p>Only make users create an account if:</p>
      <ul class="list list-bullet">
        <li>users access a service frequently</li>
        <li>users need it - don't force users to create an account until necessary</li>
        <li>a service needs to audit user behaviour</li>
      </ul>


      <h2 class="heading-medium">Guidance</h2>
      <h3 class="heading-small">Considerations you should make:</h3>
      <ul class="list list-bullet">
        <li>balance frequency of use, security requirements and any convenience benefits to the user</li>
        <li>consider security trade-offs and data storage early in the design of your service</li>
        <li>consult security specilists where needed</li>
        <li>don’t use National Insurance numbers to verify a user’s identity</li>
      </ul>

    </div>

    <div class="column-full">
      <div class="contact-us">
        <h2 class="heading-medium">Get in touch</h2>
        <p>If you’ve got a question or suggestion share it on Slack <a href="slack://channel?id=C0FR8PE8Z&team=T03TJ3P61">#interaction-designers channel</a> or on <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/34">GitHub</a>.</p>
      </div>
    </div>

  </div>
</main>


{% endblock %}
