{% extends "layout.html" %}

{% block page_title %}
  Home Office DDaT design patterns
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-section">Patterns</h1>
      <p class="lede">Patterns developed by the Home Office DDaT user research and design teams to help develop and create consistent, usable services. They include example components and guidance on usage.</p>

      <h2 class="heading-medium">Beta</h2>
      <ul class="list">

        <li>
          <a href="/patterns/flash-card">Interruption card</a>: interrupt the user flow with important information
        </li>
        <li>
          <a href="/patterns/header">Service header</a>: identify a common landmark at the top of every view
        </li>

      </ul>

      <h2 class="heading-medium">Alpha</h2>
      <ul class="list">
        <li>
          <a href="/patterns/highlighting-matches">Highlighted search matches</a>: helps users identify matching data
        </li>
        <li>
          <a href="/patterns/modal">Modal window</a>: creates focus on a single interaction
        </li>
        <li>
          <a href="/patterns/navigation">Subnavigation links</a>: navigate to different sections at any time
        </li>
        <li>
          <a href="/patterns/table-multiselect">Table multi-select</a>: allow the user to select multiple rows by clicking anywhere on the row
        </li>
        <li>
          <a href="/patterns/tabs">In-page tabs</a>: switch between views of grouped content or hide content that doesn&rsquo;t always need to be shown
        </li>
        <li>
          <a href="/patterns/timeline">Vertical timeline</a>: time-ordered activity showing the history of a person or object with additional context
        </li>
      </ul>

      <h2 class="heading-medium">Discovery</h2>
      <ul class="list">
        <li>
          <a href="/patterns/help">Contextual help</a>: small overlays containing help content for complex interactions
        </li>
        <li>
          <a href="/patterns/tasks">Task checklist</a>: a list of completed and still-to-do tasks
        </li>
      </ul>

    </div>
  </div>

</main>

{% endblock %}
