{% extends "layout.html" %}

{% block page_title %}
  Home Office design patterns
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-section">Patterns</h1>
      <p class="lede">Patterns are guidance on how to solve certain types of problem. They include examples of successful approaches but are flexible and don&rsquo;t prescribe exact design solutions. </p>

      {% set patterns = [
        {
          name: "Interruption card",
          link: "/patterns/interruption-card",
          label: "recommended",
          desc: "Interrupt the user flow with important information"
        },
        {
          name: "Task checklist",
          link: "/patterns/tasks",
          label: "experimental",
          desc: "a list of completed and still-to-do tasks"
        },
        {
          name: "Contextual help",
          link: "/patterns/help",
          label: "experimental",
          desc: "small overlays containing help content for complex interactions"
        },
        {
          name: "Vertical timeline",
          link: "/patterns/timeline",
          label: "experimental",
          desc: "time-ordered activity showing the history of a person or object with additional context"
        },
        {
          name: "Table multi-select",
          link: "/patterns/table-multiselect",
          label: "experimental",
          desc: "allow the user to select multiple rows by clicking anywhere on the row"
        },
        {
          name: "Subnavigation links",
          link: "/patterns/navigation",
          label: "experimental",
          desc: "navigate to different sections at any time"
        },
        {
          name: "Modal window",
          link: "/patterns/modal",
          label: "experimental",
          desc: "creates focus on a single interaction"
        },
        {
          name: "In-page tabs",
          link: "/patterns/tabs",
          label: "experimental",
          desc: "switch between views of grouped content or hide content that doesn't always need to be shown"
        },
        {
          name: "Highlighted search matches",
          link: "/patterns/highlighting-matches",
          label: "experimental",
          desc: "helps users identify matching data"
        },
        {
          name: "Confirmation pages",
          link: "/patterns/confirm-pages",
          label: "Experimental",
          desc: "variations for a service confirmation page"
        },
        {
          name: "Service header",
          link: "/patterns/header",
          label: "recommended",
          desc: "identify a common landmark at the top of every view"
        }
      ] %}

      <table class="mb-30">
        <thead>
          <tr>
            <th>Pattern</th>
            <th>Status</th>
            <th>Description</th>
          </tr>
        </thead>

        <tbody>
          {% for pattern in patterns|sort(attribute='label')|sort(attribute='name') %}
            {% if pattern.label|lower == 'recommended' %}
              <tr>
                <td><a href="{{ pattern.link }}">{{ pattern.name|capitalize  }}</a></td>
                <td><span class="label--blue">{{ pattern.label|lower }}</span></td>
                <td>{{ pattern.desc|capitalize }}</td>
              </tr>
            {% endif %}
          {% endfor %}
          {% for pattern in patterns|sort(attribute='label')|sort(attribute='name') %}
            {% if pattern.label|lower == 'experimental' %}
              <tr>
                <td><a href="{{ pattern.link }}">{{ pattern.name|capitalize  }}</a></td>
                <td><span class="label">{{ pattern.label|lower }}</span></td>
                <td>{{ pattern.desc|capitalize }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>Create a prototype with these patterns <a href="https://github.com/UKHomeOffice/home_office_design_kit">using our version of the GOV.UK prototyping kit</a>.</p>
    </div>
  </div>
</main>

{% endblock %}
