{% extends "layout.html" %}

{% block page_title %}
  Pattern - Interruption card
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">

  <div class="banner" role="banner">
    <h1 class="heading-section">Interruption card</h1>
    <p class="lede">An alert that interrupts the user flow with important information and must be acknowledged before continuing.</p>
    <!-- <ul class="metadata">
      <li>Usage: internal/external</li>
      <li>Status: recommended</li>
      <li>Last updated: 29 January 2018</li>
    </ul> -->
  </div>

  <div class="grid-row">
    <div class="column-full">

      <div class="example example-images" id="example-component">
        <div class="grid-row">
          {% include "includes/patterns/flash_card.html" %}
        </div>
      </div>
      <!-- <form>
        <fieldset class="inline">
          <legend class="visually-hidden">Switch font</legend>
          <div class="multiple-choice--switch">
            <div class="multiple-choice">
              <input id="transport" type="radio" name="radio-group" value="Transport" checked="checked">
              <label for="transport">Transport</label>
            </div>
            <div class="multiple-choice">
              <input id="inter-ui" type="radio" name="radio-group" value="Inter UI">
              <label for="inter-ui">Inter UI</label>
            </div>
          </div>
        </fieldset>
      </form> -->
    </div>

    <div class="column-two-thirds">

      <!-- <h2 class="heading-medium">What is a interuption card?</h2>
      <p>An interuption to a users journey - helping users to understand important information which they might skip if presented on a start page.</p> -->

      <h2 class="heading-medium">Guidance</h2>
      <h3 class="heading-small">It can be used:</h3>
      <ul class="list list-bullet">
        <li>to draw a users attention to important information specific to that point in their journey</li>
        <li>allow users to acknowledge something before continuing</li>
        <li>if important information is styled normally and users are missing it use this pattern - its unexpected so helps to bring attention to essential information</li>
      </ul>

      <h3 class="heading-small">It should not be used:</h3>

      <ul class="list list-bullet">
        <li>for large amounts of content</li>
        <li>the effectiveness of the pattern is based on its unexpected appearance so should be used sparingly</li>
      </ul>

      <h3 class="heading-small">The interuption should:</h3>
      <ul class="list list-bullet">
        <li>include a heading</li>
        <li>have large body text - a minimum of 24px</li>
        <li>use a &ldquo;Continue&rdquo; button to advance to the next card or page</li>
        <li>have one thing per card - if the user needs to do more than one thing, use extra cards</li>
      </ul>

      <h2 class="heading-medium">User research</h2>
      <p>This pattern has been so successful on the passport renewals service that we have been able to dramatically reduce the amount of content on the start page.</p>
      <p>Interrupting users&rsquo; flow in this way can increase their understanding and retention of important information.</p>
      <p>We have seen evidence that the contrast levels of interuption cards help dyslexic users.</p>
      <p><a href="https://designnotes.blog.gov.uk/2015/09/21/helping-users-understand-gov-uk-verify-designing-with-data/">Read a blog post about the patterns use on Verify</a></p>

      <h2 class="heading-medium">Services using this pattern</h2>
      <ul class="list list-bullet">
        <li><a href="https://www.gov.uk/apply-renew-passport">Passport renewals</a></li>
        <li>Verify (GOV.UK)</li>
      </ul>

    </div>

    <div class="column-full">
      <div class="contact-us">
        <h2 class="heading-medium">Get in touch</h2>
        <p>If you’ve got a question or suggestion share it on Slack <a href="slack://channel?id=C0FR8PE8Z&team=T03TJ3P61">#interaction-designers channel</a> or on <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/51">GitHub</a>.</p>
      </div>
    </div>

  </div>
</main>

{% endblock %}
