{% extends "layout.html" %}

{% block page_title %}
  Pattern - Interruption card
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-section">Interruption card</h1>
      <p class="lede">An alert that interrupts the user flow with important information and must be acknowledged before continuing.</p>
      <ul class="metadata">
        <li>Usage: internal/external</li>
        <li>Status: recommended</li>
        <li>Last updated: 13 July 2017</li>
      </ul>

      <h2 class="heading-medium" id="example-component">Example component</h2>
      <div class="example example-images">
        <div class="grid-row">
          {% include "includes/patterns/flash_card.html" %}
        </div>
      </div>
      <details>
        <summary>Show code snippet</summary>
        <pre class="language-markup"><code class="language-markup">{% filter escape %}{% include "includes/patterns/flash_card.html" %}{% endfilter %}</code></pre>
      </details>
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-medium">Why have we created this pattern?</h2>
      <p>No GDS pattern is available</p>

      <h2 class="heading-medium">Interaction principles</h2>
      <p>An interruption card should be used to draw the attention of the user to some important information specific to that point in their journey.</p>
      <p>Cards should have headings. You may want to hide the heading but it&rsquo;s generally simpler not to.</p>
      <p>One thing per card. If the user needs to do more than one thing, use extra cards.</p>
      <p>Use larger text (24px) than in the rest of the journey.</p>
      <p>Use a &ldquo;Continue&rdquo; button to advance to the next card or page.</p>
      <p>Don&rsquo;t use form elements (except buttons) within cards. Form elements will add extra complexity and you will need to deal with error states.</p>

      <h2 class="heading-medium">User research</h2>
      <p>Interruption cards have proved successful at getting users to read important information which they might skip if presented on a start page. This pattern has been so successful on the passport renewals service that we have been able to dramatically reduce the amount of content on the start page.</p>

      <p>Interrupting users&rsquo; flow in this way can increase their understanding and retention of important information.</p>

      <h2 class="heading-medium">Accessibility principles</h2>
      <p>The colours used have been proved to be a better contrast for people with dyslexia</p>

      <h2 class="heading-medium">Services using this pattern</h2>
      <ul class="list list-bullet">
        <li><a href="https://www.gov.uk/apply-renew-passport">Passport renewals</a></li>
      </ul>

    </div>

    <div class="column-full">
      <hr>
      <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/51">Discuss this pattern on GitHub</a>
    </div>
  </div>
</main>

{% endblock %}
