{% extends "layout.html" %}

{% block page_title %}
  Pattern - Modal window
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">

  <div class="banner" role="banner">
    <h1 class="heading-section">Modal window</h1>
    <p class="lede">Creating focus on a single interaction.</p>
    <ul class="metadata">
      <li>Usage: internal</li>
      <li>Status: experimental</li>
      <li>Last updated: 28 June 2017</li>
    </ul>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <div class="example example-images" id="example-component">
        <div class="grid-row">
          {% include "includes/patterns/modal.html" %}
        </div>
      </div>
      <details>
        <summary>Show code snippet</summary>
        <pre class="language-markup"><code class="language-markup">{% filter escape %}{% include "includes/patterns/modal.html" %}{% endfilter %}</code></pre>
      </details>

    </div>

    <div class="column-two-thirds">

      <h2 id="interaction" class="heading-medium">Interaction principles</h2>
      <p>The modal window should focus on a single task.</p>
      <p>Before using a modal window, consider whether the interaction could be handled on another screen.</p>

      <h2 id="documentation" class="heading-medium">Content principles</h2>
      <p>The content that opens the modal window (for example, anchor text) should explain to the user what will happen.</p>
      <p>The content of the modal window should be focused on the single task and should not add unnecessary detail.<p>
      <p>The content should be consistent with the referring page so that the user is not confused. </p>
      <p>The modal window should have a clear main heading.</p>


      <h2 id="inclusive" class="heading-medium">Accessibility principles</h2>
      <p>Modal windows do not work well on mobile. Consider using an alternative approach.</p>
      <p>Screen readers do not automatically focus on modals, which makes interactions confusing.</p>

      <h2 class="heading-medium">Services using this pattern</h2>
      <ul class="list list-bullet">
        <li>Employers Checking Service</li>
        <li>Passport renewals (timeout)</li>
      </ul>

      <!-- TO DO -->
      <h2 class="heading-medium rule-above">Things to do</h2>
      <ul class="list list-bullet">
        <li>js for keydown</li>
        <li>js for focus</li>
        <li>include `ARIA` tags</li>
        <li>include labels and tags</li>
      </ul>
    </div>

    <div class="column-full">
      <hr>
      <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/44">Discuss this pattern on GitHub</a>
    </div>
  </div>
</main>

{% endblock %}
