{% extends "layout.html" %}

{% block page_title %}
  Pattern - Subnavigation links
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-section">Subnavigation links</h1>
      <p class="lede">Navigation items that appear below the service name header.</p>
      <ul class="metadata">
        <li>Usage: external/internal</li>
        <li>Status: experimental</li>
        <li>Last updated: 28 June 2017</li>
      </ul>

      <h2 class="heading-medium" id="example-component">Example component</h2>
      <div class="example example-images">
        <div class="grid-row">
          {% include "includes/patterns/navigation.html" %}
        </div>
      </div>
      <details>
        <summary>Show code snippet</summary>
        <div class="grid-row">
          <div class="column-full">
            <pre class="language-markup"><code class="language-markup">{% include "includes/patterns/navigation-code.html" %}</code></pre>
          </div>
        </div>
      </details>
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-medium">Why have we created this pattern?</h2>
      <p>No GDS pattern is available</p>

      <h2 class="heading-medium">Interaction principles</h2>
      <p>Only one nav item can be active at a time.</p>
      <p>The active nav item should be distinguishable from inactive items.</p>
      <p>Inactive items should have a hover state.</p>
      <p>Focused nav items should be consistent with other focus states.</p>
      <p>Don&rsquo;t use animation unless there is a proven need to do so.</p>

      <h2 class="heading-medium">Content principles</h2>
      <p>The label should reflect the thing that the user will do at the destination, not describe the destination.</p>

      <h2 class="heading-medium">Accessibility principles</h2>
      <p>The active nav item should be labelled as active in the code.</p>
      <p>Colour should not be the only way to distinguish active from inactive nav items.</p>

      <h2 class="heading-medium">User research</h2>
      <p>Notes from user research go here.</p>

      <!-- Removed as unsure we need to include in the kit
      <h2 class="heading-medium">Prototype code</h2>

      <ul class="list list-bullet">
        <li>Layout &mdash; <a href="https://github.com/eliothill/home-office-digital-patterns/tree/master/app/views/includes/patterns/navigation.html">navigation.html</a></li>
        <li>Styles &mdash; <a href="https://github.com/eliothill/home-office-digital-patterns/blob/master/app/assets/sass/hod-patterns/_navigation.scss">navigation.scss</a></li>
        <li>Enhanced functionality &mdash; <a href="https://github.com/eliothill/home-office-digital-patterns/blob/master/app/assets/javascripts/navigation.js">navigation.js</a></li>
      </ul>
      -->

      <h2 class="heading-medium">Services using this pattern</h2>
      <!-- Are there any services other than Sponsorship that are using this? -->
        <!-- <li>Sponsoring people</li>
      </ul> -->

      <h2 class="heading-medium">Things to do</h2>
      <ul class="list list-bullet">
        <li>The design needs improving for narrower views</li>
        <li>Add notes from user research</li>
        <li>Identify services using this pattern</li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
