{% extends "layout.html" %}

{% block page_title %}
  Pattern - Postcode lookup
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">

  <div class="banner" role="banner">
    <h1 class="heading-section">Postcode lookup</h1>
    <p class="lede">A way for users to find there address using a postcode.</p>
    <ul class="metadata">
      <li>Usage: internal/external</li>
      <li>Status: experimental</li>
      <li>Last updated: 10 December 2017</li>
    </ul>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <div class="example example-images confirmation" style="margin-bottom: 2em;">
        <img src="{{ asset_path }}/images/postcode-lookup.svg" class=" confirm-desktop" alt="">
      </div>
    </div>

    <div class="column-two-thirds">

      <h2 class="heading-medium">Guidance</h2>
      <h3 class="heading-small">It can be used:</h3>
      <ul class="list list-bullet">
        <li>to find a single address</li>
        <li>to add an address manually</li>
      </ul>

      <h3 class="heading-small">It should not be used:</h3>
      <ul class="list list-bullet">
        <li>if the address is needed as structured data</li>
      </ul>

      <h3 class="heading-small">The postcode lookup pattern should:</h3>
      <ul class="list list-bullet">
        <li>replay the address options clearly</li>
        <li>give the user flexibility to add an address in different ways</li>
      </ul>

      <!-- <h2 class="heading-medium">Interactions using this pattern</h2>
      <ul class="list list-bullet">
        <li>Entering a recipient&rsquo;s email address</li>
      </ul> -->

    </div>

    <div class="column-full">
      <div class="contact-us">
        <h2 class="heading-medium">Get in touch</h2>
        <p>If you’ve got a question or suggestion share it on Slack <a href="slack://channel?id=C0FR8PE8Z&team=T03TJ3P61">#interaction-designers channel</a> or on <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/84">GitHub</a>.</p>
      </div>
    </div>

  </div>
</main>

{% endblock %}
