{% extends "layout.html" %}
{% set active = "patterns" %}
{% set activesub = "stop-timing-out" %}

{% block pageTitle %}
Stop a service timing out - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__patterns.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">

<!-- ASK USERS FOR / HELP USERS TO / PAGES -->
      <!-- <span class="govuk-caption-xl">Ask users for</span> -->
      <span class="govuk-caption-xl">Help users to</span>
      <!-- <span class="govuk-caption-xl">Pages</span> -->

<!-- PATTERN NAME -->
      <h1 class="heading-section heading-pattern">Stop a service timing out</h1>
      <p class="also-known-as">Also known as: modal window</p>

      <!-- <div>
        <p class="research-status">
          <strong class="label--recommended govuk-!-margin-top-0 govuk-!-margin-bottom-2">RECOMMENDED</strong><br>
          <strong class="label--experimental govuk-!-margin-top-0 govuk-!-margin-bottom-2">EXPERIMENTAL</strong><br>
          This pattern is currently experimental because <a href="/community/stages">more research</a> is needed to validate it.
        </p>
      </div> -->

<!-- ONE LINE DESCRIPTION -->
      <p class="govuk-body-l one-line-description">Creating focus on a single interaction.</p>

      <h2 class="govuk-heading-m">When to use this pattern</h2>
      <p>Modals should be avoided in most cases. They are hard to make accessible and do not work well in mobile views.</p>
      <p>Adding content to a new page instead of showing it in a modal should be the default approach.</p>
      <p>Modals can be useful when you need to draw a users attention to something, for example timeout warnings. Please discuss with the wider community or email <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a> before using this pattern.</p>

      <h2 id="interaction" class="govuk-heading-m">How modals work</h2>
      <p>A modal should focus on a single task.</p>
      <p>If the modal is user triggered, the content that opens the modal window (for example, a link or button) should explain to the user what will happen.</p>
      <p>Modals should include a heading.</p>
      <p>Extra attention should be made to make sure modals are accessible.</p>

      <div class="example example-images confirmation">
        <img src="{{ asset_path }}/images/modal-desktop.svg" class=" confirm-desktop" alt="A flow of 2 steps. The first screen shows a page of a service. The second screen shows a modal window overlayed on the page giving the user a timeout warning.">
        <img src="{{ asset_path }}/images/modal-mobile.svg" class="confirmation confirm-mobile" alt="A flow of 2 steps. The first screen shows a page of a service. The second screen shows a modal window overlayed on the page giving the user a timeout warning.">
      </div>

      <h2 class="govuk-heading-m">Services using this pattern</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Employers Checking Service</li>
        <li>Passport renewals (timeout)</li>
      </ul>

      <div class="contact-us">
       <h2 class="govuk-heading-m">Get in touch</h2>
       <p>If you’ve got a question or suggestion share it on the Slack <a href="slack://channel?id=CTXV6L1K4&team=T03TJ3P61">#ho-design-system</a> channel, on <a href="https://github.com/UKHomeOffice/design-system">GitHub</a> or email the design system working group on <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a>.</p>
     </div>

    </div>
  </main>
</div>

{% endblock %}
