{% extends "layout.html" %}

{% block page_title %}
  Pattern - Task checklist
{% endblock %}

{% block content %}

{% set active = "patterns" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">

  <div class="banner" role="banner">
    <h1 class="heading-section">Task checklist</h1>
    <p class="lede">A list of completed and still-to-do tasks.</p>
    <ul class="metadata">
      <li>Usage: internal</li>
      <li>Status: experimental</li>
      <li>Last updated: 17 July 2017</li>
    </ul>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <div class="example example-images" id="example-component">
        <div class="grid-row">
          {% include "includes/patterns/tasks.html" %}
        </div>
      </div>
      <div class="example example-images">
        <div class="grid-row">
          {% include "includes/patterns/tasksalt.html" %}
        </div>
      </div>
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-medium">Interaction principles</h2>
      <p>Incomplete tasks should not look like check boxes.</p>

      <h2 class="heading-medium">Content principles</h2>
      <p>Labels for each task should be clear and descriptive.</p>
      <p>Available statuses for each task should conform to a pre-defined list.</p>

      <h2 class="heading-medium">Accessibility principles</h2>
      <p>A task checklist are tabular data so should be coded as a table.</p>

      <h2 class="heading-medium">User research</h2>

      <h2 class="heading-medium">Services using this pattern</h2>
      <ul class="list list-bullet">
        <li>HMPO</li>
        <!-- Can we link to the HMPO service where it's used? -->
      </ul>

    </div>
    <div class="column-full">
      <hr>
      <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/49">Discuss this pattern on GitHub</a>
    </div>
  </div>
</main>

{% endblock %}
