{% extends "layout.html" %}
{% set active = "resources" %}
{% set activesub = "accessibility" %}

{% block pageTitle %}
Resources - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__resources.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">
      <h1 class="heading-section">Accessibility</h1>
      <p>Help your service meet it's accessibility requirements.</p>

      <h2 class="govuk-heading-m">GOV.UK accessibility guidance</h2>
      <ul class="resource-list" style="margin-bottom: ">
        <li>
          <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service">Helping people to use your service</a>
        </li>
        <li>
          <a href="https://www.gov.uk/service-manual/technology/testing-for-accessibility">Testing for accessibility</a>
        </li>
        <li>
          <a href="https://gds.blog.gov.uk/2018/06/20/creating-the-uk-governments-accessibility-empathy-lab/">
            Using the empathy lab at GDS
          </a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/understanding-disabilities-and-impairments-user-profiles" target="_blank">
            User profiles for understanding disabilities and impairments
          </a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Other tools</h2>
      <ul class="resource-list">
        <li>
          <a href="https://ukhomeoffice.github.io/accessibility-posters/" target="_blank">
            Do's and don'ts for designing accessible services
          </a>
        </li>
        <li>
          <a href="https://github.com/UKHomeOffice/posters/tree/master/accessibility" target="_blank">
            Access needs poster set
          </a>
        </li>
        <li>
          <a href="http://webaim.org/resources/contrastchecker/" target="_blank">
            Colour contrast checker
          </a>
        </li>
        <li>
          <a href="https://help.apple.com/voiceover/info/guide/10.12/" target="_blank">
            Guide for VoiceOver screenreader
          </a>
        </li>
        <li>
          <a href="http://wave.webaim.org/" target="_blank">
            WAVE accessibility evaluation tool
          </a>
        </li>
      </ul>

    </div>

  </main>
</div>

{% endblock %}
