{% extends "layout.html" %}

{% block page_title %}
  Home Office design system
{% endblock %}

{% block content %}

{% set active = "resources" %}
{% include "includes/top_nav.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-section">Resources</h1>
      <p class="lede">Helpful resources and guidance for interaction designers.</p>

      <h2 class="heading-medium">Accessibility</h2>
      <ul class="list list-bullet">
        <li>
          <a href="https://github.com/UKHomeOffice/posters/tree/master/accessibility" target="_blank">
            Access needs posters
          </a>
        </li>
        <li>
          <a href="http://webaim.org/resources/contrastchecker/" target="_blank">
            Colour contrast checker
          </a>
        </li>
        <li>

          <a href="http://www.freedomscientific.com/Products/Blindness/JAWS">
            <abbr title="Job Access With Speech">JAWS</abbr> screenreader </a> </li>
        <li>
          <a href="https://help.apple.com/voiceover/info/guide/10.12/" target="_blank">
            Guide for VoiceOver screenreader
          </a>
        </li>
        <li>
          <a href="http://wave.webaim.org/" target="_blank">
            WAVE accessibility evaluation tool
          </a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/understanding-disabilities-and-impairments-user-profiles" target="_blank">
            GOV.UK user profiles for understanding disabilities and impairments
          </a>
        </li>


      </ul>

      <h2 class="heading-medium">Prototyping</h2>
      <ul class="list list-bullet">
        <li>
          <a href="https://github.com/alphagov/govuk-prototype-kit">
            GOV.UK prototype kit
          </a>
        </li>
        <li>
          <a href="https://github.com/UKHomeOffice/ho-style-prototype-kit">
            GOV.UK prototype kit with Home Office styles
          </a>
        </li>
        <li>
        	<a href="https://github.com/UKHomeOffice/design-patterns">
        	  Sketch file with Home Office patterns and components
        	</a>
        </li>
        <li>
        	<a href="https://github.com/abbott567/sketch_wireframing_kit">
        	  Sketch file with GOV.UK patterns and components
        	</a>
        </li>
        <li>
        	<a href="https://github.com/charlesrt/gov-flow">
        	  GOV flow for creating user flows
        	</a>
        </li>
        <li>
          <a href="https://github.com/abbott567/validation-for-prototypes">
            Validation for prototypes
          </a>
        </li>
      </ul>

      <h2 class="heading-medium">GOV.UK</h2>
      <ul class="list list-bullet">
        <li>
          <a href="https://design-system.service.gov.uk/">
            GOV.UK design system
          </a>
        </li>
        <li>
          <a href="https://www.gov.uk/design-principles">
            GOV.UK design principles
          </a>
        </li>
        <li>
          <a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">
            GOV.UK content style guide
          </a>
        </li>
        <li>
          <a href="https://www.gov.uk/service-manual">
            GOV.UK service manual
          </a>
        </li>
      </ul>
    </div>

  </div>


</main>

{% endblock %}
