{% extends "layout.html" %}
{% set active = "resources" %}

{% block pageTitle %}
Resources - Home Office design system
{% endblock %}

{% block content %}

{% include "includes/left-pane__resources.html" %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope">

      <h1 class="heading-section">Resources</h1>
      <p class="govuk-body-l">A collection of resources to help teams design and build services in Government.</p>
      <p>Resources cover:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>how to design and build <a href="/resources/accessibility">accessible</a> services</li>
        <li>helpful resources from across <a href="/resources/government">government</a></li>
        <li>tools to help build <a href="/resources/prototyping">prototypes</a></li>    
      </ul>

    </div>

  </main>
</div>

{% endblock %}
