.hods-footer {
  border-top: 1px #cbcbcb solid;
  background-color: #FFF;
  color: #0b0c0c;

  &__link, a {
    color: #3B3B3B;
  }

  &__container {
    padding: 30px 0;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  &__content {
    font-size: 14px;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__navigation {
    align-items: flex-end;
    display: flex;
  }

  &__navigation-list {
    display: flex;
    margin: 0;
  }

  &__navigation-item {
    padding-left: 1.5em;
    list-style: none;
    font-size: 14px;

    &:first-child {
      padding-left: 0;
    }
  }
}
