@import "@not-govuk/sass-base";

.hods-footer {
  border-top: 1px #cbcbcb solid;
  background-color: #FFF;
  color: #0b0c0c;

  &__link, a {
    color: #3B3B3B;

    &:active, &:hover, &:link, &:visited {
      color: #3B3B3B;
    }
  }

  &__container {
    @include govuk-font(14);
    @include govuk-responsive-padding(6, "top");
    @include govuk-responsive-padding(6, "bottom");
    @include govuk-responsive-padding(8, "left");
    @include govuk-responsive-padding(8, "right");
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  &__content {
    @include govuk-font(14);

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__navigation {
    align-items: flex-end;
    display: flex;
  }

  &__navigation-list {
    display: flex;
    margin: 0;
  }

  &__navigation-item {
    @include govuk-font(14);
    @include govuk-responsive-padding(4, "left");
    list-style: none;

    &:first-child {
      @include govuk-responsive-padding(0, "left");
    }
  }
}
