{% extends "layout.html" %}

{% block page_title %}
  Home Office DDaT design patterns
{% endblock %}

{% block content %}

{% set active = "about" %}
{% include "includes/top_nav.html" %}


  <!-- {% block alpha_banner %}
    {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li>Guidance</li>
      </ol>
  </div> -->

  <!-- h1 class="heading-xlarge">Home Office DDaT design patterns</h1 -->

  <!-- {% include "includes/home_office_logo.html" %} -->

<section class="full-width mt-15 mb-30">
  <div class="content-width">
      <h2 class="heading-large">Guidance on using Design Patterns</h2>
      <p>This is the design pattern library for Home Office Digital, Data and Technology (DDaT). It extends the GOV.UK design patterns with patterns for additional use cases and users, particularly around internal services.</p>
  </div>
</section>


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>The intent is to create a common design language amongst delivery teams, making it cheaper to build and scale products and services.</p>

      <p>There is a Design Patterns Working Group who are responsible for accepting new patterns, provide advice and recommendations to Interaction Designers on their use and maintaining the HO Design Patterns library.</p>

      <h2 class="heading-medium">How to use the design patterns</h2>
      <p>When designing services you should consider this framework:</p>
      <ul class="list list-bullet">
        <li>all services&thinsp;&mdash;&thinsp;whether for the public or internal users&thinsp;&mdash;&thinsp;must start by using <a href="https://www.gov.uk/service-manual/service-standard/make-the-user-experience-consistent-with-govuk">GOV.UK design elements and patterns</a>
        <li>if you find those don&rsquo;t meet your users needs, refer to <a href="https://designpatterns.hackpad.com/Design-patterns-0eUk1OdHvql">Design Patterns Hackpad</a> and the Home Office Design Patterns to see if your problem has been solved there</li>
        <li>if that doesn&rsquo;t work raise this in the Interaction Designers slack channel or via the cross government design community&thinsp;&mdash;&thinsp;it&rsquo;s highly likely someone else has solved your particular problem.</li>
        <li>if the pattern isn&rsquo;t in the HO Design Patterns or GOV.UK Design Patterns&thinsp;&mdash;&thinsp;and you think it should be&thinsp;&mdash;&thinsp;then you should raise it as new pattern in the HO Design Patterns <a href="https://trello.com/b/2bSO65iz/ho-design-pattern-requests">Trello Board</a> (ask in the Interaction Design slack channel to be added)</li>
        <li>if you need to design something from scratch&thinsp;&mdash;&thinsp;that&rsquo;s ok. Work with the HO Design Patterns Working Group to get it it accepted into the HO Design Patterns so that everyone can benefit</li>
        <li>this resource will be used by our Service Assessment Team to ensure consistency </li>
      </ul>

      <p>You can also read our guidance on <a href="/contribute">how to contribute</a>.</p>
    </div>

  </div>


</main>

{% endblock %}
