{% extends "layout.html" %}

{% block page_title %}
  Home Office DDaT design patterns
{% endblock %}

{% block content %}

{% set active = "about" %}
{% include "includes/top_nav.html" %}


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-section">About this resource</h1>

      <p>This is the Design Patterns for Home Office Digital, Data and Technology (DDaT). It extends the GOV.UK design patterns with patterns for additional use cases and users, particularly around internal services.</p>

      <p>The intent is to create a common design language amongst delivery teams, making it cheaper to build and scale products and services.</p>

      <p>There is a <a href="/about/working-group">Design Patterns Working Group</a> who are responsible for accepting new patterns, provide advice and recommendations to Interaction Designers on their use and maintaining the HO Design Patterns library. </p>

      <h2 class="heading-medium">How to use the design patterns</h2>

      <p>When designing services you should consider this framework:</p>

      <ul class="list list-bullet">
      <li>all services - whether for the public or internal users - must start by using <a href="https://www.gov.uk/service-manual/service-standard/make-the-user-experience-consistent-with-govuk">GOV.UK design elements and patterns</a></li>
      <li>if you find those don’t meet your users needs, refer to <a href="https://paper.dropbox.com/doc/hkou7bpzKya8Dadv24V1z">Design Patterns Hackpad</a> and the Home Office Design Patterns to see if your problem has been solved there</li>
      <li>if that doesn’t work raise this in the Interaction Designers slack channel or via the cross government design community - it’s highly likely someone else has solved your particular problem. </li>
      <lo>if you need to design something from scratch because there’s no existing pattern - that’s ok. If you think that it should be a pattern then <a href="https://home-office-digital-patterns.herokuapp.com/contribute">follow the contribution guidance</a>.</li>
      </ul>

      <p>Please note that this resource will be used by our Service Assessment Team to check that it is being adhered to.</>



    </div>
  </div>

</main>

{% endblock %}
