{% extends "layout.html" %}

{% block page_title %}
  Home Office DDaT design patterns
{% endblock %}

{% block content %}

{% set active = "about" %}
{% include "includes/top_nav.html" %}


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-section">Digital design guide and patterns library</h1>
      <p>This is the design pattern library for Home Office DDaT, Data and Technology (DDaT). It extends the  <a href="https://govuk-elements.herokuapp.com">GOV.UK design patterns</a> with patterns and components for additional use cases and users, including internal services.</p>
      <p>Read our guidance on <a href="/about/guidance">how to use these patterns</a>.</p>

      <h2 class="heading-medium">Contributing to the patterns</h2>
      <p>For Home Office designers, we have a process for <a href="/process/contribute">contributing to these patterns</a>. We would be happy for feedback if the contribution process doesn&rsquo;t work for you.</p>

      <h3 class="heading-medium">Alpha pattern</h3>
      <p>We&rsquo;ve seen this problem in an area and it is being peer reviewed by the team and iterated upon. The pattern may change quite a lot in alpha. Teams are ok to use this in early prototypes but should not use it in production.</p>


      <h3 class="heading-medium">Beta pattern</h3>
      <p>We&rsquo;re testing a proposed pattern with two or more delivery teams. The pattern is more mature and robust at this stage. Other teams are free to use this pattern in their own prototypes by adding a comment to say that they will be using it. They must also report back on their research findings. </p>

      <h3 class="heading-medium">Live pattern</h3>
      <p>It&rsquo;s in production and research has been evidenced to show it works. It still may be iterated and improved upon. Every team must use this version of the pattern.</p>
    </div>
  </div>

</main>

{% endblock %}
