{% extends "layout.html" %}

{% block page_title %}
  Home Office design system
{% endblock %}

{% block content %}

{% set active = "about" %}
{% include "includes/top_nav.html" %}


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-section">Home Office Design System</h1>

      <p>Design System for Home Office Digital, Data and Technology (DDaT). It extends the GOV.UK system with patterns and components for additional use cases and users. The intent is to help create a common design language amongst delivery teams, making it cheaper to build and scale products and services.</p>

      <p>There is a <a href="/about/working-group">Design System Working Group</a> who are responsible for accepting new patterns. If you’ve got a question or suggestion share it on Slack <a href="slack://channel?id=C0FR8PE8Z&team=T03TJ3P61">#interaction-designers channel</a> or in a <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues">GitHub issue</a>.</p>

      <h2 class="heading-medium">How to use the design system</h2>

      <p>When designing services you should consider this framework:</p>

      <ul class="list list-bullet">
        <li>all services - whether for public or internal users - must start by using <a href="https://www.gov.uk/service-manual/service-standard/make-the-user-experience-consistent-with-govuk">GOV.UK design elements and patterns</a></li>
        <li>if you find those don’t meet your users needs, refer to the Home Office Design system and the cross-Government <a href="https://paper.dropbox.com/doc/GOV.UK-Design-Patterns-Wiki-hkou7bpzKya8Dadv24V1z">Design Patterns wiki</a> to see if the problem has been approached</li>
        <li>if you need to design something new because there’s no existing pattern let us know on Slack <a href="slack://channel?id=C0FR8PE8Z&team=T03TJ3P61">#interaction-designers channel</a> or in a <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues">GitHub issue</a></li>
      </ul>

      <!-- <p>Please note that this resource will be used by our Service Assessment Team to check that it is being adhered to.</p> -->

    </div>
  </div>

</main>

{% endblock %}
