@import "@hods/sass-base";

.hods-timeline {
  overflow: hidden;
  position: relative;

  &__item {
    padding-left: 22px;
    position: relative;
    @include govuk-responsive-padding(2, "bottom");

    &:before { /* styling for lines in margin */
      background-color: govuk-colour("blue");
      content: "";
      padding-top: 0.3em;
      left: 0;
      position: absolute;
      margin-top: 0.55em;
      z-index: 1;
      @include govuk-responsive-padding(3, "right");
    }
  }

  &:before { /* styling for lines in margin */
    background-color: govuk-colour("blue");
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    margin-top: 0.55em;
    padding-left: 0.3em;
    z-index: 1;
  }

  &__title {
    display: inline;
    @include govuk-font(19, 'bold');
  }

  &__by {
    color: govuk-colour('dark-grey');
    display: inline;
    @include govuk-font(16);
  }

  &__date {
    color: govuk-colour('dark-grey');
    @include govuk-font(16);
    @include govuk-responsive-margin(0, "top");
  }

  &__description {
    @include govuk-font(16);
    @include govuk-responsive-margin(5, "top");
  }
}
