@import "@hods/sass-base";
@import "govuk-frontend/govuk/objects/_main-wrapper";
@import "govuk-frontend/govuk/objects/_width-container";
@import "govuk-frontend/govuk/core/_template";

.hods-page,
#story-root,
#root,
body,
html {
  background-color: #F5F5F5 !important;
  color: #0b0c0c;
  margin: 0;
}

.hods-page,
body,
html {
  font-family: 'Inter', 'Arial', sans-serif;
  height: 100%;
}

.hods-page {
  @extend .govuk-template__body;
  display: flex;
  flex-direction: column;
  overflow: initial;
  flex: 1 0 auto;
  padding: initial;

  .hods-page {
    height: initial;
  }

  &__body {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
  }

  &__container {
    flex: 1 1 auto;
  }

  &__main {
    @extend .govuk-main-wrapper;
  }

  aside {
    $home-office: map-get($govuk-colours-organisations, "home-office");

    border-color: map_get($home-office, "colour-websafe");
  }
}

.hods-width-container {
  @extend .govuk-width-container;
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("./fonts/Inter-Thin-BETA.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-Thin-BETA.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("./fonts/Inter-ThinItalic-BETA.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-ThinItalic-BETA.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("./fonts/Inter-ExtraLight-BETA.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-ExtraLight-BETA.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("./fonts/Inter-ExtraLightItalic-BETA.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-ExtraLightItalic-BETA.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("./fonts/Inter-Light-BETA.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-Light-BETA.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("./fonts/Inter-LightItalic-BETA.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-LightItalic-BETA.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Inter-Regular.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-Regular.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Inter-Italic.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-Italic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/Inter-Medium.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-Medium.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/Inter-MediumItalic.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-MediumItalic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/Inter-SemiBold.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-SemiBold.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/Inter-SemiBoldItalic.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-SemiBoldItalic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Inter-Bold.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-Bold.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Inter-BoldItalic.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-BoldItalic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("./fonts/Inter-ExtraBold.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-ExtraBold.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("./fonts/Inter-ExtraBoldItalic.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-ExtraBoldItalic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("./fonts/Inter-Black.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-Black.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("./fonts/Inter-BlackItalic.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-BlackItalic.woff?v=3.11") format("woff");
}
