@import "@hods/sass-base";
@import "govuk-frontend/govuk/objects/_main-wrapper";
@import "govuk-frontend/govuk/objects/_width-container";
@import "govuk-frontend/govuk/core/_template";
@import "./fonts/roboto.scss";

$hods-secondary-button-text-colour: govuk-colour("black");
$hods-secondary-button-background-colour: #F8F8F8;

.hods-page,
#story-root,
#root,
body,
html {
  background-color: #F5F5F5 !important;
  color: #0b0c0c;
  font-family: 'Roboto', 'Arial', sans-serif;
  margin: 0;
}

.hods-page,
body,
html {
  height: 100%;
}

.hods-page {
  @extend .govuk-template__body;
  display: flex;
  flex-direction: column;
  overflow: initial;
  flex: 1 0 auto;
  padding: initial;

  .hods-page {
    height: initial;
  }

  &__body {
    flex: 1 1 auto;
    width: 100%;
  }

  &__container {
  }

  &__main {
    @extend .govuk-main-wrapper;
  }

  aside {
    $home-office: map-get($govuk-colours-organisations, "home-office");

    border-color: map_get($home-office, "colour-websafe");
  }
  
  // The style of the secondary button needs to change due to the grey background of .hods-page
  .govuk-button--secondary {
    background-color: $hods-secondary-button-background-colour;
    border: 1px solid govuk-colour("black");
    padding: 9px 10px; // 2px taller to account for the transparent 2px border in the default button styles
    box-shadow: 0px 1px 0px govuk-colour("black");
  
    &,
    &:link,
    &:visited,
    &:active,
    &:hover {
      color: $hods-secondary-button-text-colour;
    }
  
    &:hover {
      background-color: govuk-shade($hods-secondary-button-background-colour, 10%);
  
      &[disabled] {
        background-color: $hods-secondary-button-background-colour;
      }
    }
  }
}

.hods-width-container {
  @extend .govuk-width-container;
}
