{% extends "layout.html" %}
{% set active = "accessibilitystatement" %}

{% block pageTitle %}
Accessibility statement - Home Office design system
{% endblock %}

{% block content %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">
    <div class="app-prose-scope no-panel">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 id="Accessibility-statement-for-Home-Office-Design-system ">Accessibility statement for Home Office Design System</h1>
          <p>This accessibility statement applies to the Home Office Design system website: https://design.homeoffice.gov.uk</p>
          <p>This website is run by the Home Office. We want as many people as possible to be able to use this website. For example, that means you should be able to: </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts</li>
            <li>zoom in up to 300% without the text spilling off the screen</li>
            <li>navigate most of the website using just a keyboard </li>
            <li>navigate most of the website using speech recognition software</li>
            <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
          </ul>
          <p>We’ve also made the website text as simple as possible to understand.</p>
          <p><a href="https://mcmw.abilitynet.org.uk">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

          <h2 class="govuk-heading-l" id="How-accessible-this-website0is">How accessible this website is</h2>
          <p>We know some parts of this website are not fully accessible. You can see a full list of any issues we currently know about in the Non-accessible content section of this statement.</p>

          <h2 class="govuk-heading-l" id="How-accessible-this-website0is">Feedback and contact information</h2>
          <p>If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille, or need assistance using this website email <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a></p>
          <p>We’ll consider your request and get back to you in 14 days.</p>


          <h2 class="govuk-heading-l" id="Reporting-accessibility-problems-with-this-website">Reporting accessibility problems with this website</h2>
          <p>We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact the Design Operations team on email: <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a></p>

          <h2 class="govuk-heading-l" id="Reporting-accessibility-problems-with-this-website">Enforcement procedure</h2>
          <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com">contact the Equality Advisory and Support Service (EASS)</a>.</p>

          <p>If you are in Northern Ireland and are not happy with how we respond to your complaint you can contact the <a href="https://www.equalityni.org/Home">Equalities Commission for Northern Ireland</a> who are responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’) in Northern Ireland.</p>

          <h2 class="govuk-heading-l" id="Contacting-us-by-phone-or-visiting-us-in-person">Contacting us by phone or visiting us in person </h2>
          <p>Find out how to contact us: <a href="https://design.homeoffice.gov.uk/getinvolved/working">https://design.homeoffice.gov.uk/getinvolved/working</a> </p>

          <h2 class="govuk-heading-l" id="Technical-information-about-this-website’s-accessibility">Technical information about this website’s accessibility</h2>
          <p>The Home Office is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

          <h2 class="govuk-heading-l" id="Compliance-status">Compliance status</h2>
          <p>This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances listed below.</p>

          <h2 class="govuk-heading-l" id="Non-accessible-content">Non-accessible content</h2>

          <h3 class="govuk-heading-s" id="Non-compliance-with-the-accessibility-regulations">Non-compliance with the accessibility regulations</h3>
          <p>All content tested is compliant with the WCAG guidelines to the best of our knowledge. If you find areas in the site that are inaccessible, please contact us. </p>

          <h3 class="govuk-heading-s" id="Disproportionate-burden">Disproportionate burden</h3>
          <p>At this time, we have not made any disproportionate burden claims.</p>

          <h3 class="govuk-heading-s" id="Content-that’s-not-within-the-scope-of-the-accessibility-regulations">Content that’s not within the scope of the accessibility regulations</h3>
          <p>At this time, this service does not contain any content that is exempt from the regulations. </p>

          <h2 class="govuk-heading-l" id="Preparation-of-this-accessibility-statement">Preparation of this accessibility statement</h2>
          <p>This statement was prepared on 18 August 2020. It was last reviewed on 28 September 2020.</p>
          <p>This website was last tested on 11 August 2020. The test was carried out internally by the Home Office.</p>
          <p>We tested the service based on a user's ability to complete key journeys. All parts of the chosen journeys were tested, including documents. Journeys were chosen on a number of factors including usage statistics, risk assessments and subject matter. </p>

        </div>
      </div>

    </div>
  </main>
</div>

{% endblock %}
