{% extends "layout.html" %}

{% block page_title %}
  Home Office DDaT design patterns
{% endblock %}

{% block content %}

<div class="content-width">
  <nav id="nav">

    <div class="navbar">
      <ul class="navbar__list-items">
        <li><a href="/">About</a></li>
        <li><a href="/patterns">Patterns</a></li>
        <li class="active"><a href="/components">Components</a></li>
        <li><a href="/typography">Styles</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/process/contribute">Contributing</a></li>
      </ul>
    </div>

  </nav>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-section">Components</h1>
      <p>Components are the building blocks that are parts of a pattern. They include example components and guidance on usage.</p>

      <h2 class="heading-medium">Beta</h2>
      <ul class="list">
        <li><a href="/icons">Icons</a>: full set of Home Office icons</li>

      </ul>

      <h2 class="heading-medium">Alpha</h2>
      <ul class="list">

        <li><a href="/buttons">Buttons</a>: used when a user needs to take an action, submit data, or make a change to the page.</li>
        <li><a href="/labels">Labels</a>: show classification and marking ownership, they can be useful for users to quickly reference related items</li>
        <li><a href="/modal">Modal</a>: creates focus on a single interaction</li>
      </ul>

      <h2 class="heading-medium">Discovery</h2>
      <ul class="list">
        <li><a href="/badges">Badges</a>: quick identification of numeric values like tallies or quantities</li>
      </ul>

    </div>
  </div>

</main>

{% endblock %}
