{% block top_of_page %}{% endblock %}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ html_lang|default('en') }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ html_lang|default('en') }}"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>{% block page_title %}GOV.UK - The best place to find government services and information{% endblock %}</title>

    <!--[if gt IE 8]><!--><link href="{{ asset_path }}stylesheets/govuk-template.css?0.19.0" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="{{ asset_path }}stylesheets/govuk-template-ie6.css?0.19.0" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="{{ asset_path }}stylesheets/govuk-template-ie7.css?0.19.0" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="{{ asset_path }}stylesheets/govuk-template-ie8.css?0.19.0" media="screen" rel="stylesheet" /><![endif]-->
    <link href="{{ asset_path }}stylesheets/govuk-template-print.css?0.19.0" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="{{ asset_path }}stylesheets/fonts-ie8.css?0.19.0" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="{{ asset_path }}stylesheets/fonts.css?0.19.0" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="{{ asset_path }}javascripts/ie.js?0.19.0"></script><![endif]-->

    <link rel="shortcut icon" href="{{ asset_path }}images/favicon.ico?0.19.0" type="image/x-icon" />
    <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.19.0" color="#0b0c0c">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.19.0">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.19.0">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.19.0">
    <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.19.0">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{{ asset_path }}images/opengraph-image.png?0.19.0">

    {% block head %}{% endblock %}
  </head>

  <body class="{% block body_classes %}{% endblock %}">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% block body_start %}{% endblock %}

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">{{ skip_link_message|default('Skip to main content') }}</a>
      </div>
    </div>

    <div id="global-cookie-message">

        {% block cookie_message %}{% endblock %}

    </div>


    <header role="banner">
      <div class="font-ui wrapper-header__library">
        <div class="grid-row">
          <div class="column-full">
            <div class="header-title">
              <a href="/" class="header-name">Home Office design system</a>
            </div>
          </div>
        </div>
      </div>
    </header>


    {% block after_header %}{% endblock %}

    <div id="global-header-bar-internal"></div>

    {% block content %}{% endblock %}

    <footer role="contentinfo">
      <div class="wrapper-footer__library" style="padding:0;">
        <div class="grid-row">
          <div class="column-full">
            <div class="version">
              <p><a href="https://github.com/UKHomeOffice/home-office-digital-patterns/releases" target="_blank">Version 1.5</a> of the Home Office design system.</p>
            </div>

            <div>
              <div class="footer-logo">
                {% include "includes/home_office_logo.html" %}
              </div>
              <p>Built by Home Office Digital, Data and Technology</p>
            </div>

            <div class="open-government-licence">
              {% block footer_support_links %}{% endblock %}
              {% block licence_message %}<p><a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">{{ crown_copyright_message|default('&copy; Crown copyright')|safe }}</a> - All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="{{ asset_path }}javascripts/govuk-template.js?0.19.0"></script>

    {% block body_end %}{% endblock %}


    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-100424158-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>
