{% extends "layout.html" %}

{% block pageTitle %}
Home - Home Office design system
{% endblock %}

{% block content %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

      <div class="app-prose-scope app-homepage">
        <div class="heading-section-header">
          <h1 class="heading-section">Patterns, components and styles for Home Office services</h1>
        </div>
        <p class="homepage-intro">This design system is for everyone. It's purpose is to extend the GOV.UK Design System with work specific to the Home Office. Learn from the research and experience of other service teams and avoid repeating work that’s already been done.</p>
        <p class="homepage-intro">Work which would benefit teams across government will be contributed to the <a href="https://design-system.service.gov.uk/">GOV.UK system</a>.</p>

        <div class="govuk-grid-row homepage-sections">
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Patterns</h2>
            <p class="govuk-body">Patterns to help users complete common tasks. Patterns are flexible and don't prescribe exact design solutions.</p>
            <a href="patterns">Browse patterns</a>
          </div>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Components</h2>
            <p class="govuk-body">Components are reusable, ready-made interface elements that can be used in different patterns and layouts.</p>
            <a href="components">Browse components</a>
          </div>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Styles</h2>
            <p class="govuk-body">Guidance on how to style digital services for government staff users. These apply to all services not on GOV.UK.</p>
            <a href="styles">Browse styles</a>
          </div>
        </div>
      </div>

  </main>
</div>

{% endblock %}
