{% extends "layout.html" %}

{% block page_title %}
  Home Office Digital design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">Home Office Digital design patterns</h1>

  <div class="grid-row">

    <div class="column-two-thirds">
      <h2 class="heading-medium">Resources</h2>
      <p>These resources are for help developing your design patterns. Always understand your users and always do research with them.</p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third">
      <h3 class="heading-small">Accessibility</h3>
      <ul class="list list-bullet">
        <li>
          <a href="http://webaim.org/resources/contrastchecker/">
            Colour contrast checker
          </a>
        </li>
        <li>
          <a href="http://wave.webaim.org/">
            WAVE (Web Accessibility Evaluation Tool)
          </a>
        </li>
        <li>
          <a href="http://www.freedomscientific.com/Products/Blindness/JAWS">
            JAWS screenreader
          </a>
        </li>
      </ul>
    </div>

    <div class="column-third">
      <h3 class="heading-small">Design</h3>
      <ul class="list list-bullet">
        <li>
          <a href="http://semantic-ui.com/">
            Semantic UI
          </a>
        </li>
        <li>
        	<a href="http://patternlab.io/">
        		Atomic Design
        	</a>
        </li>
        <li>
        	<a href="http://styleguides.io/">
        	Style Guides
        	</a>
        </li>
      </ul>
    </div>

  </div>

</main>

{% endblock %}
