{% extends "layout.html" %}

{% block pageTitle %}
Home - Home Office design system
{% endblock %}

{% block content %}

<div class="app-pane__content">
  <main class="app-content" id="main-content">

    <div class="app-prose-scope app-homepage">

      <!--start 2/3  -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-grid-column-two-thirds">
            <div class="heading-section-header">
              <h1 class="heading-section">Designing and building Home Office services</h1>
            </div>
            <p class="homepage-intro">This design system will help you to design and build internal, as well as public-facing, services that are fit for everyone.</p>
            <p class="homepage-intro">Find out when to use our own styles, components and patterns and when to use the <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a>. See examples from within existing services.</p>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="side-container">
              <h3 class="heading-medium" style="margin-top:10px; margin-bottom: 10px;">Updates</h3>
              <p class="govuk-body govuk-!-font-size-16" style="color: #626a6e">Last updated 26 August 2020</p>
              <ul style="font-size: 16px;">
                <li style="padding-bottom: 6px;"><a href="/community/backlog">Backlog</a></li>
                <li style="padding-bottom: 6px;"><a href="/patterns/find-information-on-a-document">Find information on a document</a></li>
                <li style="padding-bottom: 6px;"><a href="/styles">Styles and branding</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--  -->


      <div class="govuk-grid-row homepage-sections">
        <div class="govuk-grid-column-one-third">
            <div class="side-container">
          <h2 class="govuk-heading-m">Styles</h2>
          <p class="govuk-body">We apply different styles to our services and products depending domain and type of service.</p>
          <a href="styles">Browse styles</a>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="side-container">
          <h2 class="govuk-heading-m">Components</h2>
          <p class="govuk-body">Components are reusable, ready-made interface elements that can be used in different patterns and layouts.</p>
          <a href="components">Browse components</a>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="side-container">
          <h2 class="govuk-heading-m">Patterns</h2>
          <p class="govuk-body">Patterns help users complete common tasks, are flexible and don't prescribe exact design solutions.</p>
          <a href="patterns">Browse patterns</a>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>

{% endblock %}
