{% extends "layout.html" %}

{% block page_title %}
  Performance
{% endblock %}

{% block content %}

<section class="performance-header">
  <div class="performance-wrapper">
    <div class="performance-title">
      <h1 class="heading-section">Performance dashboard</h1>
    </div>
    <div class="navbar">
      <ul class="navbar__list-items">
        <li class="active">
          <a href="#general">Overall</a>
        </li>
        <!-- <li>
          <a href="#quality">Quality</a>
        </li>
        <li>
          <a href="#consistent">Consistent</a>
        </li>
        <li>
          <a href="#community">Community</a>
        </li> -->
      </ul>
    </div>
  </div>
</section>

<main id="content" role="main">

  <div class="performance-data">
    <div class="grid-row">
      <div class="column-full">

        <section id="general">
          <h2 class="heading-large">Overall</h2>
          <span class="performance-month">This month</span>

          <section class="data-section">
            <div class="grid-row">
              <div class="column-full">
                <h3 class="heading-medium">System</h3>
              </div>
              <div class="column-one-quarter">
                <div class="data">
                  <span class="data-item bold-xxlarge">704</span>
                  <span class="data-item bold-xsmall">System visits</span>
                </div>
              </div>
              <div class="column-one-quarter">
                <div class="data">
                  <span class="data-item bold-xxlarge">105</span>
                  <span class="data-item bold-xsmall">Users</span>
                </div>
              </div>
              <div class="column-one-quarter">
                <div class="data">
                  <span class="data-item bold-xxlarge">86%</span>
                  <span class="data-item bold-xsmall">Returning visitors</span>
                </div>
              </div>
              <div class="column-one-quarter">
                <div class="data">
                  <span class="data-item bold-xxlarge">1.40</span>
                  <span class="data-item bold-xsmall">Avg time on page</span>
                </div>
              </div>
            </section>

            <section class="data-section">
              <div class="grid-row">
                <div class="column-full">
                  <h3 class="heading-medium">Community</h3>
                </div>
                <div class="column-one-quarter">
                  <div class="data">
                    <span class="data-item bold-xxlarge">3</span>
                    <span class="data-item bold-xsmall">Patterns pushed to X-gov system</span>
                  </div>
                </div>
                <div class="column-one-quarter">
                  <div class="data">
                    <span class="data-item bold-xxlarge">7</span>
                    <span class="data-item bold-xsmall">Issue comments</span>
                  </div>
                </div>
                <div class="column-one-quarter">
                  <div class="data">
                    <span class="data-item bold-xxlarge">0</span>
                    <span class="data-item bold-xsmall">Pull requests</span>
                  </div>
                </div>
                <div class="column-one-quarter">
                  <div class="data">
                    <span class="data-item bold-xxlarge">62</span>
                    <span class="data-item bold-xsmall">Unique visitors</span>
                  </div>
                </div>
              </section>
        </section>

        <section id="useful" class="js-hidden">
          <h2>Useful</h2>
        </section>

        <section id="quality" class="js-hidden">
          <h2>Higher quality</h2>
        </section>

        <section id="consistent" class="js-hidden">
          <h2>Consistent</h2>
        </section>

        <section id="community" class="js-hidden">
          <h2>Community driven</h2>
        </section>

      </div>
    </div>
  </div>

</main>

{% endblock %}
