{% extends "layout.html" %}

{% block page_title %}
  Home Office DDaT design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">
{% block alpha_banner %}
  {% include "includes/phase_banner_alpha.html" %}
{% endblock %}

<div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li>Typography</li>
    </ol>
</div>

  <div id="hod-row--aqua">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-large">Typography</h2>
        <p>For GOV.UK domains, always use GDS Transport webfont in Light and Bold.<br />
          For internal services, use a Helvetica/Arial font stack.</p>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">Font</h2>
      <p>A Helvetica/Arial font stack already exists in the frontend/prototype toolkit. Use Sass variable <code class="code">$helvetica-regular</code> which declares <code class="code">"HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;</code></p>
    </div>
  </div>

  <div class="example example-images">
    <div class="grid-row">
      <p class="lede"><span class="bold-small">GDS Transport</span><br />
        The quick brown fox jumps over the lazy dog</p>
        <div class="unbranded">
          <p class="lede"><span class="bold-small">Helvetica/Arial</span><br />
            The quick brown fox jumps over the lazy dog</p>
        </div>
    </div>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">Keep your line length between 45 and 75 characters</h2>
      <p>Line length is important for reading comfortably. You should be able to achieve this by keeping content to two thirds of the page container width using <code class="code">.column-two-thirds</code></p>
      <img width="100%" height="auto" style="margin-top:24px;" src="{{ asset_path }}/images/linelength.png" alt="Illustration of the optimal line lengths">
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>More guidance on typography can be found on <a href="http://govuk-elements.herokuapp.com/typography/" target="_blank">GOV.UK elements</a>.</p>
    </div>
  </div>


</main>

{% endblock %}
